@import '../template';
@import '../landscape';

$primary_color: #94BA55;
$secondary_color: #C7DD74;

$border_width_template: 3mm;
$height_header: 17.7mm;
$gap_header: 8mm;

$padding_right_product: 14mm;
$padding_right_logo: 20mm;
$padding_left: 51mm;

$width_sidebar: 99.5mm;
$gap_sidebar: 5.5mm;

$height_padder: 210mm;
$width_padder: 297mm;
$height_footer: 13.2mm;

$height-content: 210mm - $height_header - $gap_header - $height_footer - 0.2mm;

@font-face {
    font-family: 'OpenSans-SemiBold';
    src: url('0_fonts/OpenSans/OpenSans-SemiBold.ttf') format("truetype");
}
@font-face {
    font-family: 'OpenSans-Regular';
    src: url('0_fonts/OpenSans/OpenSans-Regular.ttf') format("truetype");
}
@font-face {
    font-family: 'OpenSans-Bold';
    src: url('0_fonts/OpenSans/OpenSans-Bold.ttf') format("truetype");
}
.col-6 {
    float: left;
    width: 50%;
}
.h-100 {
    height: 100%;
}
.align-r {
    text-align: right;
}
.bat-row {
    display: table-row;
    overflow: hidden;
    width: 100%;
}
.d-table {
    display: table;
}
.table-cell {
    display: table-cell;
    overflow: hidden;
}
.vertical-align {
    vertical-align: middle;
}
.block-radius-top-left:before {
    content: "";
    position: absolute;
    left: -1px;
    top: -1px;
    width: 0;
    height: 0;
    border-right: 4.3mm solid transparent;
    border-top: 4.3mm solid #ffffff;
}

* {
    box-sizing: border-box;
}
.f-l {
    float: left;
}
.f-r {
    float: right;
}
.uppercase {
    text-transform: uppercase;
}
.bat-header, .bat-content {
    padding-right: $padding_right_product;
}
.branding {
    position: absolute;
    margin-left: 51mm;
    bottom: 14mm;
    .madeSp {
        position: relative;
        display: inline-block;
    }

    .madeSpPicto {
        position: relative;
        top: 1mm;
        margin-left: 2mm;
    }
}
.page {
    font-size: 0;
    box-sizing: border-box;

    .padder {
        height: $height_padder;
        width: $width_padder;
        background: url("./images/background.png") no-repeat;
        background-size: $width_padder $height_padder;
        position: relative;
        .bat-header {
            color: #ffffff;
            line-height: $height_header;
            //height: $height_header;
            margin-bottom: $gap_header;
            overflow: hidden;
            box-sizing: border-box;
            position: relative;
            .company {
                height: $height_header;
                * {
                    font-family: OpenSans-Bold;
                }
                img {
                    height: 15mm;
                    margin: 1.35mm 0;
                }
                span {
                    font-size: 19pt;
                    font-weight: 700;
                    margin-left: 2mm;
                }
            }
        }

        .text-header {
            height: 12.8mm;
            position: relative;
            border-bottom: solid 0.5mm $primary_color;
            margin-bottom: 4.3mm;
            img {
                width: 53.7mm;
                position: absolute;
                bottom: 5mm;
                right: 0;
            }
        }

        .bat-content {
            height: $height-content;
            overflow: hidden;
            padding-left: $padding_left;
            padding-bottom: 5mm;
            .title {
                padding-bottom: 5mm;
                border-bottom: solid 0.5mm #94BA55;
                margin-bottom: 12mm;
                position: relative;
                width: 100%;
                .title-header {
                    width: 84mm;
                    text-align: right;
                    min-height: 8.8mm;
                    img {
                        width: 53.7mm;
                        position: absolute;
                        bottom: 5mm;
                        right: 0;
                    }
                }
                .product-title {
                    font-size: 26pt;
                    line-height: 31.1pt;
                    font-weight: 700;
                    font-family: OpenSans-Bold;
                    color: #73943D;
                }
            }

            .container-product {
                margin: -3mm;
            }

            .product-pictures {
                .picture {
                    height: 80mm;
                    float: left;
                    position: relative;
                    padding: 3mm;
                    .picture-item {
                        position: relative;
                        height: 100%;
                        border: solid 0.5mm #94BA55;
                        width: 77.3mm;
                        padding: 3mm 3mm 8.5mm;

                        .picture-container {
                            position: relative;
                            height: 100%;
                            img {
                                position: absolute;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                left: 0;
                                margin: auto;
                                max-width: 100%;
                                max-height: 100%;
                            }
                        }

                    }

                    .picture-label {
                        position: absolute;
                        width: 26mm;
                        height: 8.5mm;
                        background: #94BA55;
                        text-align: center;
                        bottom: -8.5mm;
                        right: -3.2mm;
                        font-size: 12pt;
                        line-height: 24pt;
                        color: #ffffff;
                        font-family: 'OpenSans-Bold';
                        font-weight: 700;
                    }
                }

                &[layout="3-p"] {
                    .picture{
                        .picture-item {
                            width: 73.3mm;
                        }
                    }
                }
                &[layout="4-p"] {
                    .picture{
                        .picture-item {
                            width: 53.3mm;
                        }
                    }
                }
            }
            .product-pictures[layout="3-p"], .product-pictures[layout="4-p"] {
                .picture {
                    height: 60mm !important;
                }
                &+ .sidebar {
                    width: 50%;
                    height: auto;
                    .bat-infos {
                        width: 100%;
                        min-height: 30mm;
                        .client {
                            font-size: 12pt;
                            height: 9mm;
                            line-height: 9mm;
                        }
                        .info-sidebar {
                            overflow: hidden;
                            padding: 0;
                            .info {
                                display: inline-block;
                                float: left;
                                padding: 1mm 3mm;
                                margin: 0 !important;
                                .value{
                                    margin-left: 3mm;
                                    float: none !important;
                                }
                                * {
                                    display: inline-block;
                                }
                            }
                        }

                    }
                }
                &~.validation {
                    width: 100%;
                    height: auto;
                    padding: 0 3mm;
                }
                &~.container-extra-box {
                    width: 50%;
                    .extra-box {
                        width: 100%;
                        height: 30mm;
                    }
                }
            }

            .sidebar {
                overflow: hidden;
                float: left;
                .bat-infos {
                    border: solid 0.5mm #94BA55;
                    width: 65mm;
                    .client {
                        font-size: 19pt;
                        font-weight: 700;
                        font-family: OpenSans-Bold;
                        height: 14mm;
                        line-height: 14mm;
                        color: $primary_color;
                        padding-left: 3mm;
                        border-bottom: solid 0.5mm $primary_color;
                    }
                    .info-sidebar {
                        padding-right: 3mm;
                        padding-left: 3mm;
                        padding-top: 3mm;
                        font-family: OpenSans-Regular;
                        overflow: hidden;
                        font-size: 10.7pt;
                        color: #231F20;
                        .info {
                            line-height: 7mm;
                            .value {
                                float: right;
                                font-family: OpenSans-Bold;
                                color: $primary_color;
                                font-weight: 700;
                            }
                        }
                        .refproduit_container {
                            margin-top: 8mm;
                        }
                    }
                }

            }
            .container-extra-box {
                .extra-box {
                    width: 77.3mm;
                    height: 45mm;
                    border: solid 0.5mm #94BA55;
                    float: left;
                    position: relative;
                    .header-box {
                        font-family: OpenSans-Bold;
                        font-weight: 700;
                        font-size: 12pt;
                        height: 8.6mm;
                        line-height: 8.9mm;
                        padding: 0 3mm;
                        color: #FFFFFF;
                        background: $primary_color;
                        display: inline-block;
                        position: relative;
                        float: left;
                        &:after {
                            content: "";
                            position: absolute;
                            bottom: -1px;
                            right: -1px;
                            width: 0;
                            height: 0;
                            border-left: 4mm solid transparent;
                            border-bottom: 4mm solid #ffffff;
                        }
                    }
                    .sub-header-box {
                        font-family: OpenSans-Regular;
                        font-size: 8.5pt;
                        height: 5.8mm;
                        line-height: 5.8mm;
                        padding: 0 3mm;
                        color: #FFFFFF;
                        background: #80A048;
                        display: inline-block;
                        position: relative;
                        float: left;
                        &:after {
                            content: "";
                            position: absolute;
                            bottom: -1px;
                            right: -1px;
                            width: 0;
                            height: 0;
                            border-left: 4mm solid transparent;
                            border-bottom: 4mm solid #ffffff;
                        }

                    }
                }

            }
            .validation {
                color: #231F20;
                height: 45mm;
                font-family: OpenSans-Regular;
                font-size: 12pt;
                line-height: 14.4pt;
                float: left;
                display: inline-block;
                width: 146mm;
            }

            .sidebar,  .container-extra-box, .validation {
                padding: 3mm;
                float: left;
            }

            .marquages {
                height: 158mm;
                margin: -4mm;
                .marquage {
                    width: 50%;
                    float: left;
                    padding:3mm;
                    .logo-image {
                        border: solid 0.5mm $primary_color;
                        .marquage-namebox {
                            font-family: OpenSans-Bold;
                            font-weight: 700;
                            font-size: 15pt;
                            line-height: 12.6mm;
                            padding: 0 3.7mm;
                            color: #FFFFFF;
                            background: $primary_color;
                            float: left;
                            position: relative;
                            height: 12.6mm;
                            &:after {
                                content: "";
                                position: absolute;
                                bottom: -1px;
                                right: -1px;
                                width: 0;
                                height: 0;
                                border-left: 4mm solid transparent;
                                border-bottom: 4mm solid #ffffff;
                            }
                        }
                        .marquage-size {
                            height: 8.5mm;
                            font-size: 12pt;
                            line-height: 8.5mm;
                            font-family: OpenSans-Regular;
                            padding: 0 3.7mm;
                            color: #FFFFFF;
                            background: $secondary_color;
                            float: left;
                        }
                        .container-logo-img {
                            clear: both;
                            padding:3mm;
                            min-height: 40mm;
                            position: relative;
                            .marquage-image {
                                position: relative;
                                min-height: 35mm;
                                padding: 3mm;

                                img {
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    bottom: 0;
                                    left: 0;
                                    margin: auto;
                                    max-width: 100mm;
                                    max-height: 35mm;
                                }
                            }
                        }
                    }
                    .font_text {
                        margin-right: 1.5mm
                    }
                    .box-logo-color {
                        position: relative;
                        padding: 0 3mm;
                        p {
                            margin: 0;
                        }

                        .box_collection:first-child, .fonts_use:first-child{
                            margin-top: 3mm;
                            padding-top: 3mm;
                            &:before {
                                border: solid 0.5mm $primary_color;
                                display: block;
                                height: 100%;
                                width: 100%;
                                content: "";
                                position: absolute;
                                top: 0;
                                left: 0;
                                bottom: 0;
                                right: 0;
                            }
                        }

                        .infos_container {
                            * {
                                margin: 0;
                                padding: 0;
                            }
                            margin-left: 3mm;
                            .box_fonts {
                                div {
                                    display: inline-block;
                                    font-size: 9.5pt;
                                    font-family: OpenSans-Regular;
                                    color: #333A3A;
                                    line-height: 7mm;
                                    vertical-align: middle;
                                }
                            }
                            .collection_name, .fonts_use {
                                font-size: 12pt;
                                font-family: OpenSans-Bold;
                                color: $primary_color;
                                font-weight: 700;
                                margin-left: -3mm;
                            }
                            .squares_color {
                                width: 33.333%;
                                display: inline-block;
                                margin: 1mm 0;
                                .color_square {
                                    width: 7mm;
                                    display: inline-block;
                                    height: 7mm;
                                    border-radius: 50%;
                                    vertical-align: middle;
                                    border: solid 0.3mm #000000;
                                }
                                .color_text {
                                    font-size: 9.5pt;
                                    font-family: OpenSans-Regular;
                                    color: #333A3A;
                                    line-height: 7mm;
                                    margin-left: 2mm;
                                    vertical-align: middle;
                                }
                            }
                        }
                    }
                }
            }


        }
        .footer {
            height: $height_footer;
            position: relative;
            display: table;
            width: 100%;
            padding-left: 19.5mm;
            .text-note {
                font-size: 11.6pt;
                color: #ffffff;
                line-height: $height_footer;
                vertical-align: middle;
                display: table-cell;
                font-family: OpenSans-SemiBold;
                clear: both;
            }
            .box {
                margin-top: 0;
                display: table-cell;
                vertical-align: middle;
            }
            .pagination {
                position: absolute;
                right: 12mm;
                top: 2mm;
                z-index: 2;
                width: 12mm;
                height: 12mm;
                line-height: 10mm;
                font-size: 18.5pt;
                font-family: 'OpenSans-SemiBold';
                color: #fff;
                text-align: center;
            }
        }
        .radius-bottom-right {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 1;
            height: 34.8mm;
        }
    }
}

#pageEmplacements {
    .bat-content {
        height: $height-content !important;
    }
    .sidebar {
        padding: 3mm;
        width: 50%;
        float: left;
        .bat-infos {
            width: 100%;
        }
        .refproduit_container {
            margin: 0;
        }
        .info {
            display: inline-block;
            float: left;
            padding: 1mm 2mm;
            margin: 0 !important;
            .value{
                margin-left: 2mm;
                float: none !important;
            }
            * {
                display: inline-block;
            }
        }
    }
    .marquage {
        .logo-image {
        }
    }
}
