img {
  max-width: 250px;
  max-height: 250px;
  height: auto;
  width: auto; }

.uppercase {
  text-transform: uppercase; }

.vertical-align {
  height: 100%;
  line-height: inherit; }
  .vertical-align > * {
    display: inline-block;
    vertical-align: middle; }

[hidden-element] {
  display: none !important; }

.branding .madeSp {
  position: absolute;
  text-align: center;
  font-size: 4mm;
  color: #003d9c; }
.branding .madeSpPicto {
  position: absolute;
  width: 4mm; }

@page {
  size: landscape; }

.page {
  background-color: white;
  position: relative;
  width: 297mm;
  height: 210mm; }
  @font-face {
    font-family: 'Montserrat';
    src: url('../0_fonts/Montserrat/Montserrat-Regular.ttf') format("truetype"); }
  @font-face {
    font-family: 'Montserrat';
    font-weight: 600;
    src: url('../0_fonts/Montserrat/Montserrat-SemiBold.ttf') format("truetype"); }

.branding .madeSp {
  bottom: 12mm;
  left: 10mm; }
.branding .madeSpPicto {
  bottom: 13mm;
  left: 51mm; }

.page {
  margin-bottom: 100px !important; }
  .page * {
    font-family: "Montserrat", sans-serif; }
  .page .bat-header {
    background-color: red;
    color: #fff;
    white-space: nowrap;
    padding: 5mm 10mm;
    font-size: 6mm;
    height: 10mm;
    line-height: 10mm; }
    .page .bat-header > div {
      display: inline-block;
      width: 50%; }
      .page .bat-header > div:nth-child(1) {
        text-align: left; }
      .page .bat-header > div:nth-child(2) {
        text-align: right; }
      .page .bat-header > div .logo_header {
        max-height: 100%; }
  .page .bat-content {
    height: 190mm;
    background-color: #f9fafb;
    white-space: nowrap; }
    .page .bat-content > div {
      display: inline-block;
      vertical-align: top;
      box-sizing: border-box; }
      .page .bat-content > div.sidebar {
        width: 70mm;
        background-color: #f4f4f4;
        padding: 5mm;
        position: relative;
        height: 100%; }
        .page .bat-content > div.sidebar .bat-infos {
          font-size: 3mm; }
          .page .bat-content > div.sidebar .bat-infos .client {
            color: red;
            font-size: 4mm; }
          .page .bat-content > div.sidebar .bat-infos .info {
            white-space: nowrap;
            margin-top: 2mm; }
            .page .bat-content > div.sidebar .bat-infos .info span {
              display: inline-block;
              width: 50%; }
        .page .bat-content > div.sidebar .validation {
          position: absolute;
          bottom: 20mm;
          left: 5mm;
          right: 5mm; }
          .page .bat-content > div.sidebar .validation .comment {
            position: absolute;
            bottom: 40mm;
            font-size: 3mm;
            padding: 1px;
            white-space: normal; }
          .page .bat-content > div.sidebar .validation .accord {
            height: 35mm;
            padding: 1.5mm 3mm;
            background: #fff;
            border: 1px solid #d8d8d8; }
            .page .bat-content > div.sidebar .validation .accord .accord-header .accord-title {
              font-size: 4mm; }
            .page .bat-content > div.sidebar .validation .accord .accord-header .accord-extra {
              display: block;
              font-size: 2.5mm; }
        .page .bat-content > div.sidebar .pagination {
          text-align: center;
          color: red;
          position: absolute;
          bottom: 5mm;
          left: 0;
          width: 100%;
          font-size: 4mm; }
      .page .bat-content > div.product, .page .bat-content > div.marquages {
        width: 227mm;
        height: 100%;
        position: relative;
        padding: 10mm; }
        .page .bat-content > div.product .product-pictures, .page .bat-content > div.marquages .product-pictures, .page .bat-content > div.product .contenaire_emplacements, .page .bat-content > div.marquages .contenaire_emplacements {
          position: relative; }
          .page .bat-content > div.product .product-pictures .picture, .page .bat-content > div.marquages .product-pictures .picture, .page .bat-content > div.product .contenaire_emplacements .picture, .page .bat-content > div.marquages .contenaire_emplacements .picture, .page .bat-content > div.product .product-pictures .marquage, .page .bat-content > div.marquages .product-pictures .marquage, .page .bat-content > div.product .contenaire_emplacements .marquage, .page .bat-content > div.marquages .contenaire_emplacements .marquage {
            display: inline-block;
            text-align: center;
            padding: 5mm 2.5mm 15mm;
            position: absolute;
            background: #fff;
            border: 1px solid #d8d8d8; }
            .page .bat-content > div.product .product-pictures .picture img, .page .bat-content > div.marquages .product-pictures .picture img, .page .bat-content > div.product .contenaire_emplacements .picture img, .page .bat-content > div.marquages .contenaire_emplacements .picture img, .page .bat-content > div.product .product-pictures .marquage img, .page .bat-content > div.marquages .product-pictures .marquage img, .page .bat-content > div.product .contenaire_emplacements .marquage img, .page .bat-content > div.marquages .contenaire_emplacements .marquage img {
              max-width: 100%;
              max-height: 100%;
              display: inline-block;
              vertical-align: middle; }
            .page .bat-content > div.product .product-pictures .picture-label, .page .bat-content > div.marquages .product-pictures .picture-label, .page .bat-content > div.product .contenaire_emplacements .picture-label, .page .bat-content > div.marquages .contenaire_emplacements .picture-label, .page .bat-content > div.product .product-pictures .marquage-label, .page .bat-content > div.marquages .product-pictures .marquage-label, .page .bat-content > div.product .contenaire_emplacements .marquage-label, .page .bat-content > div.marquages .contenaire_emplacements .marquage-label {
              position: absolute;
              bottom: 3mm;
              left: 0;
              width: 100%;
              text-align: center;
              color: red;
              font-size: 5mm;
              line-height: normal; }
      .page .bat-content > div.product .product-title {
        font-size: 7mm;
        color: red;
        margin-bottom: 10mm;
        white-space: normal; }
        .page .bat-content > div.product .product-pictures[layout="2-p"] .picture {
          width: 85mm;
          height: 100mm;
          line-height: 100mm; }
          .page .bat-content > div.product .product-pictures[layout="2-p"] .picture:nth-child(1) {
            left: 0; }
          .page .bat-content > div.product .product-pictures[layout="2-p"] .picture:nth-child(2) {
            right: 0; }
      .page .bat-content > div.product .product-pictures[layout="3-p"] .picture, .page .bat-content > div.product .product-pictures[layout="6-p"] .picture {
        width: 55mm; }
        .page .bat-content > div.product .product-pictures[layout="3-p"] .picture:nth-child(3n+1), .page .bat-content > div.product .product-pictures[layout="6-p"] .picture:nth-child(3n+1) {
          left: 0; }
        .page .bat-content > div.product .product-pictures[layout="3-p"] .picture:nth-child(3n+2), .page .bat-content > div.product .product-pictures[layout="6-p"] .picture:nth-child(3n+2) {
          left: 74mm; }
        .page .bat-content > div.product .product-pictures[layout="3-p"] .picture:nth-child(3n+3), .page .bat-content > div.product .product-pictures[layout="6-p"] .picture:nth-child(3n+3) {
          right: 0; }
      .page .bat-content > div.product .product-pictures[layout="3-p"] {
        padding-top: 20mm; }
        .page .bat-content > div.product .product-pictures[layout="3-p"] .picture {
          height: 70mm;
          line-height: 70mm; }
      .page .bat-content > div.product .product-pictures[layout="6-p"] .picture {
        height: 50mm;
        line-height: 50mm; }
        .page .bat-content > div.product .product-pictures[layout="6-p"] .picture:nth-child(n+4) {
          top: 75mm; }
    .page .bat-content > div.product .product-pictures[layout="2-ls"] .picture, .page .bat-content > div.product .product-pictures[layout="4-ls"] .picture {
      height: 40mm;
      line-height: 40mm; }
  .page .bat-content > div.product .product-pictures[layout="2-ls"] .picture {
    width: 202mm; }
    .page .bat-content > div.product .product-pictures[layout="2-ls"] .picture:nth-child(1) {
      top: 0; }
    .page .bat-content > div.product .product-pictures[layout="2-ls"] .picture:nth-child(2) {
      top: 70mm; }
.page .bat-content > div.product .product-pictures[layout="4-ls"] .picture {
  width: 95mm; }
  .page .bat-content > div.product .product-pictures[layout="4-ls"] .picture:nth-child(2n+1) {
    left: 0; }
  .page .bat-content > div.product .product-pictures[layout="4-ls"] .picture:nth-child(2n+2) {
    right: 0; }
  .page .bat-content > div.product .product-pictures[layout="4-ls"] .picture:nth-child(n+3) {
    top: 70mm; }
.page .bat-content > div.product .product-pictures[layout="6-ls"] {
  padding-top: 20mm; }
  .page .bat-content > div.product .product-pictures[layout="6-ls"] .picture {
    width: 60mm;
    height: 25mm;
    line-height: 25mm; }
    .page .bat-content > div.product .product-pictures[layout="6-ls"] .picture:nth-child(3n+1) {
      left: 0; }
    .page .bat-content > div.product .product-pictures[layout="6-ls"] .picture:nth-child(3n+2) {
      left: 70.5mm; }
    .page .bat-content > div.product .product-pictures[layout="6-ls"] .picture:nth-child(3n+3) {
      right: 0; }
    .page .bat-content > div.product .product-pictures[layout="6-ls"] .picture:nth-child(n+4) {
      top: 70mm; }
.page .bat-content > div.product .product-notice {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5mm;
  font-size: 3mm;
  text-align: center; }
.page .bat-content > div.marquages {
  padding: 6mm 20mm; }
  .page .bat-content > div.marquages .contenaire_emplacements .marquage {
    padding-bottom: 5mm; }
    .page .bat-content > div.marquages .contenaire_emplacements .marquage .marquage-image {
      height: 100%;
      background-image: url('https://www.superpictor.com/images/icons/transparent.png');
      background-repeat: repeat;
      background-position: 0 0;
      background-color: #dbdbdb;
      padding: 4mm; }
      .page .bat-content > div.marquages .contenaire_emplacements .marquage .marquage-image .marquage_img {
        vertical-align: top; }
    .page .bat-content > div.marquages .contenaire_emplacements .marquage .marquage-details {
      white-space: normal; }
      .page .bat-content > div.marquages .contenaire_emplacements .marquage .marquage-details .marquage-name {
        color: red;
        font-size: 4.5mm;
        padding: 2mm 0; }
      .page .bat-content > div.marquages .contenaire_emplacements .marquage .marquage-details .marquage-size, .page .bat-content > div.marquages .contenaire_emplacements .marquage .marquage-details .marquage-comment {
        font-size: 3mm; }
      .page .bat-content > div.marquages .contenaire_emplacements .marquage .marquage-details .marquage-comment {
        padding-bottom: 3mm; }
      .page .bat-content > div.marquages .contenaire_emplacements .marquage .marquage-details .marquage-size {
        padding-bottom: 1mm; }
    .page .bat-content > div.marquages .contenaire_emplacements .marquage .colors_container .box_squares_color .box_collection {
      padding: 1mm 0;
      text-align: start; }
      .page .bat-content > div.marquages .contenaire_emplacements .marquage .colors_container .box_squares_color .box_collection .collection_name {
        font-weight: bold;
        margin: 0; }
    .page .bat-content > div.marquages .contenaire_emplacements .marquage .colors_container .box_squares_color[type_display="0"] .squares_color {
      display: block;
      text-align: left; }
  .page .bat-content > div.marquages .contenaire_emplacements .marquage .colors_container .box_squares_color[type_display="1"] .squares_color {
    display: inline-block; }
  .page .bat-content > div.marquages .contenaire_emplacements .marquage .colors_container .squares_color {
    padding: 1mm 4mm 2mm 0; }
    .page .bat-content > div.marquages .contenaire_emplacements .marquage .colors_container .squares_color .color_square {
      margin-right: 0.2mm;
      display: inline-block;
      vertical-align: middle;
      border: 1px solid black;
      width: 3mm;
      height: 3mm; }
    .page .bat-content > div.marquages .contenaire_emplacements .marquage .colors_container .squares_color .color_text {
      display: inline-block;
      vertical-align: middle;
      font-size: 12px; }
.page .bat-content > div.marquages .contenaire_emplacements[layout="1"] .marquage {
  width: 130mm;
  left: 20mm; }
  .page .bat-content > div.marquages .contenaire_emplacements[layout="1"] .marquage .marquage-image {
    height: 60mm;
    line-height: 110mm; }
.page .bat-content > div.marquages .contenaire_emplacements[layout="2"] .marquage {
  width: 95mm; }
  .page .bat-content > div.marquages .contenaire_emplacements[layout="2"] .marquage .marquage-image {
    height: 34mm;
    line-height: 75mm; }
  .page .bat-content > div.marquages .contenaire_emplacements[layout="2"] .marquage:nth-child(1) {
    left: -10mm; }
  .page .bat-content > div.marquages .contenaire_emplacements[layout="2"] .marquage:nth-child(2) {
    right: -10mm; }
.page .bat-content > div.marquages .contenaire_emplacements[layout="4"] .marquage {
  width: 80mm;
  height: 70mm; }
  .page .bat-content > div.marquages .contenaire_emplacements[layout="4"] .marquage .marquage-image {
    height: 60mm;
    line-height: 60mm; }
  .page .bat-content > div.marquages .contenaire_emplacements[layout="4"] .marquage:nth-child(2n+1) {
    left: 0; }
  .page .bat-content > div.marquages .contenaire_emplacements[layout="4"] .marquage:nth-child(2n+2) {
    right: 0; }
  .page .bat-content > div.marquages .contenaire_emplacements[layout="4"] .marquage:nth-child(n+3) {
    top: 90mm; }
.page .bat-content > div.marquages .contenaire_emplacements[layout="6"] {
  padding-top: 20mm; }
  .page .bat-content > div.marquages .contenaire_emplacements[layout="6"] .marquage {
    width: 60mm;
    height: 50mm; }
    .page .bat-content > div.marquages .contenaire_emplacements[layout="6"] .marquage .marquage-image {
      height: 40mm;
      line-height: 40mm; }
    .page .bat-content > div.marquages .contenaire_emplacements[layout="6"] .marquage:nth-child(3n+1) {
      left: -10mm; }
    .page .bat-content > div.marquages .contenaire_emplacements[layout="6"] .marquage:nth-child(3n+2) {
      left: 60mm; }
    .page .bat-content > div.marquages .contenaire_emplacements[layout="6"] .marquage:nth-child(3n+3) {
      right: -10mm; }
    .page .bat-content > div.marquages .contenaire_emplacements[layout="6"] .marquage:nth-child(n+4) {
      top: 90mm; }
.page .fiche_produit_header {
  height: 10mm;
  background-color: #003d9c;
  padding: 5mm 6mm;
  color: white;
  position: relative; }
  .page .fiche_produit_header .client_company {
    position: absolute;
    font-size: 8mm; }
  .page .fiche_produit_header .client_logo {
    height: 100%;
    margin-right: 3mm; }
  .page .fiche_produit_header .client_name {
    position: absolute;
    right: 6mm;
    font-size: 8mm; }
.page .fiche_produit_content {
  font-size: 0;
  background-color: #f9fafb;
  padding: 6mm;
  height: 190mm;
  box-sizing: border-box; }
  .page .fiche_produit_content .product {
    height: 100%;
    box-sizing: border-box; }
    .page .fiche_produit_content .product .product_pictures {
      vertical-align: top;
      width: 139mm;
      display: inline-block; }
      .page .fiche_produit_content .product .product_pictures .picture {
        max-width: 65mm;
        width: 100%;
        text-align: center;
        display: inline-block;
        background-color: white;
        border: 1px solid #d8d8d8;
        padding: 8mm 1mm 0 1mm; }
        .page .fiche_produit_content .product .product_pictures .picture:nth-child(1) {
          margin-bottom: 2mm; }
        .page .fiche_produit_content .product .product_pictures .picture:nth-child(1), .page .fiche_produit_content .product .product_pictures .picture:nth-child(3) {
          margin-right: 1mm; }
        .page .fiche_produit_content .product .product_pictures .picture:nth-child(2), .page .fiche_produit_content .product .product_pictures .picture:nth-child(4) {
          margin-left: 1mm;
          margin-right: 1mm; }
        .page .fiche_produit_content .product .product_pictures .picture .picture_label {
          padding: 3mm 0;
          text-align: center;
          font-size: 4mm;
          color: #003d9c; }
      .page .fiche_produit_content .product .product_pictures[layout="1"] .picture {
        width: 135mm;
        max-width: 100%;
        height: 169.4mm; }
        .page .fiche_produit_content .product .product_pictures[layout="1"] .picture .imgpdt {
          max-height: 156mm;
          max-width: 134mm; }
        .page .fiche_produit_content .product .product_pictures[layout="1"] .picture .picture_label {
          font-size: 5mm; }
    .page .fiche_produit_content .product .product_pictures[layout="4"] .picture, .page .fiche_produit_content .product .product_pictures[layout="2"] .picture {
      height: 79.4mm; }
      .page .fiche_produit_content .product .product_pictures[layout="4"] .picture .imgpdt, .page .fiche_produit_content .product .product_pictures[layout="2"] .picture .imgpdt {
        max-height: 68.7mm; }
    .page .fiche_produit_content .product .product_infos {
      background: white;
      border: 1px solid #d8d8d8;
      padding: 8mm;
      width: 145mm;
      display: inline-block;
      height: 100%;
      box-sizing: border-box; }
      .page .fiche_produit_content .product .product_infos .m-3 {
        margin-top: 5mm; }
      .page .fiche_produit_content .product .product_infos .info_text, .page .fiche_produit_content .product .product_infos li {
        font-size: 3.6mm; }
      .page .fiche_produit_content .product .product_infos .info_title {
        font-size: 4.2mm;
        text-decoration: underline;
        margin-bottom: 1.4mm;
        font-weight: 600; }
      .page .fiche_produit_content .product .product_infos .product_title {
        padding-right: 2mm; }
      .page .fiche_produit_content .product .product_infos .product_title, .page .fiche_produit_content .product .product_infos .product_current_color {
        font-size: 6mm;
        color: #003d9c; }
      .page .fiche_produit_content .product .product_infos .product_desc {
        font-size: 3.5mm;
        margin-top: 2mm;
        line-height: 5mm; }
        .page .fiche_produit_content .product .product_infos .product_color .info_text {
          text-align: justify;
          line-height: 22px; }
      .page .fiche_produit_content .product .product_infos .product_category li {
        margin: 0 0 1mm 4mm; }
    .page .fiche_produit_content .product .client_infos {
      margin-right: 2mm;
      background: white;
      border: 1px solid #d8d8d8;
      padding: 8mm; }
