@import '../template';
@import '../landscape';

$primary_font: "Montserrat" !default;
$width_sidebar: 68mm;
$primary_color: #EB8B2D;


@font-face {
  font-family: 'Montserrat';
  src: url('0_fonts/Montserrat-Regular.ttf') format("truetype");
}

@font-face {
  font-family: 'Avenir Book';
  src: url('0_fonts/Avenir Book.ttf') format("truetype");
}
@font-face {
  font-family: 'Avenir-Oblique';
  src: url('0_fonts/Avenir-Oblique.ttf') format("truetype");
}

.page {
  font-size: 0;
  &.none-page {
    display: none;
  }
  .padder {
    width: 298mm;
    height: 210mm;
  }
  * {
    font-family: $primary_font, sans-serif;
    box-sizing: border-box;
  }

  .h-100 {
    height: 100%;
  }
  .d-table {
    display: table;
    width: 100%;
    height: 100%;
  }
  .d-table-row {
    display: table-row;
  }
  .d-table-cell {
    display: table-cell;
    vertical-align: middle;
  }
  .sidebar {
    width: $width_sidebar;
    vertical-align: top;
    .bat-header {
      padding-top: 3.5mm;
      .title-header {
        line-height: 13.5mm;
        height: 13.5mm;
        background: $primary_color;
        color: #FFFFFF;
        font-family: "Avenir Book";
        font-size: 27pt;
        font-weight: 600;
        text-transform: uppercase;
        padding: 0 5.5mm;
        position: relative;
        width: $width_sidebar - 3.5mm;
        &:after {
          content: "";
          position: absolute;
          right: -3.4mm;
          top: 0;
          width: 0;
          height: 0;
          border-right: 3.5mm solid transparent;
          border-top: 13.5mm solid $primary_color;
        }
      }
    }
    .container-bat-info {
      padding-left: 5.5mm;
      padding-top: 9mm;
      .container-info {
        * {
          font-family: "Avenir Book";
          color: $primary_color;
          font-size: 18pt;
          line-height: 20pt;
        }
        .label {
          font-weight: 900 !important;
          &:after {
            content: ":";
            display: inline-block;
            margin: 0 1mm;
          }
        }
        .value {
          font-weight: 300 !important;
        }
      }
    }
  }
  .product {
    height: 210mm - 17mm;
    //vertical-align: top;
    .product-pictures {
      height: 100%;
      .picture {
        height: 100%;
        .picture-item {
          height: 100%;
          width: 100%;
          position: relative;
          img {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            margin: auto;
            max-width: 75mm;
            max-height: 100%;
          }
        }
      }
      &[layout="2-p"] {
        .picture {
          display: inline-block;
          width: 50%;
        }
      }
      &[layout="3-p"] {
        .picture {
          display: inline-block;
          width: 50%;
          height: 50%;
          img {
            max-height: 65mm;
          }
        }
        .picture:first-child {
          display: inline-block;
          width: 100%;
        }
      }
    }
  }
  .logo {
    width: 70mm;
    vertical-align: top;
    img {
      max-width: $width_sidebar;
      width: $width_sidebar;
      height: 18mm;
    }
  }
  .bat-content {
    height: 210mm - 17mm;
  }
  .commande_container {
    display: inline-block;
    .marquage-namebox {
      display: none;
    }
    .marquage {
      display: none;
      &:first-child {
        display: inline-block;
      }
    }
  }

  .footer {
    height: 14.5mm;
    text-align: center;
    .company-contacts {
      width: 297mm;
      height: 7.8mm;
      * {
        font-family: "Avenir Book";
        font-size: 13pt;
        line-height: 7.8mm;
        vertical-align: middle;
        font-weight: 400;
      }
      .logo-footer {
        vertical-align: middle;
        img {
          min-height: 7.8mm;
          width: 29mm;
          vertical-align: middle;
        }
      }
      > div {
        display: inline-block;
      }
      .contact-item + .contact-item {
        &:before {
          content: "";
          display: inline-block;
          height: 0.5mm;
          width: 2.3mm;
          background: $primary_color;
          position: relative;
          top: -1mm;
        }
      }
    }
    .product-notice {
      font-family: "Avenir-Oblique";
      font-size: 8pt;
      font-weight: 600;
      margin-top: 1mm;
    }
  }
}
