@font-face {
  font-family: 'Open Sans';
  src: url(0_fonts/OpenSans/OpenSans-Regular.ttf);
}

@font-face {
  font-family: 'Open Sans';
  src: url(0_fonts/OpenSans/OpenSans-Bold.ttf);
  font-weight: bold;
}

.page {
  position: relative;
  margin: auto;
  width: 210mm;
  height: 297mm;
  background: white;
}

.page * {
  font-size: 11px;
  font-family: 'Open Sans';
  margin: 0mm;
}

.page .header {
  position: absolute;
  top: 10mm;
  left: 10mm;
  width: 190mm;
}

.page .header img {
  width: 40mm;
}

.page .header .info {
  position: absolute;
  padding: 5mm;
  top: 0mm;
  right: 10mm;
  border: black 1px solid;
}

.page .warning {
  position: absolute;
  top: 27mm;
  left: 38mm;
}

.page .contact_infos .contain {
  position: absolute;
  top: 50mm;
}

.page .contact_infos .infoHead { font-weight: bold; }

.page .contact_infos .infoHead,
.page .contact_infos .infos {
  border: black 1px solid;
  width: 55mm;
  text-align: center;
}

.page .contact_infos .infos {
  height: 20mm;
}

.page .contact_infos .name {
  left: 10mm;
}

.page .contact_infos .addr {
  left: 72mm;
}

.page .contact_infos .fact {
  left: 135mm;
}

.page .warning2 {
  text-align: center;
  position: absolute;
  top: 80mm;
  width: 210mm;
}

.page .warning2 #imp {
  font-weight: bold;
}

.page #pdtImg {
  position: absolute;
  margin-left: 10mm;
  top: 100mm;
  max-height: 85mm;
  max-width: 190mm;
}

.page table {
  position: absolute;
  top: 190mm;
  border-collapse: collapse;
  text-align: center;
}

.page table thead {
  background: #0064b4;
  color: white;
}

.tableCell {
  padding: 0mm;
  width: 8mm;
  border: 1px solid black;
}

.page #pric_qty {
  left: 10mm;
}

.page #pric_qty td {
  width: 15mm;
}

.page #size_qty {
  left: 107mm;
}

.page #observ {
  top: 213mm;
  max-width: 98%;
  max-height: 12mm;
  position: absolute;
  overflow: hidden;
  left: 2%;
}

.page .warning3 {
  position: absolute;
  top: 230mm;
  left: 10mm;
  width: 210mm;
}

.page .warning3 #imp {
  font-weight: bold;
}

.page .client_infos .contain {
  position: absolute;
  top: 250mm;
}

.page .client_infos .infoHead { font-weight: bold; }

.page .client_infos .infoHead,
.page .client_infos .infos {
  border: black 1px solid;
  width: 55mm;
  text-align: center;
}

.page .client_infos .infos {
  height: 20mm;
}

.page .client_infos .repres {
  left: 10mm;
}

.page .client_infos .service {
  left: 72mm;
}

.page .client_infos .accord {
  left: 135mm;
}

.page .client_infos .accord .infos {
  height: 25mm;
}

.page .client_infos .accord .infos #imp {
  font-weight: bold;
  font-size: 10px;
}

.page .client_infos .accord .infos p {
  font-size: 9px;
}

.page .warning4 {
  position: absolute;
  top: 280mm;
  left: 10mm;
  width: 190mm;
}

.page .warning4 #footer {
  font-size: 9px;
  text-align: center;
  background: #ff0000;
  padding: 2mm;
  border: solid 1px black;
}