@font-face {
  font-family: 'Open Sans';
  src: url(0_fonts/OpenSans/OpenSans-Regular.ttf);
}

.page {
  font-family: 'Open Sans';
  width: 297mm;
  height: 210mm;
  position: relative;
}

p {
  margin: 0;
  padding: 0;
}

.padder {
  width: 100%;
  height: 100%;
  background-size: contain;
  background: #FFFFFF;
}

.border {
  position: relative;
  top: 10mm;
  background: url('./images/background.png') no-repeat;
  background-size: 274mm 190mm;
  left: 11mm;
  width: 274mm;
  height: 184mm;
}

.infosHeader {
  position: absolute;
  top: 15mm;
  left: 65mm;
}
.infosHeader div {
  display: inline-block;
  width: 50mm;
  height: 7mm;
  text-align: center;
  font-weight: bold;
  color: #116ab5;
  border: solid 2px #116ab5;
  font-size: 5mm;
  margin: auto 0mm;
}
.infosHeader #headerClub {
  border-left: unset;
  border-right: unset;
  width: 110mm;
}
.bat-header img {
  position: absolute;
  top: 12mm;
  left: 13mm;
  width: 40mm;
}

.noContract {
  position: absolute;
  height: 100mm;
  left: 15mm;
  bottom: 16mm;
}
.scale {
  position: absolute;
  height: 100mm;
  right: 12mm;
  bottom: 16mm;
}

.product-pictures {
  position: absolute;
  margin-left: 30mm;
  margin-top: 35mm;
  top: 10mm;
}
.product-pictures .picture { display: inline-block; }
.product-pictures .picture img {
  max-width: 100mm;
  max-height: 100mm;
  margin: 12mm;
}

.rightInfos {
  position: absolute;
  top: 170mm;
  right: 30mm;
}
.rightInfos div {
  text-align: center;
  color: #118554;
  border: solid 2px #116ab5;
  background: white;
  width: 30mm;
  height: 7mm;
  margin-top: 3mm;
  font-size: 4mm;
}

.bottomInfos {
  position: absolute;
  top: 175mm;
  left: 136mm;
}
.bottomInfos div {
  background: #d4d5d7;
  color: black;
  font-size: 3mm;
  padding: 1mm 3mm;
  margin-top: 1mm;
}

.footer {
  color: white;
  background-color: #116ab5;
  text-align: center;
  margin-top: 11mm;
  width: 277mm;
  margin-left: 11mm;
  font-size: 3mm;
}

.marquages {
  position: absolute;
  top: 12mm;
  left: 13mm;
  width: 274mm;
  height: 184mm;
  font-size: 3mm;
}
.marquage {
  border: solid 2px #116ab5;
  width: 100mm;
  background: white;
  position: absolute;
  text-align: center;
}
.marquage img { width: 90mm; }
.marquage-image {
  background-image: url('https://www.superpictor.com/images/icons/transparent.png');
  background-repeat: repeat;
  background-position: 0 0;
  background-color: #dbdbdb;
  padding: 4mm;
}

.contenaire_emplacements[layout="1"] .marquage{
  top: 20mm;
  left: 50mm;
  width: 170mm;
  height: 130mm;
}

.contenaire_emplacements[layout="2"] .marquage{
  width: 100mm;
  height: 130mm;
}
.contenaire_emplacements[layout="2"] .marquage:nth-child(1){
  top: 25mm;
  left: 30mm;
}
.contenaire_emplacements[layout="2"] .marquage:nth-child(2){
  top: 25mm;
  left: 143mm;
}

.contenaire_emplacements[layout="4"] .marquage {
  width: 85mm;
  height: 85mm;
}
.contenaire_emplacements[layout="4"] .marquage img {
  width: auto;
  max-height: 40mm;
  max-width: 100%;
}
.contenaire_emplacements[layout="4"] .marquage:nth-child(1){
  top: 5mm;
  left: 40mm;
}
.contenaire_emplacements[layout="4"] .marquage:nth-child(2){
  top: 5mm;
  left: 153mm;
}
.contenaire_emplacements[layout="4"] .marquage:nth-child(3){
  top: 95mm;
  left: 40mm;
}
.contenaire_emplacements[layout="4"] .marquage:nth-child(4){
  top: 95mm;
  left: 153mm;
}


.squares_color {
  display: inline-block;
  margin-top: 1mm;
  margin-left: 1mm;
}

.colors_container {
  text-align: left;
  /* padding: 2mm; */
  overflow: hidden;
}

.collection_name {
  margin-left: 1mm;
  font-weight: bold;
}
.color_square {
  margin-right: 0.2mm;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid black;
  width: 3mm;
  height: 3mm;
  margin-left: 2mm;
}
.color_text {
  display: inline-block;
  vertical-align: middle;
  font-size: 3mm
}
