@import '../template';
@import '../landscape';
$width_page: 210mm;
$height_page: 297mm;
$primary_font: "Montserrat" !default;
$padding_top: 7.5mm;
$padding_left: 10mm;
$padding_right: 8.5mm;
@font-face {
  font-family: 'Montserrat';
  src: url('0_fonts/Montserrat-Regular.ttf') format("truetype");
}
@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('0_fonts/Myriad Pro Regular.ttf') format("truetype");
}
@font-face {
  font-family: 'MyriadPro-Light';
  src: url('0_fonts/MyriadPro-Light.ttf') format("truetype");
}
@font-face {
  font-family: 'BMDANIEL-Bold';
  src: url('0_fonts/BMDANIEL-Bold.ttf') format("truetype");
}
@font-face {
  font-family: 'ArimaMadurai-Black';
  src: url('0_fonts/ArimaMadurai-Regular.ttf') format("truetype");
}
@font-face {
  font-family: 'UTM Avo';
  src: url('0_fonts/UTM Avo.ttf') format("truetype");
}
@font-face {
  font-family: 'Effra-Bold';
  src: url('0_fonts/Effra-Bold.ttf') format("truetype");
}
@font-face {
  font-family: 'Effra-Regular';
  src: url('0_fonts/Effra-Regular.ttf') format("truetype");
}
@font-face {
  font-family: 'UTM-Helve';
  src: url('0_fonts/UTM-Helve.ttf') format("truetype");
}
.fiche_produit {
  width: $width_page;
  height: $height_page;
  * {
    font-family: $primary_font, sans-serif;
    box-sizing: border-box;
  }
  .h-100 {
    height: 100%;
  }
  .d-table {
    display: table;
    width: 100%;
    height: 100%;
  }
  .d-table-row {
    display: table-row;
  }
  .d-table-cell {
    display: table-cell;
    vertical-align: middle;
  }
  .padder {
    width: $width_page;
    height: $height_page;
    padding: $padding_top $padding_right 0 $padding_left;
    background: url("./images/background.png") no-repeat;
    background-size: $width_page $height_page;
    &.none-page {
      display: none;
    }

    .header {
      > div {
        display: inline-block;
        float: left;
        width: 50%;
      }
      .logo {
        img {
          height: 11.5mm;
        }
      }
      .client_name {
        font-family: "MyriadPro-Regular";
        font-size: 19pt;
        text-align: right;
      }
    }
    .product-title-container {
      margin: 8mm 18mm 11mm;
      .product_title_text {
        font-family: "BMDANIEL-Bold";
        font-size: 22.5pt;
        background: #FB0624;
        border-radius: 5px;
        padding: 2.5mm 5mm;
        text-align: center;
        color: #FFFFFF;
      }
    }

    .product-pictures {
      > div {
        display: inline-block;
      }
      .refproduit_container {
        width: 33.333%;
        padding: 4mm 0;
        vertical-align: top;
        border-right: 2px solid #000000;
        float: left;
        * {
          font-family: "UTM-Helve";
          font-size: 9.5pt;
        }
      }
      .contenaire_produit {
        width: 66.6667%;
        .product-picture-item {
          width: 50%;
          display: inline-block;
          padding: 0 3mm;
          border-right: 2px solid #000000;
          .product-img {
            position: relative;
            height: 65mm;
            img {
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              margin: auto;
              max-width: 60mm;
              max-height: 100%;
            }
          }
          .picture-label {
            text-align: center;
            font-family: "UTM Avo";
            font-size: 21pt;
          }
        }
      }
    }
    .description {
      .description-label {
        padding-top: 3mm;
        font-family: "Effra-Bold";
        font-size: 19pt;
      }
      .value {
        font-family: "Effra-Regular";
        font-size: 15pt;
        padding-bottom: 3mm;
        text-align: justify;
      }
    }
     p {
      margin: 0;
    }
    .product-info {
      width: 70%;
      overflow: hidden;
      .product-item-info {
        width: 50%;
        display: inline-block;
        float: left;
        padding-top: 3mm;
        min-height: 17mm;
        .label {
          font-family: "UTM-Helve";
          font-size: 15pt;
          text-decoration: underline;
        }
        .value {
          font-family: "UTM-Helve";
          font-size: 13pt;
        }
      }
    }
    .product-info-container {
      height: 100%;
    }
    .product-color {
      .label {
        padding-top: 3mm;
        font-family: "UTM-Helve";
        font-size: 15pt;
        text-decoration: underline;
      }
      .value {
        font-family: "UTM-Helve";
        font-size: 13pt;
      }
    }
    .branding {
      position: absolute;
      bottom: 1mm;

      .madeSp {
        position: relative;
        display: inline-block;
      }

      .madeSpPicto {
        position: relative;
        width: 4mm;
        top: 1mm;
        display: inline-block;
      }
    }
  }
}
