@import '../template';

$height_padder: 297mm;
$width_padder: 210mm;
$padding_page: 14mm;

$height_header: 35mm;
$height_info: 30mm;
$height_footer: 38mm;
$height_validation: 60mm;
$height_content: $height_padder - $height_header - $height_footer;
$height_product: $height_content - $height_validation -$height_info;

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('0_fonts/Montserrat-Medium.ttf') format("truetype");
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('0_fonts/Montserrat-Regular.ttf') format("truetype");
}

@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('0_fonts/Myriad Pro Regular.ttf') format("truetype");
}
@font-face {
  font-family: 'MyriadPro-Light';
  src: url('0_fonts/MyriadPro-Light.ttf') format("truetype");
}

@font-face {
  font-family: 'UTM Avo';
  src: url('0_fonts/UTM Avo.ttf') format("truetype");
}
@font-face {
  font-family: 'AcuminPro-Regular';
  src: url('0_fonts/AcuminPro-Regular.ttf') format("truetype");
}
@font-face {
  font-family: 'AcuminProSemiCond-ExtraLight';
  src: url('0_fonts/AcuminProSemiCond-ExtraLight.ttf') format("truetype");
}

.page {
  font-size: 0;
  box-sizing: border-box;
  height: $height_padder;
  width: $width_padder;
  * {
    box-sizing: border-box;
  }
  .uppercase {
    text-transform: uppercase;
  }

  .padder {
    height: $height_padder;
    width: $width_padder;
    background: url("./images/background.png") no-repeat;
    background-size: $width_padder $height_padder;
    position: relative;

    .bat-header {
      padding-top: 10.4mm;
      height: $height_header;

      div {
        display: inline-block;
      }

      .block-header {
        height: 8.5mm;
        margin-left: 5.8mm;

        img {
          height: 8.5mm;
          max-width: inherit;
        }

        * {
          line-height: 8.5mm;
          font-size: 16pt;
          color: #FFFFFF;
          font-family: MyriadPro-Regular;
        }
      }

      .title-header {
        float: right;
        font-size: 19pt;
        color: #FFFFFF;
        font-family: MyriadPro-Regular;
        margin-right: 8mm;
        margin-top: -4mm;
      }

    }

    .bat-content {
      height: $height_content;
      .bat-infos {
        padding: 0  5mm 0 $padding_page;
        height: $height_info;
        .bat-infos-box {
          height: $height_info;
          background: url("./images/bg_info.png") no-repeat;
          background-size: 100% $height_info;
          float: left;
          padding-left: 5mm;
          border-top-left-radius: 6mm;
          border-bottom-left-radius: 6mm;
          padding-right: 15mm;
          margin-right: 10mm;
          width: 70mm;
          * {
            color: #FFFFFF;
          }
          .client {
            height: 8mm;
            line-height: 8mm;
            font-size: 14pt;
            font-family: "MyriadPro-Regular";
          }
          .info-sidebar {
            padding: 1mm 0;
            .info {
              font-size: 10pt;
              line-height: 14pt;
              font-family: "MyriadPro-Light";
              .label {
                margin-right: 2mm;
              }
              .value {
                float: right;
              }
            }
          }

        }
        .product-title {
          color: #010101;
          font-size: 17.5pt;
          font-family: UTM Avo;
          max-width: 105mm;
          height: 30mm;
          vertical-align: middle;
          display: table-cell;
        }
      }

      .container-product {
        clear: both;
        height: $height_product;
        .product-pictures {
          padding: 0 $padding_page;
          margin: 0 -3mm;
          .picture {
            display: inline-block;
            height: $height_product;
            padding: 5mm 3mm;
            .picture-item {
              background: url("./images/border-img.png") no-repeat;
              background-size: 100% 100%;
              position: relative;
              padding-bottom: 10mm;
              max-width: 80mm;
              margin: auto;
              .picture-container {
                position: relative;
                height: $height_product - 16;
                img {
                  position: absolute;
                  top: 0;
                  right: 0;
                  bottom: 0;
                  left: 0;
                  margin: auto;
                  max-width: 88mm;
                }
              }
              .picture-label {
                font-family: "UTM Avo";
                font-size: 19pt;
                color: #3F94CC;
                text-align: center;
                position: absolute;
                bottom: 20mm;
                left: 0;
                right: 0;
                text-transform: uppercase;
              }
            }

          }
          &[layout="1-p"] {
            .picture  {
              width: 100%;
            }
          }
          &[layout="2-p"] {
            .picture  {
              width: 50%;
            }
          }
          &[layout="3-p"] {
            .picture  {
              width: 33.3333%;
              img {
                max-width: 50mm !important;
              }
            }
          }
          &[layout="4-p"] {
            .picture  {
              width: 25%;
              .picture-container {
                height: 90mm;
                img {
                  max-width: 25mm;
                }
              }

            }
          }
        }

      }

      .validation {
        padding: 0 $padding_page;
        position: relative;
        .comment {
          background: url("./images/bg_comment.png") no-repeat;
          background-size: 135mm auto;
          width: 135mm;
          min-height: 56.2mm;
          padding: 6mm 20mm 6mm 17mm;
          * {
            font-family: MyriadPro-Regular;
            font-size: 11pt;
            line-height: 14pt;
          }
          .comment-content {
            width: 97mm;
          }
        }
        .accord {
          background: url("./images/border_accord.png") no-repeat;
          background-size: 68mm $height_validation;
          height: $height_validation;
          width: 68mm;
          position: absolute;
          top: -2mm;
          right: 11mm;
          * {
            display: block;
          }
          .accord-header {
            margin-top: 10mm;
            margin-left: 8mm;
            .accord-title {
              font-size: 13.75pt;
              font-family: AcuminPro-Regular;
            }
            .accord-extra {
              font-size: 10.13pt;
              font-family: AcuminProSemiCond-ExtraLight;
            }
          }
        }
      }

      .marquages {
        padding: 0 $padding_page;
        height: $height_content - $height_info;;
        .contenaire_emplacements {
          margin-top: 5mm;
          p {
            margin: 0;
          }
          .marquage {
            float: left;
            position: relative;

          }
          .logo-image {
            margin: 0 -3mm;
            height: 134mm;
            .container-logo-img {
              background: url(./images/border-img.png) no-repeat;
              background-size: 100% 100%;
              position: relative;
              height: 118mm;
              padding: 15mm 15mm 22mm 10mm;
              max-width: 90mm;
              margin: auto;
              .marquage-image {
                position: relative;
                height: 100%;
                img {
                  position: absolute;
                  top: 0;
                  right: 0;
                  bottom: 0;
                  left: 0;
                  margin: auto;
                  max-width: 60mm;
                }
              }

            }
          }

          .box-logo-info {
            background: #E6E7E8;
            padding: 3mm 0;
            .container-box-logo {
              padding: 3.5mm;
            }

          }
          .marquage:first-child {
            .box-logo-info {
              border-top-left-radius: 5px;
              border-bottom-left-radius: 5px;
              padding-left: 3mm;
              .container-box-logo {
                border: solid 1mm #FFFFFF;
                border-right: 0;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
              }
            }
          }
          .marquage:last-child {
            .box-logo-info {
              border-top-right-radius: 5px;
              border-bottom-right-radius: 5px;
              padding-right: 3mm;
              .container-box-logo {
                border: solid 1mm #FFFFFF;
                border-left: 0;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
              }
            }
          }
          .marquage + .marquage {
            .container-box-logo {
              border-left: solid 1mm #FFFFFF !important;
            }
          }
          &[layout="1"] {
            .marquage {
              width: 100%;
              .container-box-logo {
                border-left: solid 1mm #FFFFFF !important;
              }
              .marquage-image {
                width: 60mm;
                margin: auto;
                height: 70mm;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                img {
                  max-width: 60mm;
                  max-height: 70mm;
                }
              }
            }
          }
          &[layout="2"] {
            display: table;
            width: 100%;
            height: 1px;
            .marquage {
              width: 50%;
              display: table-cell;
              float: inherit;
              .container-marquage {
                height: 100%;
                display: table;
                width: 100%;
                .container-logo-img {
                  max-width: 85mm;
                }
                .row-info {
                  display: table-row;
                  width: 100%;
                  height: 100%;
                  .box-logo-info {
                    display: table-cell;
                    height: 100%;
                    .container-box-logo {
                      height: 100% !important;
                      display: table;
                      width: 100%;
                    }
                  }
                }
                .logo-image {
                  height: 115mm;
                }
                .marquage-image {
                  width: 60mm;
                  margin: auto;
                  height: 70mm;
                  position: absolute;
                  top: 0;
                  right: 0;
                  bottom: 0;
                  left: 0;
                  img {
                    max-width: 50mm;
                    max-height: 70mm;
                  }
                }
              }

            }
          }

          .marquage-namebox, .fonts_use, .collection_name {
            font-size: 14pt;
            font-family: "UTM Avo";
            color: #44C8F5;
            line-height: 19pt;
          }
          .marquage-size, .box_fonts, .squares_color, .marquage-comment {
            font-size: 11.5pt;
            font-family: MyriadPro-Regular;
            line-height: 15pt;
          }
          .box_fonts {
            * {
              display: inline-block;
            }
            .font_text {
              margin-right: 2mm;
            }
          }
          span.color_square {
            display: inline-block;
            width: 4mm;
            height: 4mm;
            margin-right: 2mm;
            vertical-align: middle;
            border: solid 0.3mm #000000;
          }
          .color_text {
            vertical-align: middle;
          }
          .fonts_use {
            margin-top: 2.5mm;
            &:before {
              content: "";
              display: block;
              height: 0.5mm;
              width: 26mm;
              background: #FFFFFF;
              margin-bottom: 3.5mm;
            }
          }
          .colors_container {
            .box_squares_color {
              .box_collection {
                .squares_color {
                  display: inline-block;
                  padding-right: 2mm;
                  min-width: 33.33%;
                }
              }
              .box_collection {
                margin-top: 2.5mm;
                &:before {
                  content: "";
                  display: block;
                  height: 0.5mm;
                  width: 26mm;
                  background: #FFFFFF;
                  margin-bottom: 3.5mm;
                }
              }
            }
          }
        }
      }
    }

    .branding {
      position: absolute;
      bottom: 5mm;
      right: 30mm;
      * {
        position: relative;
        display: inline-block;
      }
      img.madeSpPicto {
        top: 1mm;
        left: 2mm;
      }
    }
    .pagination {
      position: absolute;
      font-family: MyriadPro-Regular;
      font-size: 18.32pt;
      color: #FFFFFF;
      padding: 0.5mm 2mm;
      border: solid 0.5mm #FFFFFF;
      border-radius: 5px;
      bottom: 2.5mm;
      right: 6.5mm;
    }
    .footer {
      text-align: center;
      font-size: 8.5pt;
      color: #231F20;
      font-family: MyriadPro-Regular;
      height: $height_footer;
    }
  }
}
