@import '../template';
@import '../landscape';

$height_header: 34.5mm;
$padding_page: 9mm;
$width_content: (297mm - 22mm) /2;
$height_logo: 210mm - $height_header - 15mm;

@font-face {
  font-family: 'Myriad Pro Regular';
  src: url('./0_fonts/Myriad Pro Regular.ttf') format("truetype");
}

@font-face {
  font-family: 'Berlin Sans FB Demi Bold';
  font-weight: 900;
  src: url('./0_fonts/Berlin Sans FB Demi Bold.ttf') format("truetype");
}

.none-page {
  display: none;
}

.page {
  font-size: 0;
  color: #000000;

  .uppercase {
    text-transform: uppercase;
  }

  * {
    box-sizing: border-box;
    font-family: Myriad Pro Regular;
  }

  .padder {
    width: 297mm;
    height: 210mm;

    .header {
      height: $height_header;
      padding: $padding_page $padding_page $padding_page (8mm + $padding_page);
      vertical-align: middle;
      > div {
        display: inline-block;
        vertical-align: middle;
      }

      .header-text {
        font-size: 26pt;
        font-family: Berlin Sans FB Demi Bold;
        width: 67.5mm;
        height: 16.5mm;
        line-height: 16.5mm;
        text-align: center;
        margin-right: 15.5mm;
        background: url(./images/bg_header.png) no-repeat;
        background-size: 67.5mm 16.5mm;
        margin-bottom: 9mm;
      }

      .product-info {
        font-size: 12pt;
        position: relative;
        top: -4mm;
      }

      .header-logo {
        float: right;

        img {
          height: 100%;
        }
      }
    }
    .date-signature {
      padding: $padding_page;
      border-top: solid 0.6mm #000000;
      font-size: 12pt;
      height: 37mm;
      margin: 3mm 1mm 0;

    }
    .content {
      margin: 0 1mm;
      border-top: solid 0.6mm #000000;
      height: 210mm - $height_header - 15mm - 40mm;
      > div {
        float: left;
        height: 157.3mm;
        .contenaire_emplacements {

        }
      }

      img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        max-width: 120mm;
        max-height: 120mm;
      }

      .product {
        padding: 0 $padding_page;
        margin-top: 1.5mm;
        height: 100%;
        .product-pictures {
          height: 100%;
        }
        .picture {
          position: relative;
          float: left;
          height: 100%;

        }
        div[layout="1-p"] {
          .picture {
            width: $width_content * 2;
          }
        }
        div[layout="2-p"] {
          .picture {
            width: $width_content;
            &:first-child {
              border-right: solid 0.6mm #000000;
            }
          }
        }

        div[layout="3-p"] {
          .picture {
            width: (297mm - 22mm) / 3;
            img {
              max-width: 90mm;
              max-height: 90mm;
            }
            &:first-child {
              border-right: solid 0.6mm #000000;
            }
            &:nth-child(2) {
              border-right: solid 0.6mm #000000;
            }
          }
        }

      }

      .logo-section {
        margin-top: 2mm;
        .text-logo {
          padding: 3mm (2 *$padding_page);
          font-size: 9pt;
          height: 10mm;
          font-family: Arial;
          font-weight: bold;
        }
        .contenaire_emplacements {
          .emplacements {
            float: left;
            display: table;
          }

          .marquage-image {
            position: relative;
            display: table-row;
            height: 80%;
          }
          .container-img {
            height: 100%;
            width: 100%;
            position: relative;
          }

          .logo-info {
            padding: 0 $padding_page;
            overflow: hidden;
            margin-top: 3mm;
            .col {
              display: inline-block;
              width: 50%;
              float: left;

              span {
                font-size: 12pt;
              }

              .box_squares_color {
                display: inline-block;
              }

              p.collection_name {
                display: none;
              }

              .squares_color {
                display: inline-block;
                margin-right: 1mm;
              }

              .squares_color:before {
                content: "-";
              }

              .box_collection {
                display: inline-block;
                &:first-child {
                  > .squares_color {
                    &:first-child {
                      display: none;

                      &:before {
                        content: '';
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .border {
          height: 100%;
          width: 100%;
          display: table;
          position: relative;
        }

        .emplacements:nth-child(odd) {
          .border:after {
            content: "";
            display: block;
            height: 100%;
            position: absolute;
            width: 0.6mm;
            top: 0;
            right: 0;
            background: #000000;
          }
        }
        div[layout="1"] {
          .emplacements {
            width: 294mm;
            height: ($height_logo  - 8mm);
          }

          .emplacements:nth-child(odd) {
            .border:after {
             display: none;
            }
            img {
              max-width: 80%;
            }
          }
        }

        div[layout="4"], div[layout="2"] {
          .emplacements {
            width: 294mm/2;
            height: ($height_logo  - 8mm)/2;
            img {
              max-height: 230px;
            }

          }

        }

        div[layout="2"] {
          .emplacements {
            height: ($height_logo  - 8mm);
            img {
              max-width: 80%;
            }
          }
        }

        div[layout="4"] {
          .emplacements:nth-child(3), .emplacements:nth-child(4) {
            .border:before {
              content: "";
              display: block;
              height: 0.6mm;
              position: absolute;
              width: 100%;
              top: 0;
              left: 0;
              background: #000000;
            }
          }
        }
      }

    }

  }

  .footer {
    padding: 0 $padding_page;
    font-size: 9.24pt;
  }
}
