@import '../template';
@import '../landscape';

$primary: #400e1c !default;
$secondary: #896a73 !default;
$secondary_light: #ece7e8;
$text_primary: #42121E;
$text_secondary: #fff;
$background: #f9fafb;
$primary_font: "Montserrat" !default;
$background_light: #fff;
$background_pro_pic: #f8f8f8;
$width_sidebar: 83.4mm;
$height_header: 25mm;
$height_divider: 1.2mm;

$height_content: 210mm - $height_header - $height_divider;
$width_content: 297mm - $width_sidebar;

@font-face {
  font-family: 'Montserrat';
  src: url('0_fonts/Montserrat/Montserrat-Regular.ttf') format("truetype");
}
@font-face {
  font-family: 'MontserratBold';
  src: url('0_fonts/MontserratBold/Montserrat-SemiBold.ttf') format("truetype");
  font-weight: 600;
}
.bold {
  font-weight: 600;
}

.branding {
  .madeSp {
    bottom: 12mm;
    left: 10mm;
  }

  .madeSpPicto {
    bottom: 13mm;
    left: 51mm;
  }
}

.page {
  margin-bottom: 100px !important;

  .padder {
    width: 297mm;
    height: 210mm;
  }

  * {
    font-family: $primary_font, sans-serif;
    box-sizing: border-box;
  }

  .divider {
    width: 100%;
    height: $height_divider;
    background-color: $primary;
    clear: both;
    display: block;
  }

  .bat-header {
    background-color: $background_light;
    color: $text_primary;
    height: $height_header;
    line-height: $height_header;

    .left-header {
      padding-left: 14mm;
      width: $width_content;
      font-size: 26pt;
      font-family: 'MontserratBold';
      float: left;
    }

    .container-logo {
      width: $width_sidebar;
      background-color: $secondary;
      height: $height_header;
      float: left;
      position: relative;
      .company {
        font-size: 16pt;
        color: #FFFFFF;
        height: $height_header;
        vertical-align: middle;
        img {
          height: 12.5mm;
          vertical-align: middle;
          margin: 6mm 0 6mm 5mm;
        }
      }
    }
  }

  .bat-content {
    height: $height_content; // height page - (height header + padding Y)
    background-color: $background_light;
    .sidebar {
      width: $width_sidebar;
      background-color: $secondary_light;
      padding: 12.165mm 7mm;
      position: relative;
      height: 100%;
      float: left;
      .container-sidebar {
        display: table;
        height: 100%;
        > div {
          display: table-row;
        }
      }

      .bat-infos {
        font-size: 3.5mm;
        color: $primary;
        line-height: 7.112mm;
        height: 100%;
        .client {
          font-weight: 600;
          font-size: 4mm;
        }

        .info {
          margin-top: 1.5mm;
          .label {
            margin-right: 3mm;
          }

          span.value {
            text-align: right;
          }
        }
      }

      .validation {
        .comment {
          font-size: 3mm;
          line-height: 4mm;
          padding: 1px;
          white-space: normal;
          color: $primary;
          text-align: justify;
        }
      }
      .accord {
        height: 35mm;
        padding: 1.5mm 3mm;
        background: #fff;
        border: 1px solid #d8d8d8;
        color: $primary;
        margin-top: 5mm;
        .accord-header {
          .accord-title {
            font-size: 4mm;
          }

          .accord-extra {
            display: block;
            font-size: 2.5mm;
          }
        }
        .branding {
          position: absolute;
          bottom: 1mm;
          * {
            position: relative;
            display: inline-block;
            top: inherit;
            left: inherit;
            bottom: inherit;
          }
          img.madeSpPicto {
            bottom: 0;
            left: 2mm;
          }
        }
      }
    }
    .container-content {
      width: $width_content; // width page - width sidebar
      height: $height_content;
      float: left;
    }

    .product, .marquages {
      position: relative;
      padding: 10mm;
      .product-pictures, .contenaire_emplacements {
        position: relative;
        .marquage {
          &-label {
            position: absolute;
            bottom: 3mm;
            left: 0;
            width: 100%;
            text-align: center;
            color: $primary;
            font-size: 5mm;
            line-height: normal;
          }
        }
      }
    }

    .product, .marquages {
      padding: 12.165mm 11.847mm 0 14mm;
      float: left;
      width: 100%;
      height: 100%;
      .product-title {
        font-size: 7mm;
        color: $primary;
        white-space: normal;
      }

      .product-pictures {
        background: $background_pro_pic;
        margin-top: 4.25mm;
        padding: 8.197mm;
        width: 191mm;
        height: 125mm;
        box-shadow: 0 1px 3px 1px rgb(60 64 67 / 15%);
        .picture {
          width: 50%;
          float: left;
          margin: auto;
          .picture-item {
            height: 90mm;
            width: 76mm;
            margin: auto;
            position: relative;
            img {
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              margin: auto;
              max-width: 74mm;
              max-height: 85mm;
            }
          }
        }
        &[layout="1-p"] {
          .picture {
            width: 100%;
          }
        }
        .picture-label {
          font-size: 6mm;
          line-height: 6mm;
          text-align: center;
          color: $primary;
        }
      }

      .product-notice {
        .box-notice {
          display: inline-block;
          width: 23mm;
          height: 11mm;
          float: left;
          background-color: $secondary;
          margin-right: 5mm;
          .pagination {
            text-align: center;
            color: #FFFFFF;
            font-weight: bold;
            left: 0;
            width: 100%;
            line-height: 11mm;
            font-size: 4mm;
          }
        }
        position: absolute;
        left: 0;
        right: 0;
        color: $primary;
        bottom: 0;
        font-size: 3mm;
      }
    }

    .marquages {
      .contenaire_emplacements {
        display: table;
        height: 1px;
        width: 100%;
        > div {
          display: table-cell;
        }
        .marquage {
          width: 50%;
          margin: auto;
            .container-marquage {
              background-color: #f8f8f8;
              display: table;
              text-align: center;
              padding: 14.944mm 7.861mm 5mm;
              box-shadow: 0 1px 3px 1px rgb(60 64 67 / 15%);
              height: 100%;
              margin: auto;
              width: 100%;
              .row-info {
                display: table-row;
                height: 100%;
                .box-logo-info {
                  display: table-cell;
                  height: 100%;
                }
              }
            }
            .marquage-image {
              height: 65mm;
              background-repeat: repeat;
              background-position: 0 0;
              padding: 4mm;
              position: relative;
              text-align: center;
              .marquage_img {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                max-width: 54mm;
                max-height: 40mm;
              }
            }

            .marquage-details {
              white-space: normal;
              color: $primary;
              overflow: hidden;
              .marquage-name {
                font-size: 5.5mm;
                padding: 2mm 0;
              }

              .marquage-size, .marquage-comment {
                font-size: 4.5mm;
              }

              .marquage-comment {
                padding-bottom: 3mm;
              }

              .marquage-size {
                padding-bottom: 1mm;
              }
            }

          .infos_container {
            .marquage-namebox, .fonts_use, .collection_name {
              font-weight: bold;
              margin: 0;
            }
            .box_fonts {
              * {
                display: inline-block;
              }
              .font_text {
                margin-right: 2mm;
              }
            }
            .box_collection, .text_font_container {
              padding: 1mm 0;
              text-align: start;
            }
            .box_squares_color {
              &[type_display="0"] {
                .squares_color {
                  display: block;
                  text-align: left;
                }
              }

              &[type_display="1"] {
                .squares_color {
                  display: inline-block;
                }
              }
            }

            .squares_color {
              padding: 1mm 4mm 2mm 0;
              min-width: 33.33%;
              .color_square {
                margin-right: 0.2mm;
                display: inline-block;
                vertical-align: middle;
                border: 1px solid black;
                width: 3mm;
                height: 3mm;
              }

              .color_text {
                display: inline-block;
                vertical-align: middle;
                font-size: 12px;
              }
            }
          }
          }
        &[layout="1"] {
          text-align: center;
          margin: 0;
          .marquage {
            width: 100%;
            padding: 0;
            .container-marquage {
              margin: auto;
              width: 100%;
            }
          }
        }
        &[layout="2"] {
          .marquage {
            &:first-child {
              padding-right: 4mm;
            }
            &:last-child {
              padding-left: 4mm;
            }
          }
        }
      }
    }
  }
  .product {
    height: 100%;
    display: table;
    > div {
      display: table-row;
    }
    .product_pictures {
      vertical-align: top;
      width: 139mm;
      height: 100%;
      .picture {
        max-width: 65mm;
        width: 100%;
        text-align: center;
        display: inline-block;
        // vertical-align: top;
        background-color: white;
        border: 1px solid #d8d8d8;
        padding: 8mm 1mm 0 1mm;
        .picture_label {
          padding: 3mm 0;
          text-align: center;
          font-size: 4mm;
          color: #003d9c;
        }
      }

      &[layout="1"] {
        .picture {
          width: 135mm;
          max-width: 100%;
          height: 169.4mm;

          .imgpdt {
            max-height: 156mm;
            max-width: 134mm;
          }

          .picture_label {
            font-size: 5mm;
          }
        }
      }

      &[layout="4"], &[layout="2"] {
        .picture {
          height: 79.4mm;

          .imgpdt {
            max-height: 68.7mm;
          }
        }
      }
    }

    .product_infos {
      background: white;
      border: 1px solid #d8d8d8;
      padding: 8mm;
      width: 145mm;
      display: inline-block;
      height: 100%;

      .m-3 {
        margin-top: 5mm;
      }

      .info_text, li {
        font-size: 3.6mm;
      }

      .info_title {
        font-size: 4.2mm;
        text-decoration: underline;
        margin-bottom: 1.4mm;
        font-weight: 600;
      }

      .product_title {
        padding-right: 2mm;
      }

      .product_title, .product_current_color {
        font-size: 6mm;
        color: #003d9c;
      }

      .product_desc {
        font-size: 3.5mm;
        margin-top: 2mm;
        line-height: 5mm;
      }

      .product_color {
        .info_text {
          text-align: justify;
          line-height: 22px;
        }
      }

      .product_category {
        li {
          margin: 0 0 1mm 4mm;
        }
      }
    }

    .client_infos {
      margin-right: 2mm;
      background: white;
      border: 1px solid #d8d8d8;
      padding: 8mm;
    }
  }
}
