@import '../template';
@import '../landscape';

@font-face {
	font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
	src: url('Montserrat/Montserrat-Regular.ttf');
}
@font-face {
	font-family: 'Montserrat';
    font-weight: 700;
	src: url('Montserrat/Montserrat-Bold.ttf');
}
@font-face {
	font-family: 'Montserrat';
    font-weight: 300;
	src: url('Montserrat/Montserrat-Light.ttf');
}

.pageEmplacement {
	display: none;
    z-index: 0;
}

.page {
	position: relative;
	width: 210mm;
	height: 297mm;
	background: #ffffff;
	letter-spacing: normal;
    z-index: 1;

    * {
        font-family: 'Montserrat';
        font-weight: normal;
    }
    
    .forcenter {
        height: 100%;
        display: inline-block;
        vertical-align: middle;
    }

    p, span {
        margin: 0;
        padding: 0;
        font-weight: 500;
        letter-spacing: 0;
        white-space: nowrap;
        font-size: 3.3mm !important;
        line-height: normal;
    
        &.static {
            font-weight: 600;
        }
    }

    .bat-header {
        padding: 8mm 8mm 0 8mm;
        color: #ffffff;
        width: 100%;
        height: 54mm;
        box-sizing: border-box;
    
        img {
            width: 190mm;
            max-width: none;
            max-height: none;
        }
    }

    &.infos_layout {
            .marquages {
                .marquage {
                    margin:0;
                    &:nth-child(3) {
                        margin-bottom: 40mm;
                    }
                    &:nth-child(4) {
                        padding-top: 10mm;
                    }

                    height: 58mm;
                    .details {
                        &>div {
                            width: 96.5mm;
                            display: inline-block;
                
                            &>span {
                                width: 47.8mm;
                                display: inline-block;
                                color: black;
                                padding-bottom: 1mm;
                
                                &.value {
                                    box-sizing: border-box;
                                }
                            }
                        }
                    }
                    .colors_container {
                        display: inline-block;
                        max-width: 133mm;
                        min-width: 104mm;
                        margin-top: 3mm;
                        height: 35mm;
                        overflow: clip;
                        vertical-align: top;

                        &[hidden-element] {
                            display: inline-block !important;
                            opacity: 0;
                        }
                        
                        .box_squares_color {
                            margin-top: 2mm;
                            margin-left: 2mm;

                            .box_collection {
                                margin: 0;
                                padding: 0;
                            }

                            .squares_color {
                                margin: 0.5mm 2mm 0.5mm 0;
                                line-height: 0;
                                padding: 0;
                                vertical-align: top;
                                display: inline-block;
                                
                                .color_square {
                                    background-color: rgb(255 , 194 , 15);
                                    width: 3.5mm;
                                    display: inline-block;
                                    height: 3.5mm;
                                    vertical-align: middle;
                                    border: solid 0.5mm #f5f5f5 !important;
                                }
                                .color_text {
                                    vertical-align: middle;
                                    font-size: 3mm !important;
                                }
                            }
                        }
                    }
                }

                .marquage-image {
                    width: 60mm;
                    display: inline-block;
                    text-align: center;
                    height: 39mm;
                    padding: 4mm 0 4mm 0;
                    box-sizing: border-box;
                    .marquage_img {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
            }

            &[nb_product_img="1"], &[nb_product_img="2"] , &[nb_product_img="3"], &[nb_product_img="4"] {
                .product {
                    height: 105mm;
                    .product-pictures {
                        text-align: center;
                        .picture {
                            display: inline-block;
                            width: 188mm;
                        }
                    }
                    img {
                        max-height: 100%;
                        padding: 4mm;
                        vertical-align: middle;
                        max-width: 96%;
                        box-sizing: border-box;
                    }
                }
            }

            &[nb_product_img="1"] {
                .product {
                    .product-pictures {
                        .picture {
                            height: 105mm;
                            width: 188mm;
                        }
                    }
                }
            }

            &[nb_product_img="2"] {
                .product {
                    .product-pictures {
                        .picture {
                            height: 105mm;
                            width: 94mm;
                        }
                    }
                }
            }

            &[nb_product_img="3"] {
                .product {
                    .product-pictures {
                        .picture {
                            height: 105mm;
                            width: 64mm;
                        }
                    }
                }
            }

            &[nb_product_img="4"] {
                .product {
                    .product-pictures {
                        .picture {
                            width: 94mm;
                            height: 52mm;
                        }
                    }
                }
            }

            &[nb_logo="2"], &[nb_logo="3"],&[nb_logo="4"],&[nb_logo="5"],&[nb_logo="6"] {
                .marquages {
                    .marquage {
                        .colors_container {
                            margin-top: 0;
                            .box_squares_color {
                                margin-top: 1mm;
                            }
                        }
                    }
                    .marquage-image {
                        height: 35mm;
                    }
                }

                &[nb_product_img="1"], &[nb_product_img="2"] , &[nb_product_img="3"], &[nb_product_img="4"] {
                    .product {
                        height: 62mm;
                        .product-pictures {
                            height: 62mm;
                            .picture {
                                height: 62mm;
                            }
                        }
                    }
                }

                &[nb_product_img="4"] {
                    .product {
                        .product-pictures {
                            .picture {
                                width: 48mm;
                            }
                        }
                    }
                }
            }

    }

    .bat-content {
        overflow: clip;
        position: relative;
        height: 243mm;
        box-sizing: border-box;
        padding: 0mm 8mm 0 8mm;
    
        h2 {
            font-size: 8mm;
            color: black;
            font-style: normal;
            margin: 0;
            
            &._bat {
                font-weight: 700;
            }
    
            &._seri {
                margin-bottom: 1mm;
                font-size: 5mm;
            }
        }
    
        .line {
            height: 1.2mm;
            display: block;
            background-color: black;
            margin: 2mm 0;
        }
    
        .infos {
            height: 20mm;
            margin-bottom: 4mm;

            &>div {
                width: 96.55mm;
                display: inline-block;
                line-height: inherit;
                
                &>span {
                    width: 44.8mm;
                    display: inline-block;
                    color: black;
                    font-size: 3.4mm;
                    padding-bottom: 1mm;
                    vertical-align: top;
    
                    &.value {
                        padding-left: 6mm;
                        box-sizing: border-box;
                    }
                }
            }
        }
    }
}

