img {
  max-width: 250px;
  max-height: 250px;
  height: auto;
  width: auto; }

.uppercase {
  text-transform: uppercase; }

.vertical-align {
  height: 100%;
  line-height: inherit; }
  .vertical-align > * {
    display: inline-block;
    vertical-align: middle; }

[hidden-element] {
  display: none !important; }

.branding .madeSp {
  position: absolute;
  text-align: center;
  font-size: 4mm;
  color: #003d9c; }
.branding .madeSpPicto {
  position: absolute;
  width: 4mm; }

@page {
  size: landscape; }

.page {
  background-color: white;
  position: relative;
  width: 297mm;
  height: 210mm; }

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('Montserrat/Montserrat-Regular.ttf'); }
@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  src: url('Montserrat/Montserrat-Bold.ttf'); }
@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  src: url('Montserrat/Montserrat-Light.ttf'); }

.pageEmplacement {
  display: none;
  z-index: 0; }

.page {
  position: relative;
  width: 210mm;
  height: 297mm;
  background: #ffffff;
  letter-spacing: normal;
  z-index: 1; }
  .page * {
    font-family: 'Montserrat';
    font-weight: normal; }
  .page .forcenter {
    height: 100%;
    display: inline-block;
    vertical-align: middle; }
  .page p, .page span {
    margin: 0;
    padding: 0;
    font-weight: 500;
    letter-spacing: 0;
    white-space: nowrap;
    font-size: 3.3mm !important;
    line-height: normal; }
    .page p.static, .page span.static {
      font-weight: 600; }
  .page .bat-header {
    padding: 8mm 8mm 0 8mm;
    color: #ffffff;
    width: 100%;
    height: 54mm;
    box-sizing: border-box; }
    .page .bat-header img {
      width: 190mm;
      max-width: none;
      max-height: none; }
  .page.infos_layout .marquages .marquage {
    margin: 0;
    height: 58mm; }
    .page.infos_layout .marquages .marquage:nth-child(3) {
      margin-bottom: 40mm; }
    .page.infos_layout .marquages .marquage:nth-child(4) {
      padding-top: 10mm; }
      .page.infos_layout .marquages .marquage .details > div {
        width: 96.5mm;
        display: inline-block; }
        .page.infos_layout .marquages .marquage .details > div > span {
          width: 47.8mm;
          display: inline-block;
          color: black;
          padding-bottom: 1mm; }
          .page.infos_layout .marquages .marquage .details > div > span.value {
            box-sizing: border-box; }
    .page.infos_layout .marquages .marquage .colors_container {
      display: inline-block;
      max-width: 133mm;
      min-width: 104mm;
      margin-top: 3mm;
      height: 35mm;
      overflow: clip;
      vertical-align: top; }
      .page.infos_layout .marquages .marquage .colors_container[hidden-element] {
        display: inline-block !important;
        opacity: 0; }
      .page.infos_layout .marquages .marquage .colors_container .box_squares_color {
        margin-top: 2mm;
        margin-left: 2mm; }
        .page.infos_layout .marquages .marquage .colors_container .box_squares_color .box_collection {
          margin: 0;
          padding: 0; }
        .page.infos_layout .marquages .marquage .colors_container .box_squares_color .squares_color {
          margin: 0.5mm 2mm 0.5mm 0;
          line-height: 0;
          padding: 0;
          vertical-align: top;
          display: inline-block; }
          .page.infos_layout .marquages .marquage .colors_container .box_squares_color .squares_color .color_square {
            background-color: #ffc20f;
            width: 3.5mm;
            display: inline-block;
            height: 3.5mm;
            vertical-align: middle;
            border: solid 0.5mm #f5f5f5 !important; }
          .page.infos_layout .marquages .marquage .colors_container .box_squares_color .squares_color .color_text {
            vertical-align: middle;
            font-size: 3mm !important; }
  .page.infos_layout .marquages .marquage-image {
    width: 60mm;
    display: inline-block;
    text-align: center;
    height: 39mm;
    padding: 4mm 0 4mm 0;
    box-sizing: border-box; }
    .page.infos_layout .marquages .marquage-image .marquage_img {
      max-width: 100%;
      max-height: 100%; }
.page.infos_layout[nb_product_img="1"] .product, .page.infos_layout[nb_product_img="2"] .product, .page.infos_layout[nb_product_img="3"] .product, .page.infos_layout[nb_product_img="4"] .product {
  height: 105mm; }
  .page.infos_layout[nb_product_img="1"] .product .product-pictures, .page.infos_layout[nb_product_img="2"] .product .product-pictures, .page.infos_layout[nb_product_img="3"] .product .product-pictures, .page.infos_layout[nb_product_img="4"] .product .product-pictures {
    text-align: center; }
    .page.infos_layout[nb_product_img="1"] .product .product-pictures .picture, .page.infos_layout[nb_product_img="2"] .product .product-pictures .picture, .page.infos_layout[nb_product_img="3"] .product .product-pictures .picture, .page.infos_layout[nb_product_img="4"] .product .product-pictures .picture {
      display: inline-block;
      width: 188mm; }
  .page.infos_layout[nb_product_img="1"] .product img, .page.infos_layout[nb_product_img="2"] .product img, .page.infos_layout[nb_product_img="3"] .product img, .page.infos_layout[nb_product_img="4"] .product img {
    max-height: 100%;
    padding: 4mm;
    vertical-align: middle;
    max-width: 96%;
    box-sizing: border-box; }
.page.infos_layout[nb_product_img="1"] .product .product-pictures .picture {
  height: 105mm;
  width: 188mm; }
.page.infos_layout[nb_product_img="2"] .product .product-pictures .picture {
  height: 105mm;
  width: 94mm; }
.page.infos_layout[nb_product_img="3"] .product .product-pictures .picture {
  height: 105mm;
  width: 64mm; }
.page.infos_layout[nb_product_img="4"] .product .product-pictures .picture {
  width: 94mm;
  height: 52mm; }
.page.infos_layout[nb_logo="2"] .marquages .marquage .colors_container, .page.infos_layout[nb_logo="3"] .marquages .marquage .colors_container, .page.infos_layout[nb_logo="4"] .marquages .marquage .colors_container, .page.infos_layout[nb_logo="5"] .marquages .marquage .colors_container, .page.infos_layout[nb_logo="6"] .marquages .marquage .colors_container {
  margin-top: 0; }
  .page.infos_layout[nb_logo="2"] .marquages .marquage .colors_container .box_squares_color, .page.infos_layout[nb_logo="3"] .marquages .marquage .colors_container .box_squares_color, .page.infos_layout[nb_logo="4"] .marquages .marquage .colors_container .box_squares_color, .page.infos_layout[nb_logo="5"] .marquages .marquage .colors_container .box_squares_color, .page.infos_layout[nb_logo="6"] .marquages .marquage .colors_container .box_squares_color {
    margin-top: 1mm; }
.page.infos_layout[nb_logo="2"] .marquages .marquage-image, .page.infos_layout[nb_logo="3"] .marquages .marquage-image, .page.infos_layout[nb_logo="4"] .marquages .marquage-image, .page.infos_layout[nb_logo="5"] .marquages .marquage-image, .page.infos_layout[nb_logo="6"] .marquages .marquage-image {
  height: 35mm; }
.page.infos_layout[nb_logo="2"][nb_product_img="1"] .product, .page.infos_layout[nb_logo="3"][nb_product_img="1"] .product, .page.infos_layout[nb_logo="4"][nb_product_img="1"] .product, .page.infos_layout[nb_logo="5"][nb_product_img="1"] .product, .page.infos_layout[nb_logo="6"][nb_product_img="1"] .product, .page.infos_layout[nb_logo="2"][nb_product_img="2"] .product, .page.infos_layout[nb_logo="3"][nb_product_img="2"] .product, .page.infos_layout[nb_logo="4"][nb_product_img="2"] .product, .page.infos_layout[nb_logo="5"][nb_product_img="2"] .product, .page.infos_layout[nb_logo="6"][nb_product_img="2"] .product, .page.infos_layout[nb_logo="2"][nb_product_img="3"] .product, .page.infos_layout[nb_logo="3"][nb_product_img="3"] .product, .page.infos_layout[nb_logo="4"][nb_product_img="3"] .product, .page.infos_layout[nb_logo="5"][nb_product_img="3"] .product, .page.infos_layout[nb_logo="6"][nb_product_img="3"] .product, .page.infos_layout[nb_logo="2"][nb_product_img="4"] .product, .page.infos_layout[nb_logo="3"][nb_product_img="4"] .product, .page.infos_layout[nb_logo="4"][nb_product_img="4"] .product, .page.infos_layout[nb_logo="5"][nb_product_img="4"] .product, .page.infos_layout[nb_logo="6"][nb_product_img="4"] .product {
  height: 62mm; }
  .page.infos_layout[nb_logo="2"][nb_product_img="1"] .product .product-pictures, .page.infos_layout[nb_logo="3"][nb_product_img="1"] .product .product-pictures, .page.infos_layout[nb_logo="4"][nb_product_img="1"] .product .product-pictures, .page.infos_layout[nb_logo="5"][nb_product_img="1"] .product .product-pictures, .page.infos_layout[nb_logo="6"][nb_product_img="1"] .product .product-pictures, .page.infos_layout[nb_logo="2"][nb_product_img="2"] .product .product-pictures, .page.infos_layout[nb_logo="3"][nb_product_img="2"] .product .product-pictures, .page.infos_layout[nb_logo="4"][nb_product_img="2"] .product .product-pictures, .page.infos_layout[nb_logo="5"][nb_product_img="2"] .product .product-pictures, .page.infos_layout[nb_logo="6"][nb_product_img="2"] .product .product-pictures, .page.infos_layout[nb_logo="2"][nb_product_img="3"] .product .product-pictures, .page.infos_layout[nb_logo="3"][nb_product_img="3"] .product .product-pictures, .page.infos_layout[nb_logo="4"][nb_product_img="3"] .product .product-pictures, .page.infos_layout[nb_logo="5"][nb_product_img="3"] .product .product-pictures, .page.infos_layout[nb_logo="6"][nb_product_img="3"] .product .product-pictures, .page.infos_layout[nb_logo="2"][nb_product_img="4"] .product .product-pictures, .page.infos_layout[nb_logo="3"][nb_product_img="4"] .product .product-pictures, .page.infos_layout[nb_logo="4"][nb_product_img="4"] .product .product-pictures, .page.infos_layout[nb_logo="5"][nb_product_img="4"] .product .product-pictures, .page.infos_layout[nb_logo="6"][nb_product_img="4"] .product .product-pictures {
    height: 62mm; }
    .page.infos_layout[nb_logo="2"][nb_product_img="1"] .product .product-pictures .picture, .page.infos_layout[nb_logo="3"][nb_product_img="1"] .product .product-pictures .picture, .page.infos_layout[nb_logo="4"][nb_product_img="1"] .product .product-pictures .picture, .page.infos_layout[nb_logo="5"][nb_product_img="1"] .product .product-pictures .picture, .page.infos_layout[nb_logo="6"][nb_product_img="1"] .product .product-pictures .picture, .page.infos_layout[nb_logo="2"][nb_product_img="2"] .product .product-pictures .picture, .page.infos_layout[nb_logo="3"][nb_product_img="2"] .product .product-pictures .picture, .page.infos_layout[nb_logo="4"][nb_product_img="2"] .product .product-pictures .picture, .page.infos_layout[nb_logo="5"][nb_product_img="2"] .product .product-pictures .picture, .page.infos_layout[nb_logo="6"][nb_product_img="2"] .product .product-pictures .picture, .page.infos_layout[nb_logo="2"][nb_product_img="3"] .product .product-pictures .picture, .page.infos_layout[nb_logo="3"][nb_product_img="3"] .product .product-pictures .picture, .page.infos_layout[nb_logo="4"][nb_product_img="3"] .product .product-pictures .picture, .page.infos_layout[nb_logo="5"][nb_product_img="3"] .product .product-pictures .picture, .page.infos_layout[nb_logo="6"][nb_product_img="3"] .product .product-pictures .picture, .page.infos_layout[nb_logo="2"][nb_product_img="4"] .product .product-pictures .picture, .page.infos_layout[nb_logo="3"][nb_product_img="4"] .product .product-pictures .picture, .page.infos_layout[nb_logo="4"][nb_product_img="4"] .product .product-pictures .picture, .page.infos_layout[nb_logo="5"][nb_product_img="4"] .product .product-pictures .picture, .page.infos_layout[nb_logo="6"][nb_product_img="4"] .product .product-pictures .picture {
      height: 62mm; }
.page.infos_layout[nb_logo="2"][nb_product_img="4"] .product .product-pictures .picture, .page.infos_layout[nb_logo="3"][nb_product_img="4"] .product .product-pictures .picture, .page.infos_layout[nb_logo="4"][nb_product_img="4"] .product .product-pictures .picture, .page.infos_layout[nb_logo="5"][nb_product_img="4"] .product .product-pictures .picture, .page.infos_layout[nb_logo="6"][nb_product_img="4"] .product .product-pictures .picture {
  width: 48mm; }
.page .bat-content {
  overflow: clip;
  position: relative;
  height: 243mm;
  box-sizing: border-box;
  padding: 0mm 8mm 0 8mm; }
  .page .bat-content h2 {
    font-size: 8mm;
    color: black;
    font-style: normal;
    margin: 0; }
    .page .bat-content h2._bat {
      font-weight: 700; }
    .page .bat-content h2._seri {
      margin-bottom: 1mm;
      font-size: 5mm; }
  .page .bat-content .line {
    height: 1.2mm;
    display: block;
    background-color: black;
    margin: 2mm 0; }
  .page .bat-content .infos {
    height: 20mm;
    margin-bottom: 4mm; }
    .page .bat-content .infos > div {
      width: 96.55mm;
      display: inline-block;
      line-height: inherit; }
      .page .bat-content .infos > div > span {
        width: 44.8mm;
        display: inline-block;
        color: black;
        font-size: 3.4mm;
        padding-bottom: 1mm;
        vertical-align: top; }
        .page .bat-content .infos > div > span.value {
          padding-left: 6mm;
          box-sizing: border-box; }
