@import '../template';
@import '../landscape';

$primary: #1C489A !default;
$secondary: #def0f9 !default;
$secondary_light: #def0f9;
$text_primary: #20407E;
$text_secondary: #fff;
$background: #f9fafb;
$primary_font: "Montserrat" !default;
$background_light: #fff;
$background_pro_pic: #f8f8f8;
$width_sidebar: 83.5mm;
$gap_sidebar: 3.5mm;
$height_header: 16.5mm;
$padding_paper_top: 9.5mm;
$padding_paper_left: 8.5mm;
$height_accord: 45.5mm;
$gap_accord: 3.5mm;

$height_content: 210mm - $padding_paper_top * 2;
$width_product: 297mm - $width_sidebar - $gap_sidebar - $padding_paper_left * 2;

@font-face {
  font-family: 'Montserrat';
  src: url('0_fonts/Montserrat/Montserrat-Regular.ttf') format("truetype");
}
@font-face {
  font-family: 'MontserratBold';
  src: url('0_fonts/MontserratBold/Montserrat-SemiBold.ttf') format("truetype");
  font-weight: 600;
}

.branding {
  .madeSp {
    bottom: 12mm;
    left: 10mm;
  }

  .madeSpPicto {
    bottom: 13mm;
    left: 51mm;
  }
}

.pageEmplacements {
  .bat-infos {
    height: 100% !important;
    bottom: 0;
  }

  .contenaire_emplacements {
    top: -17mm !important;

    .marquage {
      padding-top: 17mm !important;
    }
  }
}

.page {
  margin-bottom: 100px !important;
  font-size: 0;

  .padder {
    width: 298mm;
    height: 210mm;
  }

  .padder {
    padding: $padding_paper_top $padding_paper_left;
  }

  * {
    font-family: $primary_font, sans-serif;
    box-sizing: border-box;
  }

  .bat-header {
    background-color: $background_light;
    color: $text_primary;
    font-size: 25pt;
    height: $height_header;
    line-height: $height_header;
    box-sizing: border-box;
    width: 100%;

    .left-header {
      text-align: center;
      width: $width_sidebar;
      background-color: $primary;
      color: $text_secondary;
      font-family: 'MontserratBold';
      float: left;
      margin-right: 3.5mm;
      letter-spacing: 0.5mm;
    }



  }
  .container-logo {
    height: $height_header;
    position: relative;
    .company {
      font-size: 22pt;
      white-space: normal;
      text-align: right;
      width: $width_product;
      float: left;
      vertical-align: middle;
      position: absolute;
      top: 2mm;
      right: 2mm;
      img {
        height: 12.5mm;

        vertical-align: middle;
      }
    }
  }

  .bat-content {
    height: $height_content; // height page - (height header + padding Y)
    background-color: $background_light;

    .sidebar {
      width: $width_sidebar;
      float: left;
      position: relative;
      height: $height_content;
      display: table;
      > div {
        display: table-row;
      }
      .container-bat-info {
        height: 100%;
        .bat-infos {
          width: $width_sidebar;
          height: 100%;
          background-color: $secondary_light;
          padding: 7mm;
          font-size: 3.5mm;
          color: $text_primary;
          line-height: 7.112mm;
          position: relative;
          display: table;
          >div {
            display: table-row;
          }
          .container-info {
            height: 100%;
          }
          .client {
            font-family: 'MontserratBold';
            font-size: 4mm;
          }

          .info {
            margin-top: 1.5mm;
            .label {
              margin-right: 3mm;
            }

            span.value {
              text-align: right;
            }
          }
        }
      }
      .validation {
        .comment {
          font-size: 3mm;
          line-height: 4mm;
          padding: 1px;
          white-space: normal;
          word-spacing: 1.1mm;
          text-align: justify;
        }
      }

      .accord {
        width: $width_sidebar;
        height: $height_accord;
        padding: 7mm;
        box-shadow: 1px 1px 1px 1px rgb(169 171 174 / 15%);
        background-color: #f8f8f8;
        color: $text_primary;
        margin-top: $gap_accord;
        .branding {
          position: absolute;
          bottom: 1mm;
          * {
            position: relative;
            display: inline-block;
            top: inherit;
            left: inherit;
            bottom: inherit;
          }
          img.madeSpPicto {
            bottom: 0;
            left: 2mm;
          }
        }
        .accord-header {
          .accord-title {
            font-size: 4mm;
          }

          .accord-extra {
            display: block;
            font-size: 2.5mm;
          }
        }
      }
    }

    .product, .marquages {
      width: $width_product; // width page - width sidebar
      height: $height_content;
      position: relative;
      float: left;
      display: table;
      > div {
        display: table-row;
      }
      .product-title {
        font-size: 22pt;
        white-space: normal;
        text-align: center;
        width: $width_product;
        float: left;
        color: $text_primary;
        padding: 3.5mm;
        background-color: $secondary;
      }
      .product-pictures, .contenaire_emplacements {
        height: 100%;
        .marquage {
          display: inline-block;
          text-align: center;
          padding: 14.944mm 7.861mm 15mm;

          img {
            width: fit-content;
            display: inline-block;
            vertical-align: middle;
          }

          &-label {
            position: absolute;
            bottom: 3mm;
            left: 0;
            width: 100%;
            text-align: center;
            color: $text_primary;
            font-size: 5mm;
            line-height: normal;
          }
        }
      }
    }
    .product-notice {
      background-color: $primary;
      color: $text_secondary;
      font-size: 3.2mm;
      line-height: 14mm;
      height: 14mm;
      margin-top: 5mm;
      text-align: center;
    }
    .product, .marquages {
      .product-pictures {
        background: $background_pro_pic;
        padding: 8.197mm;
        box-shadow: 1px 1px 1px 1px rgb(169 171 174 / 15%);

        .picture-label {
          margin-top: 5mm;
          font-size: 6mm;
          line-height: 6mm;
          text-align: center;
          color: $text_primary;
        }
        .picture {
          width: 50%;
          height: 120mm;
          float: left;
          margin: auto;
          .picture-item {
            height: 97mm;
            width: 76mm;
            line-height: 97mm;
            margin: auto;
            position: relative;
            img {
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              margin: auto;
              max-width: 74mm;
              max-height: 95mm;
            }
          }
        }
        &[layout="1-p"] {
          .picture {
            width: 100%;
          }
        }
      }


    }

    .container-marquages {
      height: $height_content;
      float: left;
      display: table;
      >div {
        display: table-row;
      }
    }
    .marquages {
      background-color: #f8f8f8;
      box-shadow: 0 1px 3px 1px rgb(60 64 67 / 15%);
      display: table;
      height: $height_content - 19mm;
      >div {
        display: table-row;
      }
      .contenaire_emplacements {
        .marquage {
          padding-top: 0 !important;
          width: 50%;
          margin: auto;
          float: left;
          .marquage-image {
            height: 65mm;
            background-repeat: repeat;
            background-position: 0 0;
            padding: 4mm;
            position: relative;
            text-align: center;
            .marquage_img {
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              margin: auto;
              max-width: 54mm;
              max-height: 40mm;
            }
          }
          p {
            margin: 0;
          }
          .marquage-details {
            white-space: normal;
            color: $text_primary;
            margin-top: 12mm;

            .marquage-name {
              font-size: 5.5mm;
              padding: 2mm 0;
            }

            .marquage-size, .marquage-comment {
              font-size: 4.5mm;
            }

            .marquage-comment {
              padding-bottom: 3mm;
            }

            .marquage-size {
              padding-bottom: 1mm;
            }
          }

          .infos_container {
            .marquage-namebox, .fonts_use, .collection_name {
              font-weight: bold;
              margin: 0;
            }
            .box_fonts {
              * {
                display: inline-block;
              }
              .font_text {
                margin-right: 2mm;
              }
            }
            .box_collection, .text_font_container {
              padding: 1mm 0;
              text-align: start;
            }
            .box_squares_color {
              &[type_display="0"] {
                .squares_color {
                  display: block;
                  text-align: left;
                }
              }

              &[type_display="1"] {
                .squares_color {
                  display: inline-block;
                }
              }
            }

            .squares_color {
              padding: 1mm 4mm 2mm 0;
              min-width: 33.33%;
              .color_square {
                margin-right: 0.2mm;
                display: inline-block;
                vertical-align: middle;
                border: 1px solid black;
                width: 3mm;
                height: 3mm;
              }

              .color_text {
                display: inline-block;
                vertical-align: middle;
                font-size: 12px;
              }
            }
          }
        }

        &[layout="1"] {
          text-align: center;
          .marquage {
            width: 100%;
            height: 100%;

            .marquage-image {
              width: 173.5mm;
            }
          }
        }

        &[layout="2"] {
          .marquage {
            width: 94.5mm;
            &:nth-child(2n+2) {
              position: absolute;
              right: 0
            }
          }
        }
      }
    }
  }

  .fiche_produit_header {
    height: 10mm;
    background-color: #003d9c;
    padding: 5mm 6mm;
    color: white;
    position: relative;

    .client_company {
      position: absolute;
      font-size: 8mm;
    }

    .client_logo {
      height: 100%;
      margin-right: 3mm;
    }

    .client_name {
      position: absolute;
      right: 6mm;
      font-size: 8mm;
    }
  }
  .product {
      height: 100%;
      box-sizing: border-box;

      .product_pictures {
        vertical-align: top;
        width: 139mm;
        display: inline-block;

        .picture {
          max-width: 65mm;
          width: 100%;
          text-align: center;
          display: inline-block;
          background-color: white;
          border: 1px solid #d8d8d8;
          padding: 8mm 1mm 0 1mm;
          .picture_label {
            padding: 3mm 0;
            text-align: center;
            font-size: 4mm;
            color: #003d9c;
          }
        }

        &[layout="1"] {
          .picture {
            width: 135mm;
            max-width: 100%;
            height: 169.4mm;

            .imgpdt {
              max-height: 156mm;
              max-width: 134mm;
            }

            .picture_label {
              font-size: 5mm;
            }
          }
        }
      }

      .product_infos {
        background: white;
        border: 1px solid #d8d8d8;
        padding: 8mm;
        width: 145mm;
        display: inline-block;
        height: 100%;
        box-sizing: border-box;

        .m-3 {
          margin-top: 5mm;
        }

        .info_text, li {
          font-size: 3.6mm;
        }

        .info_title {
          font-size: 4.2mm;
          text-decoration: underline;
          margin-bottom: 1.4mm;
          font-weight: 600;
        }

        .product_title {
          padding-right: 2mm;
        }

        .product_title, .product_current_color {
          font-size: 6mm;
          color: #003d9c;
        }

        .product_desc {
          font-size: 3.5mm;
          margin-top: 2mm;
          line-height: 5mm;
        }

        .product_color {
          .info_text {
            text-align: justify;
            line-height: 22px;
          }
        }

        .product_category {
          li {
            margin: 0 0 1mm 4mm;
          }
        }
      }

      .client_infos {
        margin-right: 2mm;
        background: white;
        border: 1px solid #d8d8d8;
        padding: 8mm;
      }
    }
  .pagination {
    position: absolute;
    font-family: "SourceSans-Regular";
    font-size: 14pt;
    color: $primary;
    text-align: center;
    line-height: 7.7mm;
    border-radius: 50%;
    height: 7.7mm;
    width: 7.7mm;
    bottom: 1mm;
    right: 2mm;
    border: solid 0.3mm $primary;
  }
}
