@import '../template';
@import '../landscape';

$primary_font: "Montserrat" !default;
$height_padder: 210mm - 1px;
$width_padder: 297mm;
$height_header: 27.2mm;
$width_batinfo: 55mm;
$width_product: $width_padder - $width_batinfo;
$padding: 6mm;
$text_color: #565656;


@font-face {
  font-family: 'Montserrat';
  src: url('0_fonts/Montserrat-Regular.ttf') format("truetype");
}

@font-face {
  font-family: 'Gilroy-Light';
  src: url('0_fonts/Gilroy-Light.ttf') format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url('0_fonts/Gilroy-ExtraBold.ttf') format("truetype");
  font-weight: 600;
}
.none-page {
  display: none;
}
.branding {
  .madeSp {
    bottom: 12mm;
    left: 10mm;
  }

  .madeSpPicto {
    bottom: 13mm;
    left: 51mm;
  }
}


.page {
  font-size: 0;
  box-sizing: border-box;
  height: $height_padder;
  width: $width_padder;

  * {
    font-family: $primary_font, sans-serif;
    box-sizing: border-box;
  }

  .d-table {
    display: table;
    width: 100%;
    height: 100%;
  }

  .d-table-row {
    display: table-row;
  }

  .d-table-cell {
    display: table-cell;
    vertical-align: middle;
  }

  .h-100 {
    height: 100%;
  }

  .w-100 {
    width: 100%;
  }

  .padder {
    height: $height_padder;
    width: $width_padder;
    background: #F9F9F9;

    .header {
      height: $height_header;

      .header-container {
        padding: 0 $padding;
        height: 100%;

        .logo_header {
          height: 25mm;
          padding: $padding 0;
          max-height: unset;
          max-width: unset;
        }

        .bat-infos {
          float: right;
          min-width: 55mm;
          .item-info {
            * {
              font-family: Gilroy-Light;
              color: $text_color;
              font-size: 11pt;
            }

            .label-info {
              &:after {
                content: ":";
                display: inline-block;
                margin: 0 1.5mm;
              }
            }

            &.version-info {
              .value-info {
                font-family: Gilroy-ExtraBold !important;
              }
            }
          }
        }
      }
    }

    .product {
      position: relative;
      height: $height_padder - $height_header;
      .line-above {
        background: url("./images/line_above.png") no-repeat;
        background-size: 100% 100%;
        height: 1.8mm;

      }

      .line-below {
        background: url("./images/line_below.png");
        background-size: $width_padder 1.8mm;
        height: 1.8mm;
      }
    }

    .product-content {
      background: url("./images/background.png") no-repeat center;
      background-size: auto 100%;
      position: relative;
     // height: 95mm;
      .title-page {
        position: absolute;
        top: 5mm;
        background: url("./images/title.png") no-repeat;
        background-size: 50mm auto;
        width: 50mm;
        height: 50mm;
        left: 123mm;
      }

      .container-product {
        padding-top: 20mm;
        position: relative;
        height: 100%;
        display: table;
        width: 100%;
        .line-product {
          width: 1.2mm;
          content: "";
          display: inline-block;
          background: #BBBBBB;
          border-radius: 2px;
          position: absolute;
          top: 25mm;
          bottom: 2mm;
          left: 50%;
        }

        .product-pictures {
          height: 100%;
          min-height: 83mm;
          .picture {
            display: inline-block;
            width: 50%;
            height: 83mm;
            &+.picture {
              &:before {
                content: "";
                display: inline-block;
                position: absolute;
                height: 82mm;
                width: 1.2mm;
                background: #BBBBBB;
                border-radius: 2px;
              }
            }

            .picture-item {
              position: relative;
              display: inline-block;
              width: 100%;
              height: 100%;

              img {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                max-width: 100mm;
                max-height: 80mm;
              }
            }

            .picture-label {
              position: absolute;
              top: 0;
              padding: 2.5mm 5mm;
              background: #BBBBBB;
              border-radius: 4px;
              font-size: 17.3pt;
              color: #FFFFFF;
              font-family: Gilroy-Light;
            }

            &:first-child {
              .picture-label {
                right: 2mm;
              }
            }

            &:nth-child(2) {
              .picture-label {
                left: 3mm;
              }
            }
            &:nth-child(3) {
              .picture-label {
                left: 3mm;
              }
            }

          }
          &[layout="3-p"] {
            .picture {
              width: 33.33333%;
              &:first-child {
                .picture-label {
                  left: 2mm;
                  right: inherit;
                }
              }
            }
          }
        }
      }
    }

    .content-bellow {
     // height: 70mm;
      .container-content-bellow {
        height: 63mm;
        padding: 0 3mm 5mm 5mm;
        width: 100%;
      }
      .emplacements-table {
        width: $width_padder - 85mm;
        background: #F9F9F9;
        .emplacements-table-container {
          margin: 0 -1mm;
          width: 100%;
          height: 63mm;
          z-index: 222;
        }
        .contenaire_emplacements {
          // display: table-cell;
          float: left;
          text-align: right;
          height: 60mm;
          .emplacements {
            padding: 0 1mm;

            .container-emplacements {
              padding: 4mm 2mm 2mm;
              width: 100%;
              display: inline-block;
              height: 60mm !important;
              border: solid 0.7mm #565656;
              text-align: center;
              background: #F9F9F9;
            }

            .marquage-namebox.box {
              position: relative;
              top: -9mm;
              background: #BBBBBB;
              padding: 1mm 3mm;
              font-size: 14.3pt;
              display: inline-block;
              * {
                font-family: Gilroy-Light;
                color: #FFFFFF;
                text-transform: uppercase;
              }
            }
            & + .emplacements {
              margin-left: 3mm;
            }
            .des_nommarquage {
              text-align: left;
              color: #EA212E;
              margin-top: 1mm;
              text-transform: uppercase;
              * {
                font-family: Gilroy-Light;
              }
            }

            .marquage-details {
              .infos_container {
                display: inline-block;
              }

              .colors_container {
                * {
                  font-family: Gilroy-Light;
                  color: $text_color;
                  font-size: 9pt;
                  text-align: center;

                }

                p {
                  margin: 0;
                }

                p.collection_name {
                  display: none;
                }
                .box_collection {
                  vertical-align: middle;
                }
                span.color_square {
                  display: inline-block;
                  width: 15mm;
                  height: 4mm;
                  vertical-align: middle;
                  border: solid 0.3mm #000000;
                }
                .squares_color {
                  display: inline-block;
                  min-width: 33.33%;
                  vertical-align: middle;
                }

              }
            }

            .logo-section {
              height: 100%;
              display: table;
              width: 100%;
              margin-top: -10mm;

              .container-marquage-image {
                position: relative;
                display: table-row;
                height: 100%;
                width: 100%;
                .marquage-image{
                  height: 100%;
                  width: 100%;
                  position: relative;
                }

                .marquage_img {
                  position: absolute;
                  top: 0;
                  right: 0;
                  bottom: 0;
                  left: 0;
                  margin: auto;
                  max-width: 47mm;
                  max-height: 32mm;
                }
              }
            }

            .marquage-info * {
              color: $text_color;
              font-size: 11.8pt;
              font-family: Gilroy-Light;
              text-align: left;
            }
          }
          &[layout="2"],  &[layout="1"] {
            .infos_container {
              display: inline-block;
              width: 15mm;
              float: left;
            }
            .emplacements {
              &:last-child {
                .marquage-details {
                  right: 5mm;
                  position: absolute;
                  top: 5mm;
                  > div {
                    display: inline-block;
                  }
                  .marquage-info {
                    float: left;
                    margin-right: 5mm;
                  }
                }
                .infos_container {
                  float: right;
                }
              }
              &:first-child {
                .marquage-details {
                  position: absolute;
                  top: 5mm;
                  left: 5mm;
                  right: inherit;
                  .marquage-info {
                    float: right;
                    margin-left: 5mm;
                  }
                }
                .infos_container {
                  float: left;
                }
              }
            }
          }
          &[layout="1"] {
            margin-left: 90mm;
            .emplacements {
              width: 110mm;
            }
             .contenaire_emplacements {
             }
            margin-right: 13mm
          }

          &[layout="2"] {
            background: #F9F9F9;
            margin-left: 78mm;
            .emplacements {
              width: 67mm;
              display: table-cell;
            }
          }

          &[layout="4"] {
            position: relative;
            background: #F9F9F9;
            width: $width_padder - 85mm;
            float: inherit;
            .emplacements {
              position: relative;
              display: table-cell;
              width: inherit;
              img {
                max-width: 35mm !important;
              }
              .container-emplacements {
                display: table;
                height: 100%;
                width: 100%;
                .logo-section {
                  display: table-row;
                  .des_nommarquage {
                    position: absolute;
                    top: 8mm;
                  }
                  .container-marquage-image {
                    display: block !important;
                    height: 100%;
                  }
                }
                .marquage-namebox {
                  top: -8mm !important;
                }
                .marquage-details {
                  text-align: left !important;
                  * {
                    text-align: left !important;
                  }
                  .box_squares_color {
                    margin-top: 3mm;

                    .box_collection {
                      margin-top: 1.5mm;
                      .squares_color {
                        padding-right: 2mm;
                        margin-top: 0.5mm !important;
                        .color_square {
                          width: 4mm !important;
                          margin-right: 1mm;
                        }
                      }

                    }
                  }
                  .marquage-info {
                    .dimensions, .text-size {
                      display: none;
                    }
                    .marquage-size {
                      position: absolute;
                      top: 9mm;
                      line-height: 8pt;
                      right: 4mm;
                      * {
                        font-size: 7pt;
                      }
                      .size-item {
                        display: inline-block;
                        &.largeur:after {
                          content: "x";
                          display: inline-block;
                          width: 2mm;
                          height: 2mm;
                          margin-left: 1mm;
                          position: relative;
                          line-height: 8pt;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .title-logo {
      .container-title-logo {
        padding-bottom: 5mm;
        font-family: Gilroy-ExtraBold;
        font-size: 17.3pt;
        color: #54565A;
        text-align: center;
      }
    }
    .text_font_container {
      display: none;
    }
    .product-color {
      display: block;
      position: absolute;
      left: 5mm;
      bottom: 44mm;
      margin-left: 1mm;
      float: left;
      * {
        font-size: 16.3pt;
        font-family: Gilroy-Light;
        text-align: left;
      }
      .color-title {
        margin-bottom: 2mm;
      }
      .color-round-product {
        width: 11mm;
        height: 11mm;
        border-radius: 50%;
        border: solid 1px;
      }
      .product-color-name {
        vertical-align: middle;
        * {
          display: inline-block;
          line-height: 11mm;
          height: 11mm;
          overflow: hidden;
          vertical-align: middle;
        }
      }
    }

    .note-bat-container {
      width: 77mm;
      height: 100%;
      float: right;
      .note-bat {
        color: $text_color;
        font-size: 10.8pt;
        font-family: Gilroy-Light;
        padding: 4mm 2mm;
        border: solid 0.7mm #565656;
        max-width: 80mm;
        height: 60mm;
        position: relative;
        .icon-note {
          background: url("./images/icon-note.png") no-repeat;
          background-size: 10.5mm 10.5mm;
          width: 10.5mm;
          height: 10.5mm;
          position: absolute;
          bottom: 5mm;
          right: 5mm;
        }
      }
    }
  }
}
