$primary: #0a0f1a !default;

.rendu_template {
	* {
		font-family: 'Lato', Arial, sans-serif !important;
		vertical-align: top;
		letter-spacing: 0;
		margin: 0;
		padding: 0;
		font-size: initial;
		color: white;
		font-weight: 600;
	}
	height: 297mm;
	width: 210mm;
	position: relative;
	overflow: hidden;
	img {
		max-width: 100%;
		max-height: 100%;
	}
	.header {
		height: 17%;
		width: 100%;
		position: relative;
		color: white;
		text-align: left;
		h1 {
			font-family: 'Prata' !important;
			font-size: 25px;
		}
		>div {
			margin-bottom: 1mm;
		}
		.logo {
			position: absolute;
			top: 0;
			right: 0;
		}
	}
	.footer {
		width: 100%;
		color: white;
		margin-top: 20mm;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background: $primary;
        min-height: 100px;
	}
	.consigne {
		width: 90%;
		margin: 10px auto;
		bottom: -13mm;
		p {
			font-size: 15px;
			color: $primary;
			text-align: center;
			background: #e8e9e8;
			width: 100%;
			padding: 10px 50px;
			word-break: break-all;
			margin-left: -50%;
		}
	}
	.page {
		position: absolute;
		right: 6mm;
		bottom: 2mm;
	}
}
.border {
	border: 5px solid $primary;
}
.text-italic {
	font-style: italic;
}
.text-bold {
	font-weight: bold;
}
.align-absolute {
	position: absolute;
	left: 50%;
	> {
		&:nth-child(1) {
			margin-left: -50%;
		}
	}
}
div.backgroundColor {
	width: 100%;
	height: 50%;
	position: absolute;
	top: 0;
	background-color: $primary;
}
#templateHTMLP2 {
	.backgroundColor {
		height: 65mm;
	}
	footer {
		height: 10mm;
		background-color: $primary;
		position: absolute;
		width: 100%;
		bottom: 0mm;
	}
}
.padder {
	width: 80%;
	height: 100%;
	margin: auto;
	position: relative;
	padding-top: 15mm;
	.bat_name {
		color: #333;
		font-size: 24px;
		margin-bottom: 0;
		text-transform: uppercase;
	}
}
* {
	box-sizing: border-box;
}
&::after {
	box-sizing: border-box;
}
&::before {
	box-sizing: border-box;
}
img.logo_header {
	max-height: 20mm;
	width: auto;
	height: auto;
}
img.logo_header[high-branding] {
	max-height: 100mm;
	max-width: 50mm;
}
#ref_pdt {
	position: absolute;
	right: 0;
	top: 15%;
	font-size: 18px;
	font-size: 20px;
	text-align: center;
	margin-right: 12%;
}
.body_template {
	position: relative;
	height: 44%;
	width: 100%;
	background-color: unset;
	box-sizing: content-box;
	.product_name {
		color: white;
		text-align: center;
		font-size: 45px;
		font-family: 'Lato' !important;
		margin-bottom: 30px;
		font-weight: normal;
	}
}
.products_preview {
	position: relative;
	width: 100%;
	height: 80mm;
	line-height: 80mm;
	display: table;
	table-layout: fixed;
	>div {
		display: table-cell;
		text-align: center;
		* {
			vertical-align: middle;
		}
	}
}
img.imgpdt {
	max-width: 70mm;
	margin: 0;
	z-index: 1;
}
.reference_container {
	width: 60%;
	text-align: center;
	position: relative;
	margin: 20mm auto 0;
	height: 25mm;
	>.align-absolute {
		width: 80%;
		bottom: -6mm;
	}
	.reftext {
		font-family: 'Prata' !important;
		font-size: 23px;
		color: $primary;
		margin-top: 7mm;
	}
	.refvalue {
		font-size: 25px;
		color: $primary;
		width: 100%;
		background: #e8e9e8;
		padding: 10px 0;
	}
}
.content_appro {
	width: 66%;
	display: inline-block;
	margin-top: 30px;
	color: #07727E;
	font-size: 17px;
	padding-left: 10px;
	>div {
		display: inline-block;
		width: 40%;
		.fillZone {
			background: white;
			width: 100%;
			height: 15mm;
			margin-top: 5mm;
		}
	}
	.signature {
		margin-left: 20mm;
	}
}
.appro {
	width: 85%;
	height: 45mm;
	margin: 0 auto;
}
.text_appro {
	font-family: 'Prata' !important;
	font-size: 27px;
	color: white;
	text-align: center;
	margin: 20px 0 10px;
	display: inline-block;
	width: 33%;
	font-weight: 300;
}
.contenaire_emplacements {
	margin-top: 30mm;
	.bloc_marquage {
		&:nth-of-type(n+1) {
			margin-top: 0;
		}
		&:nth-of-type(2n) {
			margin-left: 10mm;
		}
	}
}
.bloc_marquage {
	width: 78mm;
	margin-bottom: 10mm;
	text-align: center;
	display: inline-block;
	background-color: #e8e9e8;
	padding: 15px 25px;
	.emplacement_marquage {
		color: $primary;
		font-size: 25px;
		text-transform: capitalize;
	}
	[sp-category="infologo"] {
		color: $primary;
	}
}
.img-container {
	width: 100%;
	height: 30mm;
	line-height: 30mm;
	text-align: center;
	img {
		vertical-align: middle;
	}
}
.marquage_detail {
	margin-top: 0px;
	div {
		font-size: 20px;
		color: $primary;
		line-height: 27px;
	}
	span {
		font-size: 20px;
		color: $primary;
		line-height: 27px;
	}
	.logo_comment {
		font-size: 12px;
	}
}
.poweredBy {
	width: 100%;
	position: absolute;
	bottom: 0;
	text-align: center;
	font-size: 10px;
	letter-spacing: 1px;
	padding-top: 10px;
	line-height: 23px;
	img {
		max-height: 20px;
		margin-left: 5px;
	}
}
[hidden-element] {
	display: none;
}
.branding {
	.madeSp {
		position: absolute;
		text-align: center;
		font-size: 4mm;
		color: #003d9c;
		bottom: 90mm;
		right: 70mm;
	}
	.madeSpPicto {
		position: absolute;
		bottom: 90.5mm;
		right: 65mm;
		width: 4mm;
	}
}
.fonts_container {
	text-align: start;
	display: block;
	padding: 1mm 0;
}
.colors_container {
	text-align: start;
	display: block;
	.box_squares_color {
		.box_collection {
			.collection_name {
				font-weight: bold;
				margin: 0;
			}
			padding: 1mm 0;
			text-align: start;
		}
	}
	[type_display="0"] {
		.squares_color {
			display: block;
			text-align: left;
		}
	}
	[type_display="1"] {
		.squares_color {
			display: inline-block;
		}
	}
	.squares_color {
		padding: 1mm 4mm 2mm 0;
		.color_square {
			margin-right: 0.2mm;
			display: inline-block;
			vertical-align: middle;
			border: 1px solid black;
			width: 3mm;
			height: 3mm;
		}
	}
}
.box_fonts {
	padding: 1mm 4mm 2mm 0;
	display: inline-block;
}
.fonts_list {
	display: inline-block;
}
.font_text {
	display: inline-block;
}
.fonts_use {
	font-weight: bold;
	color: black;
	margin-right: 25px;
}
.collection_name {
	font-weight: bold;
	color: black;
}
.squares_color {
	.color_text {
		display: inline-block;
		vertical-align: middle;
		font-size: 12px;
	}
}
