@import '../template';
@import '../landscape';

$primary_color: rgb(235, 199, 63);
$border_width_template: 3mm;
$padding_right_template: 10.5mm;
$padding_left_template: 14.5mm;
$height_header: 19.5mm;
$gap_header: 8.5mm;

$width_sidebar: 99.5mm;
$gap_sidebar: 5.5mm;

$height_padder: 210mm - ($border_width_template * 2);
$width_padder: 297mm - ($border_width_template * 2);
$height_footer: 8mm;

$width_product: 297mm - ($border_width_template * 2) - $padding_right_template - $padding_left_template - $width_sidebar - $gap_sidebar;
$height_content: $height_padder - $height_header - $gap_header - $height_footer;

@font-face {
    font-family: 'OpenSans-SemiBold';
    src: url('0_fonts/OpenSans/OpenSans-SemiBold.ttf') format("truetype");
}
@font-face {
    font-family: 'OpenSans-Regular';
    src: url('0_fonts/OpenSans/OpenSans-Regular.ttf') format("truetype");
}
@font-face {
    font-family: 'OpenSans-Bold';
    src: url('0_fonts/OpenSans/OpenSans-Bold.ttf') format("truetype");
}
.col-6 {
    float: left;
    width: 50%;
}
.h-100 {
    height: 100%;
}
.align-r {
    text-align: right;
}
.bat-row {
    display: table-row;
    overflow: hidden;
    width: 100%;
}
.d-table {
    display: table;
    width: 100%;
    height: 100%;
}
.table-cell {
    display: table-cell;
    overflow: hidden;
    width: 100%;
}
.vertical-align {
    vertical-align: middle;
}

* {
    box-sizing: border-box;
}
.under-line {

}
.branding {
    position: absolute;
    margin-top: 3mm;
    .madeSp {
        position: relative;
        display: inline-block;
    }

    .madeSpPicto {
        position: relative;
        top: 1mm;
        margin-left: 2mm;
    }
}
.page {
    background-color: $primary_color;
    padding: $border_width_template;
    font-size: 0;
    box-sizing: border-box;
    .f-l {
        float: left;
    }
    .box {
        width: 3.7mm;
        height: 3.7mm;
        background-color: $primary_color;
        display: inline-block;
        margin-right: 2.5mm;
    }
    .uppercase {
        text-transform: uppercase;
    }
    .padder {
        background-color: #ffffff;
        padding: 0 $padding_right_template 0 $padding_left_template;
        height: $height_padder;
        width: $width_padder;
        .bat-header {
            color: #ffffff;
            line-height: $height_header;
            height: $height_header;
            margin-bottom: $gap_header;
            overflow: hidden;
            box-sizing: border-box;
            position: relative;
            top: -1mm;
            .block-header {
                background-color: $primary_color;
                padding: 0 6mm;
                display: inline-block;
            }
            .company {
                min-width: 78.5mm;
                height: $height_header;
                * {
                    font-family: OpenSans-Bold;
                    font-weight: 700;
                }
                img {
                    height: 15mm;
                    margin: 2.25mm 0;
                }
                span {
                    font-size: 19pt;
                    margin-left: 2mm;
                }
            }
            .title-header {
                font-size: 22.5pt;
                min-width: 64mm;
                height: $height_header;
                font-weight: 700;
                font-family: OpenSans-Bold !important;
            }
        }

        .bat-content {
            overflow: hidden;
            height: $height_content;
            padding-bottom: 10mm;
            position: relative;
            .sidebar {
                width: $width_sidebar;
                margin-left: $gap_sidebar;
                float: left;
                display: table;
                height: $height_content - 10mm;
                .bat-infos {
                    color: #ffffff;
                    background-color: $primary_color;
                    padding: 1mm 12.5mm 3.5mm 13.5mm;
                    font-size: 11pt;
                    position: relative;
                    .plus-icon {
                        padding: 1mm;
                        background: #FFFFFF;
                        display: inline-block;
                        position: absolute;
                        left: 0;
                        top: 0;
                        img {
                            width: 6.5mm;
                        }
                    }

                    * {
                        font-family: OpenSans-SemiBold;
                    }
                    .client {
                        font-size: 19pt;
                        font-family: OpenSans-Bold;
                        margin-bottom: 3mm;
                        font-weight: 700;
                    }
                    .info {
                        line-height: 16pt;
                        span.value {
                            float: right;
                        }
                    }

                }
                .validation {
                    display: table-row;
                    height: auto;
                }
                .comment {
                    font-family: OpenSans-Regular;
                    font-size: 12.5pt;
                    margin-top: 7.5mm;
                    margin-bottom: 5mm;
                    b, strong {
                        font-family: OpenSans-Bold;
                    }

                }
                .row-accord {
                    height: 100%;
                }
                .accord {
                    width: 100%;
                    height: 100%;
                    border: solid 0.6mm $primary_color;
                    padding: 5mm;
                    color: #737B7F;
                    min-height: 30mm;
                    overflow: auto;
                    .accord-title {
                        font-size: 11.6pt;
                        font-family: OpenSans-SemiBold;
                        border-bottom: solid 0.5mm #737B7F;
                        min-width: 45mm;
                    }
                    .box {
                        margin-top: 1.5mm;
                    }
                    .accord-extra {
                        font-size: 7pt;
                        font-family: OpenSans-Regular;
                        margin-top: 0.5mm;
                    }
                }
            }

            .product {
                float: left;
                width: $width_product;
                height: 100%;
                display: table;
                .title {
                    display: table;
                    position: relative;
                    margin-bottom: 4.5mm;
                    width: 100%;
                    .under-line {
                        height: 0.5mm;
                        width: 126.6mm;
                        position: absolute;
                        background: #737B7F;
                        left: 17.7mm;
                        top: 8.5mm;
                    }
                    .box-title {
                        float: left;
                        margin-right: 4.2mm;
                        margin-top: 2mm;
                        img {
                            width: 13.7mm;
                        }
                    }
                    .product-title {
                        font-size: 19.7pt;
                        line-height: 30pt;
                        font-family: OpenSans-Bold;
                        font-weight: 700;
                        color: #737B7F;
                        position: relative;
                        top: -2mm;
                    }
                }
                .row-product {
                    display: table-row;
                    position: relative;
                    overflow: hidden;
                    width: 100%;
                    height: 100%;
                }
                .product-pictures {
                    position: relative;
                    overflow: hidden;
                    height: 100%;
                    margin: 0 -2.8mm;
                    .picture {
                        height: 100%;
                        position: relative;
                        width: 100%;
                        padding: 0 2.8mm;
                        .picture-item {
                            height: 100%;
                            position: relative;
                            width: 100%;
                            border: solid 0.6mm $primary_color;
                            padding: 3mm;
                            color: #737B7F;
                            .container-product {
                                position: relative;
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                    .picture-label {
                        position: absolute;
                        bottom: 2mm;
                        display: table;
                        overflow: hidden;


                    }
                    .picture-label div {
                        display: inline-block;
                        font-size: 11.6pt;
                        font-family: OpenSans-Bold;
                        font-weight: 600;
                        vertical-align: middle;
                    }

                    &[layout="1-p"] {
                        .picture {
                            img {
                                position: absolute;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                left: 0;
                                margin: auto;
                                max-width: 100%;
                                max-height: 100%;
                            }
                        }
                    }
                    &[layout="2-p"] {
                        .picture {
                            width: 50%;
                            float: left;
                            img {
                                position: absolute;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                left: 0;
                                margin: auto;
                                max-width: 100%;
                                max-height: 100%;
                            }
                        }
                    }
                    &[layout="3-p"], &[layout="4-p"] {
                        margin: 2.4mm -2.4mm;
                        .picture {
                            width: 50%;
                            float: left;
                            height: 50%;
                            padding: 2.4mm;
                            img {
                                position: absolute;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                left: 0;
                                margin: auto;
                                max-width: 53mm;
                                max-height: 53mm;
                            }
                        }

                    }
                    &[layout="3-p"] {
                        .picture:nth-child(3) {
                            width: 100%;
                            img {
                                max-width: 57mm;
                                max-height: 57mm;
                            }
                        }
                    }
                }
            }
            .contenaire_emplacements {
                height: 100%;
                .marquage {
                    height: 100%;
                    height: 158mm;
                    border: solid 0.6mm #ebc73f;
                    padding: 5mm;
                    color: #737B7F;
                    display: inline-block;
                    &:nth-child(2),&:nth-child(1) {
                        width: 77.7mm;
                    }
                    &:nth-child(1) {
                        margin-right: 5.6mm;
                    }
                    .marquage-image {
                        position: relative;
                        height: 100%;
                        padding: 4mm;
                        .container-logo {
                            height: 100%;
                            position: relative;
                            width: 100%;
                            img {
                                position: absolute;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                left: 0;
                                margin: auto;
                                //max-width: 100%;
                                //max-height: 100%;
                            }
                        }

                    }
                    .bat-row {
                        height: 100%;
                    }

                    .logo-info {
                        color: #737B7F;
                        .marquage-details {
                            margin-top: 3mm;
                            p {
                                margin: 0;
                            }
                        }
                        .marquage-size {
                            margin: 2mm 7.5mm;
                        }
                        * {
                            font-family: OpenSans-Regular;
                            font-size: 9pt;

                        }
                        .collection_name:before, .fonts_use:before {
                            content: "";
                            width: 3.7mm;
                            height: 3.7mm;
                            background-color: #ebc73f;
                            display: inline-block;
                            margin-right: 3.5mm;
                        }
                        .box_collection {
                            margin-left: 7.5mm;
                            .collection_name {
                                margin-left: -7.5mm;
                            }
                        }
                        p.fonts_use {
                            position: relative;
                            margin-top: 5mm !important;
                            padding-top: 3mm;
                            height: 8mm !important;
                        }
                        .font_text {
                            margin-right: 1.5mm
                        }
                        .box_fonts {
                            margin: 2mm 7.5mm;
                            div {
                                display: inline-block;
                            }
                        }
                        .fonts_use:after {
                            content: "";
                            display: block;
                            border-top: solid 0.6mm #737B7F;
                            margin-top: 4mm;
                            padding-top: 4mm;
                            position: absolute;
                            top: -6mm;
                            height: 0.6mm;
                            margin-left: 7mm;
                            left: 0;
                            right: 0;
                        }
                        .box_collection:before,  {
                            content: "";
                            display: block;
                            border-top: solid 0.6mm #737B7F;
                            margin-top: 4mm;
                            padding-top: 4mm;

                        }

                        .color_square {
                            width: 100%;
                            height: 2.5mm;
                            display: inline-block;
                            border: solid 0.3mm #000000;
                        }

                        .squares_color {
                            position: relative;
                            height: 10mm;
                            display: inline-block;
                            width: 33.33%;
                            padding-top: 3mm;
                        }
                        span.color_text {
                            position: absolute;
                            bottom: -1mm;
                            left: 0mm;
                            width: max-content;
                            font-size: 8.5pt;
                        }
                        .marquage-namebox, .collection_name, .fonts_use {
                            font-size: 13pt;
                            line-height: 13pt;
                            height: 13pt;
                            font-family: OpenSans-SemiBold;
                            width: 100%;
                            margin: 0;
                            * {
                                font-family: OpenSans-SemiBold;
                                font-size: 13pt;

                            }
                        }
                    }
                }
                &[layout="1"] {
                    .marquage {
                        width: 100%;
                    }
                }
                &[layout="2"] {
                    .marquage {
                        width: 100%;
                        padding: 3mm 3mm;
                        &:nth-child(2) {
                            position: absolute;
                            right: 0;
                            width: $width_sidebar;
                            height: 113mm;
                            bottom: 10mm;
                            img {
                                max-width: 85mm;
                                max-height: 50mm;
                            }
                        }
                    }
                }
                &[layout="4"] {
                    .marquage {
                        width: 100%;
                        padding: 3mm 3mm 0;
                        .row-img {
                            height: 100% !important;
                        }
                        &:nth-child(2) {
                            position: absolute;
                            right: 0;
                            width: $width_sidebar;
                            height: 118mm;
                            bottom: 5mm;
                        }
                        //&:nth-child(3) {
                        //    position: absolute;
                        //    right: 0;
                        //    width: $width_sidebar;
                        //    height: 118mm;
                        //    bottom: 5mm;
                        //    img {
                        //        max-width: 47mm;
                        //    }
                        //}
                        //&:nth-child(4) {
                        //    width: 100%;
                        //}
                    }
                }
            }

        }
        .footer {
            height: $height_footer;
            position: relative;
            display: table;
            width: 100%;
            .text-note {
                font-size: 11.5pt;
                color: #737B7F;
                line-height: $height_footer;
                vertical-align: middle;
                display: table-cell;
                font-family: OpenSans-SemiBold;
                clear: both;
            }
            .box {
                vertical-align: middle;
                margin-top: 2mm;
            }

            .pagination {
                position: absolute;
                right: 0;
                bottom: -$border_width_template;
                width: 12mm;
                height: 12mm;
                line-height: 10mm;
                font-size: 14pt;
                font-family: 'OpenSans-Bold';
                color: #fff;
                background-color: $primary_color;
                text-align: center;
                font-weight: 700;
            }
        }

    }
}
