img {
  max-width: 250px;
  max-height: 250px;
  height: auto;
  width: auto; }

.uppercase {
  text-transform: uppercase; }

.vertical-align {
  height: 100%;
  line-height: inherit; }
  .vertical-align > * {
    display: inline-block;
    vertical-align: middle; }

[hidden-element] {
  display: none !important; }

.branding .madeSp {
  position: absolute;
  text-align: center;
  font-size: 4mm;
  color: #003d9c; }
.branding .madeSpPicto {
  position: absolute;
  width: 4mm; }

@page {
  size: landscape; }

.page {
  background-color: white;
  position: relative;
  width: 297mm;
  height: 210mm; }

@font-face {
  font-family: 'Gobold';
  src: url('./0_fonts/Gobold/Gobold Regular.ttf') format("truetype"); }
@font-face {
  font-family: 'GoboldBold';
  font-weight: 600;
  src: url('0_fonts/GoboldBold/Gobold Bold.ttf') format("truetype"); }
@font-face {
  font-family: 'GoboldBoldItalic';
  font-weight: 600;
  src: url('0_fonts/GoboldBoldItalic/Gobold Bold Italic.ttf') format("truetype"); }
@font-face {
  font-family: 'HelveticaNeueMedium';
  src: url('0_fonts/HelveticaNeueMedium/Helvetica Neue Medium.ttf') format("truetype"); }
@font-face {
  font-family: 'HelveticaNeueBold';
  font-weight: 600;
  src: url('0_fonts/HelveticaNeueBold/Helvetica Neu Bold.ttf') format("truetype"); }

.none-page {
  display: none; }

.page {
  font-size: 0; }
  .page .uppercase {
    text-transform: uppercase; }
  .page * {
    box-sizing: border-box; }
  .page .padder {
    width: 297mm;
    height: 210mm;
    padding: 3.5mm 5.5mm 3.5mm 3.5mm; }
  .page .bat-content {
    float: left;
    width: 170.2mm; }
    .page .bat-content .header {
      display: inline-block; }
      .page .bat-content .header .header-logo {
        float: left;
        max-width: 32.2mm;
        margin-right: 2mm; }
        .page .bat-content .header .header-logo img {
          max-width: 32.2mm; }
      .page .bat-content .header .header-text {
        float: left;
        font-size: 28.5mm;
        line-height: 28.5mm;
        font-family: Gobold;
        color: #8c8c8c;
        position: relative; }
        .page .bat-content .header .header-text .badge {
          position: absolute;
          width: 6.2mm;
          height: 6.2mm;
          border-radius: 50%;
          line-height: 6.2mm;
          font-size: 13pt;
          font-family: HelveticaNeueBold;
          background: #000000;
          right: -3.1mm;
          top: 3.1mm;
          color: #ffffff;
          text-align: center; }
    .page .bat-content .divider-header {
      height: 0.3mm;
      width: 100%;
      border: dashed 0.3mm #231f20;
      margin: 1.4mm 0; }
    .page .bat-content .divider-info {
      height: 0.3mm;
      width: 100%;
      border-top: solid 0.6mm #231f20;
      margin: 1.4mm 0; }
    .page .bat-content .content {
      height: 140.3mm;
      display: table;
      width: 100%; }
      .page .bat-content .bat-infos .label-info, .page .bat-content .bat-infos .value-info {
        font-family: GoboldBold; }
      .page .bat-content .bat-infos .value-info {
        color: #8C8C8C; }
      .page .bat-content .bat-infos .info {
        display: table;
        width: 100%; }
        .page .bat-content .bat-infos .info .left-info {
          font-size: 26pt;
          line-height: 28pt;
          display: table-cell;
          width: 68%;
          vertical-align: middle; }
          .page .bat-content .bat-infos .info .left-info img {
            max-height: 28pt; }
        .page .bat-content .bat-infos .info .right-info {
          font-size: 13pt;
          line-height: 15pt;
          display: table-cell;
          vertical-align: middle; }
      .page .bat-content .bat-infos .type-product {
        font-size: 15pt;
        line-height: 20pt;
        margin-bottom: 1.4mm; }
        .page .bat-content .bat-infos .type-product .label-info {
          text-decoration: underline; }
        .page .bat-content .bat-infos .type-product img {
          height: 5.2mm; }
    .page .bat-content .product {
      display: table-row;
      width: 100%;
      height: 100%;
      padding: 2mm 0; }
    .page .bat-content .product-pictures {
      border: solid 0.6mm #e1e1e1;
      border-radius: 3mm;
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 100%;
      display: block; }
      .page .bat-content .product-pictures .picture {
        height: 100%;
        position: relative; }
        .page .bat-content .product-pictures[layout="1-p"] .picture img {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: auto; }
      .page .bat-content .product-pictures[layout="2-p"] .picture {
        width: 50%;
        float: left; }
        .page .bat-content .product-pictures[layout="2-p"] .picture img {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: auto; }
    .page .bat-content .footer {
      margin-top: 1.4mm; }
      .page .bat-content .footer .footer-block-item {
        height: 30.7mm;
        float: left;
        border-radius: 3mm;
        padding: 2.4mm;
        color: #ffffff;
        line-height: 8.4pt;
        position: relative;
        position: relative; }
        .page .bat-content .footer .footer-block-item + .footer-block-item {
          margin-left: 2.4mm; }
          .page .bat-content .footer .footer-block-item .attention + .attention {
            position: absolute;
            bottom: 2.4mm; }
        .page .bat-content .footer .footer-block-item .label-footer {
          font-size: 6.7pt;
          font-family: HelveticaNeueBold;
          font-style: italic;
          text-decoration: underline; }
        .page .bat-content .footer .footer-block-item .comment-footer {
          font-size: 6.7pt;
          font-family: HelveticaNeueMedium;
          font-style: italic; }
        .page .bat-content .footer .footer-block-item .footer-block-header {
          font-family: GoboldBoldItalic;
          font-size: 7.6pt;
          margin-bottom: 2.4mm;
          padding: 0 2.4mm; }
      .page .bat-content .footer .footer-block-1, .page .bat-content .footer .footer-block-2 {
        background: #404040;
        line-height: 9pt; }
      .page .bat-content .footer .footer-block-content {
        background: #ffffff;
        border-bottom-left-radius: 1mm;
        border-bottom-right-radius: 1mm;
        position: absolute;
        bottom: 2.4mm;
        left: 2.4mm;
        right: 2.4mm;
        top: 10mm;
        padding: 1mm 2.4mm;
        color: #000000;
        font-family: HelveticaNeueMedium;
        font-style: italic;
        font-size: 6.7pt; }
      .page .bat-content .footer .footer-block-1 {
        width: 55mm;
        line-height: 6.7pt; }
      .page .bat-content .footer .footer-block-2 {
        width: 60mm; }
        .page .bat-content .footer .footer-block-2 .footer-block-content {
          font-style: normal;
          font-size: 4pt;
          line-height: 5pt; }
          .page .bat-content .footer .footer-block-2 .footer-block-content .more-info {
            margin-top: 1mm; }
            .page .bat-content .footer .footer-block-2 .footer-block-content .more-info .right-more .item {
              line-height: 8pt; }
              .page .bat-content .footer .footer-block-2 .footer-block-content .more-info .right-more .item:before {
                content: "";
                margin-right: 1mm;
                display: inline-block;
                width: 2mm;
                height: 2mm;
                border: solid 1px #e00027; }
            .page .bat-content .footer .footer-block-2 .footer-block-content .more-info > div {
              float: left;
              width: 50%;
              font-size: 6pt;
              line-height: 6.7pt; }
            .page .bat-content .footer .footer-block-2 .footer-block-content .more-info .note-more {
              font-size: 4pt;
              line-height: 5pt; }
      .page .bat-content .footer .footer-block-3 {
        background: #e54d5a;
        width: 50mm; }
  .page .bat-sidebar {
    float: left;
    width: 106.8mm;
    height: 203mm;
    margin-left: 11mm;
    display: flex;
    flex-direction: column; }
    .page .bat-sidebar .logo-section {
      height: 100%; }
      .page .bat-sidebar[layout="1"] .emplacements {
        height: 203mm; }
    .page .bat-sidebar[layout="2"] .emplacements {
      height: 101.5mm; }
      .page .bat-sidebar[layout="2"] .emplacements .marquage_img {
        max-height: 81.5mm; }
  .page .bat-sidebar[layout="3"] .emplacements {
    height: 67.6666666667mm; }
    .page .bat-sidebar[layout="3"] .emplacements .marquage_img {
      max-height: 47.6666666667mm; }
.page .bat-sidebar[layout="4"] .emplacements {
  height: 50.75mm; }
  .page .bat-sidebar[layout="4"] .emplacements .marquage_img {
    max-height: 30.75mm; }
.page .bat-sidebar .emplacements:nth-child(1) .des_nommarquage {
  background-color: #f0b16a; }
  .page .bat-sidebar .emplacements:nth-child(1) .des_nommarquage:after {
    border-top: 11.3mm solid #f0b16a; }
  .page .bat-sidebar .emplacements:nth-child(1) .des_nommarquage:before {
    border-top: 5.5mm solid #d1954f; }
.page .bat-sidebar .emplacements:nth-child(3) .des_nommarquage {
  background-color: #add3a2; }
  .page .bat-sidebar .emplacements:nth-child(3) .des_nommarquage:after {
    border-top: 11.3mm solid #add3a2; }
  .page .bat-sidebar .emplacements:nth-child(3) .des_nommarquage:before {
    border-top: 5.5mm solid #7fa773; }
.page .bat-sidebar .emplacements:nth-child(2) .des_nommarquage {
  background-color: #c7a5c8; }
  .page .bat-sidebar .emplacements:nth-child(2) .des_nommarquage:after {
    border-top: 11.3mm solid #c7a5c8; }
  .page .bat-sidebar .emplacements:nth-child(2) .des_nommarquage:before {
    border-top: 5.5mm solid #a274a5; }
.page .bat-sidebar .emplacements:nth-child(4) .des_nommarquage {
  background-color: #c7a5c8; }
  .page .bat-sidebar .emplacements:nth-child(4) .des_nommarquage:after {
    border-top: 11.3mm solid #c7a5c8; }
  .page .bat-sidebar .emplacements:nth-child(4) .des_nommarquage:before {
    border-top: 5.5mm solid #a274a5; }
.page .bat-sidebar .emplacements {
  position: relative;
  flex: 1; }
.page .bat-sidebar .logo-section {
  background-color: #f1f1f1;
  position: relative;
  border-top-right-radius: 8mm; }
  .page .bat-sidebar .logo-section .marquage-image {
    height: 100%; }
    .page .bat-sidebar .logo-section .marquage-image .marquage_img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto; }
  .page .bat-sidebar .logo-section .des_nommarquage {
    height: 11.3mm;
    min-width: 46.2mm;
    position: absolute;
    left: -3.5mm;
    padding-left: 3.5mm;
    text-transform: uppercase; }
    .page .bat-sidebar .logo-section .des_nommarquage:after {
      content: "";
      position: absolute;
      right: -3.5mm;
      top: 0;
      width: 0;
      height: 0;
      border-right: 3.5mm solid transparent; }
    .page .bat-sidebar .logo-section .des_nommarquage:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -5.5mm;
      width: 0;
      height: 0;
      border-left: 3.5mm solid transparent; }
    .page .bat-sidebar .logo-section .des_nommarquage .des_nommarquage-text {
      line-height: 11.3mm;
      color: #fff;
      font-size: 5.7mm;
      font-family: GoboldBoldItalic;
      overflow: hidden;
      height: 11.3mm;
      padding-right: 3mm; }
.page .bat-sidebar .marquage-details {
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1mm 0; }
  .page .bat-sidebar .marquage-details .marquage-item {
    float: left;
    margin-right: 2mm;
    line-height: 10pt;
    height: 4mm; }
    .page .bat-sidebar .marquage-details .marquage-item:last-child {
      margin-right: 0; }
  .page .bat-sidebar .marquage-details .marquage-label, .page .bat-sidebar .marquage-details .collection_name {
    font-size: 8.5pt;
    font-family: HelveticaNeueBold;
    text-transform: uppercase;
    text-decoration: underline;
    margin-right: 1mm !important;
    color: #050708;
    display: inline-block; }
  .page .bat-sidebar .marquage-details .collection_name {
    margin: 0; }
    .page .bat-sidebar .marquage-details .collection_name:after {
      content: ":"; }
  .page .bat-sidebar .marquage-details .box_collection {
    float: left;
    margin-right: 2mm;
    height: 4mm;
    overflow: hidden; }
    .page .bat-sidebar .marquage-details .box_collection .squares_color {
      margin-right: 1mm; }
  .page .bat-sidebar .marquage-details .box_collection + .box_collection .collection_name {
    padding: 0; }
  .page .bat-sidebar .marquage-details .squares_color {
    display: inline-block;
    height: 4mm; }
    .page .bat-sidebar .marquage-details .squares_color span.color_square {
      display: inline-block;
      width: 3mm;
      height: 3mm;
      margin-top: 0.5mm; }
  .page .bat-sidebar .marquage-details .marquage-value, .page .bat-sidebar .marquage-details .squares_color, .page .bat-sidebar .marquage-details .color_square {
    font-size: 8.5pt;
    font-family: HelveticaNeueMedium;
    color: #666766; }
