@import '../template';
@import '../landscape';

$padding_page: 3.5mm;
$padding_right_page: 5.5mm;

$width_sidebar: 106.8mm;
$height_sidebar: 210mm - $padding_page * 2;
$gap_left_sidebar: 11mm;

$width_content: 297mm - $padding_page - $padding_right_page - $width_sidebar - $gap_left_sidebar;

$width_bat_info_block: 60.5mm;
$height_bat_info_block: 30.5mm;
$gap_bat_info_block: 2mm;

$bg_sidebar: #f1f1f1 !default;

$height_header: 28.5mm;
$height_product_content: 16.5mm;

$height_nommarquage: 11.3mm;
$width_nommarquage: 46.2mm;

$height_footer: 30.7mm;
$gap_footer: 2.4mm;

$height_logo_section_layout_2: $height_sidebar/2;
$height_logo_section_layout_3: $height_sidebar/3;
$height_logo_section_layout_4: $height_sidebar/4;

@font-face {
  font-family: 'Gobold';
  src: url('./0_fonts/Gobold/Gobold Regular.ttf') format("truetype"); }
@font-face {
  font-family: 'GoboldBold';
  font-weight: 600;
  src: url('0_fonts/GoboldBold/Gobold Bold.ttf') format("truetype"); }
@font-face {
  font-family: 'GoboldBoldItalic';
  font-weight: 600;
  src: url('0_fonts/GoboldBoldItalic/Gobold Bold Italic.ttf') format("truetype"); }
@font-face {
  font-family: 'HelveticaNeueMedium';
  src: url('0_fonts/HelveticaNeueMedium/Helvetica Neue Medium.ttf') format("truetype"); }
@font-face {
  font-family: 'HelveticaNeueBold';
  font-weight: 600;
  src: url('0_fonts/HelveticaNeueBold/Helvetica Neu Bold.ttf') format("truetype"); }

.none-page {
  display: none;
}
.page {
  font-size: 0;

  .uppercase {
    text-transform: uppercase;
  }

  * {
    box-sizing: border-box;
  }

  .padder {
    width: 297mm;
    height: 210mm;
    padding: $padding_page $padding_right_page $padding_page $padding_page;
  }

  .bat-content {
    float: left;
    width: $width_content;

    .header {
      display: inline-block;
      .header-logo {
        float: left;
        max-width: 32.2mm;
        margin-right: 2mm;
			img {
				 max-width: 32.2mm;
			}
      }

      .header-text {
        float: left;
        font-size: 28.5mm;
        line-height: 28.5mm;
        font-family: Gobold;
        color: #8c8c8c;
        position: relative;
        .badge {
          position: absolute;
          width: 6.2mm;
          height: 6.2mm;
          border-radius: 50%;
          line-height: 6.2mm;
          font-size: 13pt;
          font-family: HelveticaNeueBold;
          background: #000000;
          right: -3.1mm;
          top: 3.1mm;
          color: #ffffff;
          text-align: center;
        }
      }
    }

    .divider-header {
      height: 0.3mm;
      width: 100%;
      border: dashed 0.3mm #231f20;
      margin: 1.4mm 0;
    }
    .divider-info {
      height: 0.3mm;
      width: 100%;
      border-top: solid 0.6mm #231f20;
      margin: 1.4mm 0;
    }
    .content {
      height: $height_sidebar - 32mm - 30.7mm ;
      display: table;
      width: 100%;
    }
    .bat-infos {

      .label-info, .value-info {
        font-family: GoboldBold;
      }
      .value-info {
        color: #8C8C8C;
      }
      .info {
        display: table;
        width: 100%;
        .left-info {
          font-size: 26pt;
          line-height: 28pt;
          //float: left;
          display: table-cell;
          width: 68%;
          vertical-align: middle;
		  img {
			max-height: 28pt;
		  }
        }

        .right-info {
          font-size: 13pt;
          line-height: 15pt;
          //float: right;
          display: table-cell;
          vertical-align: middle;
        }
      }
      .type-product {
        font-size: 15pt;
        line-height: 20pt;
        margin-bottom: 1.4mm;
        .label-info {
          text-decoration: underline;
        }
        img {
          height: 5.2mm;
        }
      }
    }

    .product {
      display: table-row;
      width: 100%;
      height: 100%;
      padding: 2mm 0;
    }
    .product-pictures {
      border: solid 0.6mm #e1e1e1;
      border-radius: 3mm;
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 100%;
      display: block;
      .picture {
        height: 100%;
        position: relative;
      }
      &[layout="1-p"] {
        .picture {
          img {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
          }
        }
      }
      &[layout="2-p"] {
        .picture {
          width: 50%;
          float: left;
          img {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
          }
        }
      }
    }

    .footer {
      margin-top: 1.4mm;
      .footer-block-item {
        height: $height_footer;
        float: left;
        border-radius: 3mm;
        padding: 2.4mm;
        color: #ffffff;
        line-height: 8.4pt;
        position: relative;
        + .footer-block-item {
          margin-left: $gap_footer;
        }
        position: relative;
        .attention{
          + .attention{
            position: absolute;
            bottom: 2.4mm;
          }
        }
        .label-footer {
          font-size: 6.7pt;
          font-family: HelveticaNeueBold;
          font-style: italic;
          text-decoration: underline;

        }
        .comment-footer {
          font-size: 6.7pt;
          font-family: HelveticaNeueMedium;
          font-style: italic;
        }
        .footer-block-header {
          font-family: GoboldBoldItalic;
          font-size: 7.6pt;
          margin-bottom: 2.4mm;
          padding: 0 2.4mm
        }

      }

      .footer-block-1, .footer-block-2{
        background: #404040;
        line-height: 9pt;
      }
      .footer-block-content {
        background: #ffffff;
        border-bottom-left-radius: 1mm;
        border-bottom-right-radius: 1mm;
        position: absolute;
        bottom: 2.4mm;
        left: 2.4mm;
        right: 2.4mm;
        top: 10mm;
        padding: 1mm 2.4mm;
        color: #000000;
        font-family: HelveticaNeueMedium;
        font-style: italic;
        font-size: 6.7pt;
      }
      .footer-block-1 {
        width: 55mm;
        line-height: 6.7pt;
      }
      .footer-block-2 {
        width: 60mm;
        .footer-block-content {
          font-style: normal;
          font-size: 4pt;
          line-height: 5pt;
          .more-info {
            margin-top: 1mm;
            .right-more {
              .item {
                line-height: 8pt;
                &:before {
                  content: "";
                  margin-right: 1mm;
                  display: inline-block;
                  width: 2mm;
                  height: 2mm;
                  border: solid 1px #e00027;
                }
              }
            }
            > div {
              float: left;
              width: 50%;
              font-size: 6pt;
              line-height: 6.7pt;
            }
            .note-more {
              font-size: 4pt;
              line-height: 5pt;
            }
          }
        }
      }
      .footer-block-3 {
        background: #e54d5a;
        width: 50mm;
      }
    }
  }

  .bat-sidebar {
    float: left;
    width: $width_sidebar;
    height: $height_sidebar;
    margin-left: $gap_left_sidebar;
    display: flex;
    flex-direction: column;
    .logo-section {
      height: 100%;
    }
    &[layout="1"] {
      .emplacements {
        height: $height_sidebar;
      }
    }
    &[layout="2"] {
      .emplacements {
        height: $height_logo_section_layout_2;
        .marquage_img {
          max-height: $height_logo_section_layout_2 - 20mm;
        }

      }
     }
    &[layout="3"] {
      .emplacements {
        height: $height_logo_section_layout_3;
        .marquage_img {
          max-height: $height_logo_section_layout_3 - 20mm;
        }
      }
     }
    &[layout="4"] {
      .emplacements {
        height: $height_logo_section_layout_4;
        .marquage_img {
          max-height: $height_logo_section_layout_4 - 20mm;
        }
      }
     }
    .emplacements:nth-child(1) .des_nommarquage {
      background-color: #f0b16a;
      &:after {
        border-top: $height_nommarquage solid #f0b16a;
      }
      &:before {
        border-top: 5.5mm solid #d1954f;
      }
    }
    .emplacements:nth-child(3) .des_nommarquage {
      background-color: #add3a2;
      &:after {
        border-top: $height_nommarquage solid #add3a2;
      }
      &:before {
        border-top: 5.5mm solid #7fa773;
      }
    }
    .emplacements:nth-child(2) .des_nommarquage {
      background-color: #c7a5c8;
      &:after {
        border-top: $height_nommarquage solid #c7a5c8;
      }
      &:before {
        border-top: 5.5mm solid #a274a5;
      }
    }
    .emplacements:nth-child(4) .des_nommarquage {
      background-color: #c7a5c8;
      &:after {
        border-top: $height_nommarquage solid #c7a5c8;
      }
      &:before {
        border-top: 5.5mm solid #a274a5;
      }
    }
    .emplacements {
      position: relative;
      flex: 1;
    }

    .logo-section {
      background-color: $bg_sidebar;
      position: relative;
      border-top-right-radius: 8mm;
      .marquage-image {
        height: 100%;
        .marquage_img {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: auto;
        }
      }

      .des_nommarquage {
        height: $height_nommarquage;
        min-width: $width_nommarquage;
        position: absolute;
        left: -3.5mm;
        padding-left: 3.5mm;
        text-transform: uppercase;

        &:after {
          content: "";
          position: absolute;
          right: -3.5mm;
          top: 0;
          width: 0;
          height: 0;
          border-right: 3.5mm solid transparent;
        }

        &:before {
          content: "";
          position: absolute;
          left: 0;
          bottom: -5.5mm;
          width: 0;
          height: 0;
          border-left: 3.5mm solid transparent;

        }

        .des_nommarquage-text {
          line-height: $height_nommarquage;
          color: #fff;
          font-size: 5.7mm;
          font-family: GoboldBoldItalic;
          overflow: hidden;
          height: 11.3mm;
          padding-right: 3mm;
        }
      }
    }
    .marquage-details {
      background-color: #ffffff;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 1mm 0;
      .marquage-item {
        float: left;
        margin-right: 2mm;
        line-height: 10pt;
        height: 4mm;
       &:last-child {
         margin-right: 0;
       }
      }
      .marquage-label, .collection_name {
        font-size: 8.5pt;
        font-family: HelveticaNeueBold;
        text-transform: uppercase;
        text-decoration: underline;
        margin-right: 1mm !important;
        color: #050708;
        display: inline-block;
      }

      .collection_name {
        margin:0;
        &:after {
          content:":"
        }
      }
      .box_collection {
        float: left;
        margin-right: 2mm;
        height: 4mm;
        overflow: hidden;
        .squares_color {
          margin-right: 1mm;
        }
      }
      .box_collection + .box_collection .collection_name {
        padding: 0;
      }
      .squares_color {
        display: inline-block;
        height: 4mm;
        span.color_square {
          display: inline-block;
          width: 3mm;
          height: 3mm;
          margin-top: 0.5mm;
        }
      }

      .marquage-value, .squares_color, .color_square {
        font-size: 8.5pt;
        font-family: HelveticaNeueMedium;
        color: #666766;
      }
    }
  }
}
