@import '../template';

$height_padder: 210mm;
$width_padder: 297mm;
$padding_page: 8.5mm;

$height_header: 25.5mm;
$width_sidebar: 85mm;
$width_content_product: $width_padder - $width_sidebar  - 1px;

$height_info: 28.5mm;
$height_footer: 38mm;
$height_validation: 45mm;
$height_accord: 79mm;
$height_sidebar: $height_padder - $height_header;
$height_bat_info: $height_sidebar - $height_accord;

$height_content: $height_padder - $height_header  - 9.6mm;
$height_product: $height_content - $height_validation - $height_info;

@font-face {
  font-family: 'UVNHaiBaTrung';
  src: url('0_fonts/UVNHaiBaTrung.ttf') format("truetype");
}
@font-face {
  font-family: 'HP-Lam Nam';
  src: url('0_fonts/HP-Lam Nam.ttf') format("truetype");
}
@font-face {
  font-family: 'SVN-Kimberley';
  src: url('0_fonts/SVN-Kimberley.ttf') format("truetype");
}
@font-face {
  font-family: 'SourceSans-Regular';
  src: url('0_fonts/SourceSans3-Regular.ttf') format("truetype");
}
@font-face {
  font-family: 'UTM Avo';
  src: url('0_fonts/UTM Avo.ttf') format("truetype");
}
@font-face {
  font-family: 'BMDANIEL-Bold';
  src: url('0_fonts/BMDANIEL-Bold.ttf') format("truetype");
}
@font-face {
  font-family: 'Corbel-Bold';
  src: url('0_fonts/Corbel-Bold.ttf') format("truetype");
}

@font-face {
  font-family: 'Bahnschrift Regular';
  src: url('0_fonts/Bahnschrift Regular.ttf') format("truetype");
}
@font-face {
  font-family: 'Bahnschrift Light Condensed';
  src: url('0_fonts/Bahnschrift Light Condensed.ttf') format("truetype");
}

.page {
  font-size: 0;
  box-sizing: border-box;
  height: $height_padder;
  width: $width_padder;
  * {
    box-sizing: border-box;
  }
  .padder {
    height: $height_padder;
    width: $width_padder;
    background-size: $width_padder $height_padder !important;
    background-color: #FFFFFF !important;
    position: relative;
    &.page-product {
      background: url("./images/bg_product.png") no-repeat;
    }
    &.pageEmplacements {
      background: url("./images/bg_logo.png") no-repeat;
    }
    .bat-header {
      padding: 0 11.5mm;
      height: $height_header;

      div {
        display: inline-block;
      }
      .block-header {
        padding-top: 9mm;
        img {
          height: 11.5mm;
          max-width: inherit;
        }

        * {
          line-height: 9mm;
          font-size: 18pt;
          color: #FFFFFF;
          font-family: SourceSans-Regular;
        }
      }

      .title-header {
        float: right;
        font-size: 22pt;
        color: #FFFFFF;
        line-height: $height_header;
        font-family: SourceSans-Regular;
      }

    }

    .bat-content {
      //height: $height_content;
      //padding: 0 $padding_page;
      //margin-top: 5.7mm;
      .sidebar {
        width: $width_sidebar;
        height: $height_sidebar;
        padding: 0 5mm 0 11mm;
        position: relative;
        float: left;
        .bat-infos {
          height: $height_bat_info;
          padding-top: 14mm;
          * {
            color: #FFFFFF;
          }
          .client {
            font-size: 37pt;
            font-family: BMDANIEL-Bold;
            line-height: 44.5pt;
            margin-bottom: 5mm;
          }
          .info-container {
            overflow: hidden;
            .info {
              font-family: Corbel-Bold;
              font-weight: 700;
              font-size: 14pt;
              line-height: 17pt;
              margin: 3.5mm 0;
              &:last-child {
                margin-bottom: 0;
              }
              .value {
                margin-left: 2mm;
              }
            }
          }
        }
        .accord {
          height: $height_accord;
          padding-top: 8mm;
          * {
            color: #262026;
          }
          .accord-title {
            font-size: 21.2pt;
            line-height: 25.4pt;
            font-family: "Bahnschrift Regular";
          }
          .accord-extra {
            font-size: 14px;
            line-height: 17.4pt;
            font-family: "Bahnschrift Light Condensed";
            font-weight: 100;
          }
        }
      }
      .product-title {
        font-size: 27.5pt;
        font-family: "SVN-Kimberley";
        margin-top: 6mm;
        text-align: center;
      }
      .line:before {
        display: block;
        content: "";
        width: 115mm;
        height: 10.7mm;
        background: #FBAF27;
        margin: 5mm auto ;
      }

      .main-content {
        width: $width_content_product;
        float: left;
        display: inline-block;

        .validation {
          color: #272128;
          .comment-content {
            font-size: 14px;
            line-height: 14.5pt;
            padding: 0 7mm;
            letter-spacing: -1px;
            font-family: "Bahnschrift Light Condensed";
          }
          .text-note {
            padding: 0 7mm;
            font-size: 11.6pt;
            line-height: 13pt;
            font-family: UVNHaiBaTrung;
            margin-top: 5mm;
            margin-bottom: 3mm;
          }
        }

      }

      .container-product {
        height: $height_content;
        display: table;
        > div {
          display: table-row;
        }
        .product-pictures {
          height: 100%;
          .picture {
            display: inline-block;
            width: $width_content_product/2;
            margin: auto;
            height: 100%;
            .picture-item {
              min-height: 65mm;
              height: 100%;
              width: 68mm;
              margin: auto;
              position: relative;
              display: table;
              > div {
                display: table-row;
              }
              .picture-container {
                position: relative;
                width: 53mm;
                min-height: 60mm;
                height: 100%;
                margin: auto;
                img {
                  position: absolute;
                  top: 0;
                  right: 0;
                  bottom: 0;
                  left: 0;
                  margin: auto;
                  max-width: 53mm;
                  max-height: 56mm;
                }
              }
              .picture-label {
                text-align: center;
                font-size: 21pt;
                line-height: 25pt;
                //font-family: "UTM Avo";
                color: #231F20;
                text-transform: uppercase;
              }
            }
          }
          &[layout="1-p"] {
            .picture {
              width: $width_content_product;
            }
          }
          &[layout="3-p"] {
            .picture {
              width: $width_content_product/3;
              .picture-item {
                height: 65mm;
                width: 68mm;
                margin: auto;
                position: relative;
                .picture-container {
                  position: relative;
                  width: 53mm;
                  min-height: 60mm;
                  margin: auto;
                  img {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    margin: auto;
                    max-width: 53mm;
                    max-height: 68mm;
                  }
                }
                .picture-label {
                  text-align: center;
                  font-size: 21pt;
                  line-height: 25pt;
                  //font-family: "UTM Avo";
                  color: #231F20;
                  text-transform: uppercase;
                }
              }
            }
          }
        }

      }
    }

    .branding {
      position: absolute;
      bottom: 5mm;
      left: 7mm;
      * {
        position: relative;
        display: inline-block;
      }
      img.madeSpPicto {
        top: 1mm;
        left: 2mm;
      }
    }
    .pagination {
      position: absolute;
      font-family: "SourceSans-Regular";
      font-size: 14pt;
      color: #FFFFFF;
      text-align: center;
      line-height: 7.7mm;
      height: 7.7mm;
      width: 7.7mm;
      background: url("./images/bg_paging.png") no-repeat;
      background-size: 7.7mm 7.7mm;
      bottom: 1mm;
      right: 3mm;
    }

  }
  .pageEmplacements {
    .bat-content {
      .main-content {
        display: table;
        height: $height_content;
        width: $width_content_product;
        > div {
          display: table-row;
        }
        .marquages {
          height: 100%;
          width: 100%;
          .container-marquages {
            height: 100%;
            display: table;
            width: 100%;
            > div {
              display: table-row;
            }
          }
          .contenaire_emplacements {
            height: 100%;

            .marquage {
              padding: 0 7mm;
              height: 100%;
              width: 100%;
              display: inline-block;
              .container-marquage {
                height: 100%;
                display: table;
                width: 100%;
                > div {
                  display: table-row;
                }
                .logo-image {
                  height: 55mm;
                  .marquage-image {
                    width: 65mm;
                    height: 55mm;
                    padding: 4mm;
                    position: relative;
                    margin: auto;
                    img {
                      position: absolute;
                      top: 0;
                      right: 0;
                      bottom: 0;
                      left: 0;
                      margin: auto;
                      max-width: 54mm;
                      max-height: 40mm;
                    }
                  }

                }
                .row-info {
                  height: 100%;
                  .box-logo-info {
                    p {
                      margin: 0;
                    }
                    .box_fonts {
                      * {
                        display: inline-block;
                      }
                      .font_text {
                        margin-right: 2mm;
                      }
                    }
                    .marquage-namebox, .fonts_use, .collection_name {
                      font-size: 13.7pt;
                      //font-family: "UTM Avo";
                      color: #4C489E;
                      line-height: 16.5pt;
                      margin-bottom: 1mm;
                    }
                    .marquage-size, .box_fonts, .squares_color, .marquage-comment {
                      font-size: 12.2pt;
                      font-family: "Bahnschrift Regular";
                      line-height: 14.6pt;
                    }
                    .fonts_use {
                      margin-top: 2.5mm;
                      &:before {
                        content: "";
                        display: block;
                        background: url("./images/line.png") no-repeat;
                        height: 0.5mm;
                        width: 25.5mm;
                        margin-bottom: 2.5mm;
                      }
                    }
                    .box_collection {
                      margin-top: 1.5mm;
                      &:before {
                        content: "";
                        display: block;
                        background: url("./images/line.png") no-repeat;
                        height: 0.5mm;
                        width: 25.5mm;
                        margin-bottom: 2.5mm;
                      }
                      span.color_square {
                        display: inline-block;
                        width: 8.5mm;
                        height: 2mm;
                        margin-right: 1mm;
                        vertical-align: middle;
                        border: solid 0.3mm #000000;
                      }
                      .color_text {
                        vertical-align: middle;
                        font-size: 8.1pt;
                        font-family: "HP-Lam Nam";
                      }
                      .squares_color {
                        display: inline-block;
                        padding-right: 1mm;
                        min-width: 33.33%;
                      }
                    }

                  }
                }

              }

            }
            &[layout="2"]{
              .marquage {
                width: 50%;
                .line:before {
                  width: 115mm / 2;
                }
                &:first-child {
                  .line:before {
                    float: right;
                    margin-right: -7mm;
                  }
                }
                &:last-child {
                  .line:before {
                    float: left;
                    margin-left: -7mm
                  }
                }
              }
            }
          }
        }
      }
    }
  }

}
