@import '../template';

$height_padder: 297mm;
$width_padder: 210mm;
$padding_page: 7.5mm;
$height_header: 20.5mm;



@font-face {
  font-family: 'UTM American Sans';
  src: url('0_fonts/UTM American Sans.ttf') format("truetype");
}
@font-face {
  font-family: 'Berlin Sans FB';
  src: url('0_fonts/Berlin Sans FB.ttf') format("truetype");
}
@font-face {
  font-family: 'OCRAExtended';
  src: url('0_fonts/OCRAExtended.ttf') format("truetype");
}
@font-face {
  font-family: 'FenomenSans-Regular';
  src: url('0_fonts/FenomenSans.ttf') format("truetype");
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('0_fonts/Montserrat-Regular.ttf') format("truetype");
}
@font-face {
  font-family: 'Myriad Pro Regular';
  src: url('0_fonts/Myriad Pro Regular.ttf') format("truetype");
}
@font-face {
  font-family: 'Lucida Console';
  src: url('0_fonts/Lucida Console.ttf') format("truetype");
}

@font-face {
  font-family: 'Bahnschrift Regular';
  src: url('0_fonts/Bahnschrift Regular.ttf') format("truetype");
}
@font-face {
  font-family: 'Bahnschrift Light Condensed';
  src: url('0_fonts/Bahnschrift Light Condensed.ttf') format("truetype");
}
@font-face {
  font-family: 'iCielPanton-Light';
  src: url('0_fonts/iCielPanton-Light.ttf') format("truetype");
}

.page {
  font-size: 0;
  box-sizing: border-box;
  height: $height_padder;
  width: $width_padder;
  * {
    box-sizing: border-box;
  }
  .d-table {
    display: table;
    width: 100%;
    height: 100%;
  }
  .d-table-row {
    display: table-row;
  }
  .h-100 {
    height: 100%;
  }
  .padder {
    height: $height_padder;
    width: $width_padder;
    background-color: #FFFFFF !important;
    position: relative;
    padding: 4.4mm $padding_page $padding_page;

    .bat-header {
      height: $height_header;
      display: table;
      > div {
        display: table-cell;
        vertical-align: middle;
      }
      .company {
        width: 67mm;
        * {
          font-size: 16pt;
          font-family: "Berlin Sans FB";
        }
      }
      .block-header {
        img {
          height: 11.5mm;
          max-width: inherit;
        }
      }

      .title-header {
        font-size: 18.5pt;
        line-height: 22.5pt;
        color: #231F20;
        font-family: "Berlin Sans FB";
        width: 55mm;
        text-align: center;
        border-right: solid 0.3mm #000000;
        border-left: solid 0.3mm #000000;
        height: 100%;
      }

      .bat-infos {
        width: $width_padder - 67mm - 55mm - $padding_page * 2 - 2mm;
        padding-left: 7mm;
        .client {
          font-size: 18pt;
          font-family: OCRAExtended;
          line-height: 21.5pt;
          text-align: center;
          width: 100%;
        }
        .info-container {
          .info {
            font-family: FenomenSans-Regular;
            font-size: 9.1pt;
            line-height: 11pt;
            margin: 1mm 0;
            display: inline-block;
            min-width: 50%;
            float: left;
            &:last-child {
              margin-bottom: 0;
            }
            .value {
              margin-left: 2mm;
            }
          }
        }
      }

    }

    .bat-content {
      .product-title {
        font-size: 36pt;
        line-height: 43pt;
        font-family: "UTM American Sans";
        text-align: center;
        padding: 10mm 0;
      }

      .container-product {
        .product-pictures {
          height: 100%;
          padding-bottom: 6.5mm;
          .picture {
            display: inline-block;
            margin: auto;
            height: 100%;
            width: 50%;
            .picture-item {
              height: 100.5mm;
              width: 77mm;
              margin: auto;
              position: relative;
              background: url("./images/border.png") no-repeat;
              background-size: 77mm 100.5mm;
              display: table;
              > div {
                display: table-row;
              }
              .picture-container {
                position: relative;
                width: 60mm;
                height: 74mm;
                margin: auto;
                img {
                  position: absolute;
                  top: 5mm;
                  right: 0;
                  bottom: 0;
                  left: 0;
                  margin: auto;
                  max-width: 60mm;
                  max-height: 68mm;
                }
              }
              .picture-label {
                text-align: center;
                padding: 6mm 0;
                font-size: 23.5pt;
                line-height: 29pt;
                font-family: "Montserrat-Regular";
                color: #231F20;
                text-transform: uppercase;
              }
            }
          }
          &[layout="1-p"] {
            .picture {
              width: 100%;
            }
          }
        }

      }

      .validation {
        color: #221F1F;
        .comment-content {
          font-size: 12pt;
          line-height: 14.5pt;
          font-family: "Lucida Console";
        }
      }

      .text-note {
        font-size: 9.7pt;
        line-height: 11.5pt;
        margin-top: 5mm;
        margin-bottom: 3mm;
        font-family: iCielPanton-Light;
      }
      .accord {
        .accord-header {
          height: 44.5mm;
          border: solid 0.3mm #000000;
          padding: 4mm;
          .accord-title {
            font-size: 21.3pt;
            line-height: 25.5pt;
            font-family: "Bahnschrift Regular";
            position: relative;
            display: inline-block;
            &:after {
              content: "";
              display: block;
              position: absolute;
              left: 0;
              right: 0;
              height: 0.3mm;
              background: #000000;
              top: 17mm;
            }
          }
          .accord-extra {
            font-size: 14.4px;
            line-height: 17.5pt;
            font-family: "Bahnschrift Light Condensed";
          }
        }
      }

    }

    .branding {
      position: absolute;
      bottom: 1mm;
      left: 12mm;
      * {
        position: relative;
        display: inline-block;
      }
      img.madeSpPicto {
        top: 1mm;
        left: 2mm;
      }
    }
    .pagination {
      position: absolute;
      font-family: "Lucida Console";
      font-size: 20pt;
      text-align: center;
      line-height: 12.8mm;
      height:  12.8mm;
      width:  12.8mm;
      background: url("./images/bg_paging.png") no-repeat;
      background-size:  12.8mm  12.8mm;
      bottom: 3mm;
      right: 3mm;
    }
  }
  .pageEmplacements {
    .bat-content {
      .main-content {
        .marquages {
          height: 100%;
          width: 100%;
          .contenaire_emplacements {
            .marquage {
              width: 50%;
              float: left;
              .container-marquage{
                height: 189mm;
                width: 92mm;
                margin: auto;
                position: relative;
                background: url("./images/border.png") no-repeat;
                background-size: 92mm 189mm;
                padding: 6.5mm;
                .logo-image {
                  position: relative;
                  &:after {
                    content: "";
                    margin: 11mm auto;
                    height: 0.3mm;
                    background: #000000;
                    width: 80%;
                    display: block;
                  }
                  .marquage-image {
                    width: 78mm;
                    height: 55mm;
                    padding: 4mm;
                    position: relative;
                    margin: auto;
                    img {
                      position: absolute;
                      top: 0;
                      right: 0;
                      bottom: 0;
                      left: 0;
                      margin: auto;
                      max-width: 54mm;
                      max-height: 40mm;
                    }
                  }

                }
                .row-info {
                  .box-logo-info {
                    p {
                      margin: 0;
                    }
                    .box_fonts {
                      * {
                        display: inline-block;
                      }
                      .font_text {
                        margin-right: 2mm;
                      }
                    }
                    .marquage-namebox, .fonts_use, .collection_name {
                      font-size: 18pt;
                      font-family: "Montserrat-Regular";
                      color: #231F20;
                      line-height: 21.8pt;
                      margin-bottom: 1mm;
                    }
                    .marquage-size, .box_fonts, .squares_color, .marquage-comment {
                      font-size: 16pt;
                      font-family: "Bahnschrift Regular";
                      line-height: 21.2pt;
                    }
                    .fonts_use {
                      margin-top: 2.5mm;
                      &:before {
                        content: "";
                        display: block;
                        background: url("./images/line.png") no-repeat;
                        height: 0.7mm;
                        width: 33.5mm;
                        margin-bottom: 2.5mm;
                      }
                    }
                    .box_collection {
                      margin-top: 1.5mm;
                      &:before {
                        content: "";
                        display: block;
                        background: url("./images/line.png") no-repeat;
                        height: 0.7mm;
                        width: 33.5mm;
                        margin-bottom: 2.5mm;
                      }
                      span.color_square {
                        display: inline-block;
                        width: 6mm;
                        height: 6mm;
                        border-radius: 1mm;
                        margin-right: 1mm;
                        vertical-align: middle;
                        border: solid 0.3mm #000000;
                      }
                      .color_text {
                        vertical-align: middle;
                        font-size: 11.6pt;
                        line-height: 14pt;
                        font-family: "Myriad Pro Regular";
                      }
                      .squares_color {
                        display: inline-block;
                        padding-right: 2mm;
                        min-width: 33.33%;
                      }
                    }

                  }
                }
              }
            }
            &[layout="1"] {
              .marquage {
                width: 100%;
              }
            }
          }

          .contenaire_emplacements {
            height: 100%;
            &[layout="2"]{
              .marquage {
                width: 50%;
                .line:before {
                  width: 115mm / 2;
                }
                &:first-child {
                  .line:before {
                    float: right;
                    margin-right: -7mm;
                  }
                }
                &:last-child {
                  .line:before {
                    float: left;
                    margin-left: -7mm
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
