@import '../template';
@import '../landscape';

$height_header: 20.7mm;
$height_footer: 39mm;
$height_content: 210mm - $height_header - $height_footer;

@font-face {
  font-family: 'Arial Rounded MT Bold';
  src: url('./0_fonts/Arial-Rounded-MT-Bold.ttf') format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: 'AvenirNext-DemiBold';
  src: url('./0_fonts/AvenirNext-DemiBold.ttf') format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: 'AvenirNext-Italic';
  src: url('./0_fonts/AvenirNext-Italic.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirNext-Bold';
  src: url('./0_fonts/AvenirNext-Bold.ttf') format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: 'AvenirNext-Regular';
  src: url('./0_fonts/AvenirNext-Regular.ttf') format("truetype");
}

@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url('./0_fonts/Montserrat-ExtraBold.ttf') format("truetype");
  font-weight: 700;
}

.none-page {
  display: none;
}
.page {
  font-size: 0;

  .uppercase {
    text-transform: uppercase;
  }

  * {
    box-sizing: border-box;
  }

  .padder {
    width: 297mm;
    height: 210mm;
  }

  .header {
    background: url("./images/bg_header.png") no-repeat;
    height: $height_header;
    .header-text {
      float: left;
      .text {
        padding: 2mm 5mm;
        * {
          font-family: Arial Rounded MT Bold;
          font-size: 15pt;
          line-height: 18pt;
        }
      }
      .line-header {
        background: url("./images/line_header.png") no-repeat;
        width: 213.5mm;
        height: 1.4mm;
      }

    }
    .header-logo {
      float: right;
      height: 100%;
      padding-right: 5mm;
      img {
        height: 100%;
        max-width: 74.4mm;
      }
    }
  }

  .bat-content {
    height: $height_content;
    .content {
      overflow: hidden;
      height: $height_content;
      .contenaire_emplacements, .product {
        float: left;
        width: 50%;
      }
      .marquage-color {
        display: none;
      }
      .marquage-details {
        text-align: center;
        .container-marquage-details {
          padding-top: 3mm;
          padding-bottom: 5mm;
        }
        * {
          font-family: Montserrat-ExtraBold;
          font-size: 10pt;
        }
      }
      img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        max-height: 100%;
        max-width: 100%;
      }

      .marquage-item {
        margin: 0;
        padding: 0;
      }
      .contenaire_emplacements[layout="2"] {
        .emplacements {
          height: $height_content/2;
          position: relative;
          .logo-section {
            height: $height_content/2 - 20mm;
          }
          .marquage-image {
            height: 100%;
            height: $height_content/2 - 25mm;
            position: relative;
            img {
              position: absolute;
            }
          }
        }
      }
      .container-logo {
        padding: 4mm;
      }
      .contenaire_emplacements[layout="4"] {
        .emplacements {
          height: $height_content/2;
          position: relative;
          width: 297mm/4 - 0.5mm;
          float: left;
          display: table;
          .logo-section,.marquage-details {
            display: table-row;
          }
          .logo-section {
            height: 100%;
            .container-logo {
              height: 100%;
              img {
                max-height: 45mm;
                max-width: 54mm;
              }
            }

          }
          .logo-section {
            //height: $height_content/2 - 20mm;
          }
          .marquage-image {
           // height: $height_content/2 - 23mm;
            height: 100%;
            position: relative;
            padding: 5mm;
            img {
              position: absolute;
            }
          }
        }
      }
      .marquage-name, .marquage-size,{
        max-height: 4mm;
        overflow: hidden;
        margin: 0;
        padding: 0;
      }
      .marquage-item {
        * {
          margin: 0;
          padding: 0;
        }
      }

      .box_collection {
        * {
          display: inline-block;
          vertical-align: middle;
        }
        .color_square {
          width: 3mm;
          height: 3mm;
          padding: 0;
          margin: 0;
        }
        .squares_color + .squares_color {
          margin-left: 2mm;
        }
      }

      .contenaire_emplacements[layout="1"] {
        height: $height_content;
        .marquage-image {
          height: $height_content - 23mm;
          position: relative;
          img {
            position: absolute;
            width: 100%;
            max-width: 400px;
            height: auto;
          }
        }
      }
      .products {
        width: 50%;
        float: left;
        .product-pictures .picture-container {
          height: 100%;
          padding: 5mm 10mm;
          position: relative;
        }
        .product-pictures[layout="3-p"], .product-pictures[layout="4-p"] {
          .picture {
            height: $height_content/2;
            width: 50%;
            position: relative;
            float: left;
            padding: 5mm;
          }
        }
        .product-pictures[layout="2-p"] {
          .picture {
            height: $height_content/2;
            position: relative;
            padding: 5mm 10mm;
          }
        }
      }

    }
  }
  .footer {
    height: $height_footer;
    border-top:  solid 0.8mm #F26739;
    padding: 2.3mm;
    .footer-block-item {
      float: left
    }
    .footer-block-item + .footer-block-item {
      margin-left: 3mm;
    }
    .footer-block-1 {
      width: 139mm;
      padding: 0mm 2mm;
      ul {
        margin-left: 3mm;
        padding: 0;
        li {
          margin-bottom: 1mm;
        }
      }
      * {
        color: #585857;
        font-size: 7pt;
        line-height: 8.5pt;
        font-family: AvenirNext-Regular;
      }
      b {
        font-family: AvenirNext-Bold;
        font-weight: 900;
      }
    }
    .footer-block-2 {
      width: 76mm;
      border: solid 0.6mm #F26739;
      border-radius: 1mm;
      padding: 1.6mm 2mm;
      height: 100%;
      * {
        color: #585857;
      }
      .item + .item{
        margin-top: 3mm;
        vertical-align: middle;
      }
      .item {
        .text {
          display: inline-block;
          min-height: 4.4mm;
          .header-footer {
            font-family: AvenirNext-Bold;
            font-weight: 900;
            font-size: 10pt;
            line-height: 4.4mm;
            display: inline-block;
          }
          .text-note {
            font-family: AvenirNext-Regular;
            font-size: 9pt;
            line-height: 10.7pt;
          }
        }

        .box {
          display: inline-block;
          margin-right: 5mm;
          width: 5mm;
          height: 5mm;
          border: solid 0.5mm #585857;
          vertical-align: auto;
        }
      }

    }
    .footer-block-3 {
      width: 68mm;
      border: solid 0.4mm #585857;
      padding: 1mm;
      height: 100%;
      .footer-block-header {
        font-family: AvenirNext-DemiBold;
        font-size: 7.5pt;
        line-height: 9pt;
        text-decoration: underline;
      }
      .note-block {
        font-family: AvenirNext-Italic;
        font-size: 6pt;
        line-height: 7.2pt;
        font-style: italic;
      }
    }
  }

}
