@import '../template';
@import '../landscape';

@font-face {
	font-family: 'Gothic';
    font-style: normal;
    font-weight: 300;
	src: url('0_fonts/Gothic/NanumGothic-Regular.ttf');
}
@font-face {
	font-family: 'Gothic';
    font-weight: 700;
	src: url('0_fonts/Gothic/NanumGothic-Bold.ttf');
}
@font-face {
	font-family: 'Gothic';
    font-weight: 900;
	src: url('0_fonts/Gothic/NanumGothic-ExtraBold.ttf');
}

.page {
    * { 
        font-family: 'Gothic';
        margin: 0mm;
        padding: 0mm;
    }
    .bat-header, .bat-footer {
        position: absolute;
        left: 0;
        width: 297mm;
        background: #c00000;
        color: white;
    }
    .bat-header {
        top: 0;
        height: 15mm;
        font-size: 20px;
        text-align: center;
        div {
            padding-top: 4mm;
        }

        img {
            position: absolute;
            top: 1mm;
            left: 2mm;
            height: 13mm;
        }
    }


    .bat-content {
        position: absolute;
        top: 20mm;
        left: 5mm;
        width: 287mm;

        .contentCol {
            div {
                width: 100%;
                .title {
                    font-size: 15px;
                    padding: 1mm 3mm;
                    color: white;
                    background: #b3b2b2;
                }
            }
        }

        .leftContent {
            position: absolute;
            top: 0mm;
            left: 0mm;
            width: 78%;

            .picture {
                width: 50%;
                display: inline-block;

                img { 
                    max-width: 300mm;
                    max-height: 180mm;
                    width: 100%;
                }
            }
        }

        #border {
            position: absolute;
            top: 0mm;
            right: 61mm;
            height: 165mm;
            border: 1px solid #b3b2b2;
        }

        .rightContent {
            position: absolute;
            top: 0mm;
            right: 0mm;
            width: 20%;
            margin-left: 3mm;
            div {
                height: 70mm;
            }
        }

        .marquages {
            padding: 6mm 20mm;

            .contenaire_emplacements {
                position: relative;

                .marquage {
                    display: inline-block;
                    text-align: center;
                    padding: 5mm 2.5mm 15mm;
                    position: absolute;
                    background: #fff;
                    border: 1px solid #d8d8d8;
                    padding-bottom: 5mm;

                    img {
                        max-width: 100%;
                        max-height: 100%;
                        display: inline-block;
                        vertical-align: middle;
                    }

                    &-label {
                        position: absolute;
                        bottom: 3mm;
                        left: 0;
                        width: 100%;
                        text-align: center;
                        font-size: 5mm;
                        line-height: normal;
                    }

                    .marquage-image {
                        height: 100%;
                        background-image: url('https://www.superpictor.com/images/icons/transparent.png');
                        background-repeat: repeat;
                        background-position: 0 0;
                        background-color: #dbdbdb;
                        padding: 4mm;

                        .marquage_img {
                            vertical-align: top;
                        }
                    }

                    .marquage-details {
                        white-space: normal;

                        .marquage-name {
                            font-size: 4.5mm;
                            padding: 2mm 0;
                        }

                        .marquage-size, .marquage-comment {
                            font-size: 3mm;
                        }

                        .marquage-comment {
                            padding-bottom: 3mm;
                        }

                        .marquage-size {
                            padding-bottom: 1mm;
                        }
                    }

                    .colors_container {
                        .box_squares_color {
                            .box_collection {
                                padding: 1mm 0;
                                text-align: start;
                                .collection_name {
                                    font-weight: bold;
                                    margin: 0;
                                }
                            }
                            &[type_display="0"] {
                                .squares_color {
                                    display: block;
                                    text-align: left;
                                }
                            }
                            &[type_display="1"] {
                                .squares_color {
                                    display: inline-block;
                                }
                            }
                        }
                        .squares_color {
                            padding: 1mm 4mm 2mm 0;
                            .color_square {
                                margin-right: 0.2mm;
                                display: inline-block;
                                vertical-align: middle;
                                border: 1px solid black;
                                width: 3mm;
                                height: 3mm;
                            }
                            .color_text {
                                display: inline-block;
                                vertical-align: middle;
                                font-size: 12px;
                            }
                        }
                    }
                }

                &[layout="1"] {
                    .marquage {
                        width: 130mm;
                        left: 55mm;

                        .marquage-image {
                            height: 60mm;
                            line-height: 110mm;
                        }
                    }
                }

                &[layout="2"] {
                    .marquage {
                        width: 95mm;
                        .marquage-image {
                            height: 34mm;
                            line-height: 75mm;
                        }

                        &:nth-child(1) {left: -10mm}
                        &:nth-child(2) {right: -10mm}
                    }
                }

                &[layout="4"] {
                    .marquage {
                        width: 80mm;
                        height: 70mm;

                        .marquage-image {
                            height: 60mm;
                            line-height: 60mm;
                        }

                        .marquage-details, .colors_container { display: none; }

                        &:nth-child(2n+1) {left: 0}
                        &:nth-child(2n+2) {right: 0}
                        &:nth-child(n+3)  {top: 90mm}
                    }
                }

                &[layout="6"] {
                    padding-top: 20mm;

                    .marquage {
                        width: 60mm;
                        height: 50mm;

                        .marquage-image {
                            height: 40mm;
                            line-height: 40mm;
                        }

                        &:nth-child(3n+1) {left: -10mm}
                        &:nth-child(3n+2) {left: 60mm}
                        &:nth-child(3n+3) {right: -10mm}
                        &:nth-child(n+4)  {top: 90mm}
                    }
                }
            }
        }
    }

    .bat-footer {
        bottom: 0;
        height: 20mm;

        img {
            margin-top: 4mm;
            margin-left: 2mm;
            height: 13mm;
        }
        #separator {
            position: absolute;
            bottom: 4mm;
            left: 12mm;
            font-size: 12mm;
        }
        .client {
            position: absolute;
            bottom: 5mm;
            left: 15mm;
            font-size: 9mm;
        }

        .footer-contact {
            position: absolute;
            bottom: 3mm;
            right: 2mm;
            text-align: right;
            p {font-size: 15px;}
        }
    }
}