img {
  max-width: 250px;
  max-height: 250px;
  height: auto;
  width: auto; }

.uppercase {
  text-transform: uppercase; }

.vertical-align {
  height: 100%;
  line-height: inherit; }
  .vertical-align > * {
    display: inline-block;
    vertical-align: middle; }

[hidden-element] {
  display: none !important; }

.branding .madeSp {
  position: absolute;
  text-align: center;
  font-size: 4mm;
  color: #003d9c; }
.branding .madeSpPicto {
  position: absolute;
  width: 4mm; }

@page {
  size: landscape; }

.page {
  background-color: white;
  position: relative;
  width: 297mm;
  height: 210mm; }

@font-face {
  font-family: 'Gothic';
  font-style: normal;
  font-weight: 300;
  src: url('0_fonts/Gothic/NanumGothic-Regular.ttf'); }
@font-face {
  font-family: 'Gothic';
  font-weight: 700;
  src: url('0_fonts/Gothic/NanumGothic-Bold.ttf'); }
@font-face {
  font-family: 'Gothic';
  font-weight: 900;
  src: url('0_fonts/Gothic/NanumGothic-ExtraBold.ttf'); }

.page * {
  font-family: 'Gothic';
  margin: 0mm;
  padding: 0mm; }
.page .bat-header, .page .bat-footer {
  position: absolute;
  left: 0;
  width: 297mm;
  background: #c00000;
  color: white; }
.page .bat-header {
  top: 0;
  height: 15mm;
  font-size: 20px;
  text-align: center; }
  .page .bat-header div {
    padding-top: 4mm; }
  .page .bat-header img {
    position: absolute;
    top: 1mm;
    left: 2mm;
    height: 13mm; }
.page .bat-content {
  position: absolute;
  top: 20mm;
  left: 5mm;
  width: 287mm; }
  .page .bat-content .contentCol div {
    width: 100%; }
    .page .bat-content .contentCol div .title {
      font-size: 15px;
      padding: 1mm 3mm;
      color: white;
      background: #b3b2b2; }
  .page .bat-content .leftContent {
    position: absolute;
    top: 0mm;
    left: 0mm;
    width: 78%; }
    .page .bat-content .leftContent .picture {
      width: 50%;
      display: inline-block; }
      .page .bat-content .leftContent .picture img {
        max-width: 300mm;
        max-height: 180mm;
        width: 100%; }
  .page .bat-content #border {
    position: absolute;
    top: 0mm;
    right: 61mm;
    height: 165mm;
    border: 1px solid #b3b2b2; }
  .page .bat-content .rightContent {
    position: absolute;
    top: 0mm;
    right: 0mm;
    width: 20%;
    margin-left: 3mm; }
    .page .bat-content .rightContent div {
      height: 70mm; }
  .page .bat-content .marquages {
    padding: 6mm 20mm; }
    .page .bat-content .marquages .contenaire_emplacements {
      position: relative; }
      .page .bat-content .marquages .contenaire_emplacements .marquage {
        display: inline-block;
        text-align: center;
        padding: 5mm 2.5mm 15mm;
        position: absolute;
        background: #fff;
        border: 1px solid #d8d8d8;
        padding-bottom: 5mm; }
        .page .bat-content .marquages .contenaire_emplacements .marquage img {
          max-width: 100%;
          max-height: 100%;
          display: inline-block;
          vertical-align: middle; }
        .page .bat-content .marquages .contenaire_emplacements .marquage-label {
          position: absolute;
          bottom: 3mm;
          left: 0;
          width: 100%;
          text-align: center;
          font-size: 5mm;
          line-height: normal; }
        .page .bat-content .marquages .contenaire_emplacements .marquage .marquage-image {
          height: 100%;
          background-image: url('https://www.superpictor.com/images/icons/transparent.png');
          background-repeat: repeat;
          background-position: 0 0;
          background-color: #dbdbdb;
          padding: 4mm; }
          .page .bat-content .marquages .contenaire_emplacements .marquage .marquage-image .marquage_img {
            vertical-align: top; }
        .page .bat-content .marquages .contenaire_emplacements .marquage .marquage-details {
          white-space: normal; }
          .page .bat-content .marquages .contenaire_emplacements .marquage .marquage-details .marquage-name {
            font-size: 4.5mm;
            padding: 2mm 0; }
          .page .bat-content .marquages .contenaire_emplacements .marquage .marquage-details .marquage-size, .page .bat-content .marquages .contenaire_emplacements .marquage .marquage-details .marquage-comment {
            font-size: 3mm; }
          .page .bat-content .marquages .contenaire_emplacements .marquage .marquage-details .marquage-comment {
            padding-bottom: 3mm; }
          .page .bat-content .marquages .contenaire_emplacements .marquage .marquage-details .marquage-size {
            padding-bottom: 1mm; }
        .page .bat-content .marquages .contenaire_emplacements .marquage .colors_container .box_squares_color .box_collection {
          padding: 1mm 0;
          text-align: start; }
          .page .bat-content .marquages .contenaire_emplacements .marquage .colors_container .box_squares_color .box_collection .collection_name {
            font-weight: bold;
            margin: 0; }
        .page .bat-content .marquages .contenaire_emplacements .marquage .colors_container .box_squares_color[type_display="0"] .squares_color {
          display: block;
          text-align: left; }
      .page .bat-content .marquages .contenaire_emplacements .marquage .colors_container .box_squares_color[type_display="1"] .squares_color {
        display: inline-block; }
      .page .bat-content .marquages .contenaire_emplacements .marquage .colors_container .squares_color {
        padding: 1mm 4mm 2mm 0; }
        .page .bat-content .marquages .contenaire_emplacements .marquage .colors_container .squares_color .color_square {
          margin-right: 0.2mm;
          display: inline-block;
          vertical-align: middle;
          border: 1px solid black;
          width: 3mm;
          height: 3mm; }
        .page .bat-content .marquages .contenaire_emplacements .marquage .colors_container .squares_color .color_text {
          display: inline-block;
          vertical-align: middle;
          font-size: 12px; }
    .page .bat-content .marquages .contenaire_emplacements[layout="1"] .marquage {
      width: 130mm;
      left: 55mm; }
      .page .bat-content .marquages .contenaire_emplacements[layout="1"] .marquage .marquage-image {
        height: 60mm;
        line-height: 110mm; }
  .page .bat-content .marquages .contenaire_emplacements[layout="2"] .marquage {
    width: 95mm; }
    .page .bat-content .marquages .contenaire_emplacements[layout="2"] .marquage .marquage-image {
      height: 34mm;
      line-height: 75mm; }
    .page .bat-content .marquages .contenaire_emplacements[layout="2"] .marquage:nth-child(1) {
      left: -10mm; }
    .page .bat-content .marquages .contenaire_emplacements[layout="2"] .marquage:nth-child(2) {
      right: -10mm; }
.page .bat-content .marquages .contenaire_emplacements[layout="4"] .marquage {
  width: 80mm;
  height: 70mm; }
  .page .bat-content .marquages .contenaire_emplacements[layout="4"] .marquage .marquage-image {
    height: 60mm;
    line-height: 60mm; }
  .page .bat-content .marquages .contenaire_emplacements[layout="4"] .marquage .marquage-details, .page .bat-content .marquages .contenaire_emplacements[layout="4"] .marquage .colors_container {
    display: none; }
  .page .bat-content .marquages .contenaire_emplacements[layout="4"] .marquage:nth-child(2n+1) {
    left: 0; }
  .page .bat-content .marquages .contenaire_emplacements[layout="4"] .marquage:nth-child(2n+2) {
    right: 0; }
  .page .bat-content .marquages .contenaire_emplacements[layout="4"] .marquage:nth-child(n+3) {
    top: 90mm; }
.page .bat-content .marquages .contenaire_emplacements[layout="6"] {
  padding-top: 20mm; }
  .page .bat-content .marquages .contenaire_emplacements[layout="6"] .marquage {
    width: 60mm;
    height: 50mm; }
    .page .bat-content .marquages .contenaire_emplacements[layout="6"] .marquage .marquage-image {
      height: 40mm;
      line-height: 40mm; }
    .page .bat-content .marquages .contenaire_emplacements[layout="6"] .marquage:nth-child(3n+1) {
      left: -10mm; }
    .page .bat-content .marquages .contenaire_emplacements[layout="6"] .marquage:nth-child(3n+2) {
      left: 60mm; }
    .page .bat-content .marquages .contenaire_emplacements[layout="6"] .marquage:nth-child(3n+3) {
      right: -10mm; }
    .page .bat-content .marquages .contenaire_emplacements[layout="6"] .marquage:nth-child(n+4) {
      top: 90mm; }
.page .bat-footer {
  bottom: 0;
  height: 20mm; }
  .page .bat-footer img {
    margin-top: 4mm;
    margin-left: 2mm;
    height: 13mm; }
  .page .bat-footer #separator {
    position: absolute;
    bottom: 4mm;
    left: 12mm;
    font-size: 12mm; }
  .page .bat-footer .client {
    position: absolute;
    bottom: 5mm;
    left: 15mm;
    font-size: 9mm; }
  .page .bat-footer .footer-contact {
    position: absolute;
    bottom: 3mm;
    right: 2mm;
    text-align: right; }
    .page .bat-footer .footer-contact p {
      font-size: 15px; }
