@keyframes new_anim {
    0% {
        transform: scaleX(1)
    }

    10%,
    20% {
        transform: scale3d(.98, .98, .98) rotate(-2deg)
    }

    30%,
    50%,
    70%,
    90% {
        transform: scale3d(1.01, 1.01, 1.01) rotate(2deg)
    }

    40%,
    60%,
    80% {
        transform: scale3d(1.01, 1.01, 1.01) rotate(-2deg)
    }

    to {
        transform: scaleX(1)
    }
}
