@import "mixins.scss";

#tp_footer {
    display: none;
}
#chooseSlug {
    display: flex;
    justify-content: center;

    input[type="text"] {
        padding: 10px 5px;
        font-size: 15px;
        background: white;
        border: solid 1px #003c9d;
        border-radius: 5px;
    }

    input[type="submit"] {
        padding: 10px 5px;
        font-size: 15px;
        background: #003c9d;
        color: white;
        border: solid 1px #003c9d;
        border-radius: 5px;
    }
}

#backPdt {
    position: absolute;
    top: 2px;
    left: 2px;
    background: #003c9d;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    padding: 10px 5px;

    span {
        margin-right: 5px;
    }
}

#ordersLogos {

    .popin-header{
        margin: 10px 0 30px;
        margin-bottom: 30px;
        font-size: 30px;
        font-weight: bold;
        color: black;
        font-family: "Montserrat";
        margin-bottom: 15px;
    }
    .popin-body {
        overflow: auto;
        max-height: 60vh;   
    }
    .oneLogoToOrder {
        display:flex;
        height:250px;
        width:100%;
        margin: 25px 0;
        justify-content: space-between;
        > div {
            text-align:left;
        }

        .toOrderInfos {
            width: calc(100% - 280px);
            .emplacement {
                text-transform: uppercase;
                color: #003c9d;
                font-family: Montserrat;
                font-size: 15px;
                margin-bottom: 1em;
            }

            .alreadyOrdered {
                margin-bottom: 25px;
                font-family: Montserrat;
                font-size: 13px;
                a {
                    text-decoration: underline;
                    color:#003c9d;
                    button {
                        margin-top: 15px;
                    }
                }
            }

            .dimensions {
                font-family: 'Montserrat';
                width: 90%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                height: 20%;
                list-style: none;
                border-top: solid 1px #EEEEEE;
                color: #003c9d;
                margin-bottom: 3em;
                li {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    font-weight: 510;
                    padding-top: 1%;
                    span {
                        font-weight: lighter;
                    }
                }
                > div {
                    // display:inline-block;
                }
            }

            .spSelect .dropdown {
                padding: 5px 10px;
                &.active .select i {
                    transform:rotate(90deg);
                }
                .material-icons {
                    border-left: 10px solid white;
                    border-top: 5px solid transparent;
                    border-bottom: 5px solid transparent;
                    height: 0;
                    width: 0;
                    overflow: hidden;
                    margin-top: 3px;
                }
            }

        }

        .preview {
            width: 250px;
            height: 250px;
            background-image: linear-gradient(45deg, #dbdbdb 25%, transparent 25%, transparent 75%, #dbdbdb 75%), linear-gradient(45deg, #dbdbdb 25%, transparent 25%, transparent 75%, #dbdbdb 75%);
            background-size: 15px 15px;
            background-position: 0 0, 7.5px 7.5px;
        }
    }
}


.preview-bat {
    margin:0;
    font-family: 'Montserrat';
    display: flex;
    position: relative;

    * {
        font-size: inherit;
    }

    .gtfo {
        position: absolute;
        opacity: 0;
        left: -9999px;
    }

      
    .bat-menu {
        box-shadow: none;
        border: 0;
        max-width: 250px;

        .panel-opener {
            display: flex;
            align-items: center;
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            background: #e1e1e1;
            cursor: pointer;

            > span {
                transform: rotate3d(0, 0, 1, 180deg) scale3d(2, 2, 1);
                font-size: 12px;
            }
        }

        .panel-content {
            margin-top: 0;
            padding-left: 30px;
        }

        .flex-content {
            display: flex;
            flex-direction: column;

            .flex-content-item {
                margin-top: 40px;
            }
        }

        .panel-opener {
            display: flex;
            align-items: center;
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            background: #e1e1e1;
            cursor: pointer;

            > span {
                transform: rotate3d(0, 0, 1, 180deg) scale3d(2, 2, 1);
            }
        }

        .panel-content {
            margin-top: 0;
            padding-left: 30px;
        }

        .flex-content {
            display: flex;
            flex-direction: column;

            .flex-content-item {
                margin-top: 40px;
            }
        }
        

        .bat-menu-item {
            text-align: left;
            color: $bluetext;
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            font-size: 15px;
            width: 100%;
            cursor: pointer;

            i {
                font-size: 25px;
            }

            span {
                color: black;
                margin-left: 10px;
            }

            &:hover {
                span {
                    color: inherit;
                }
            }
        }
    }
}

.loading {
    position: absolute;
    top: 0; bottom: 0; left: 0;
    width: 100%;
    background-color: white;
    opacity: 0.5;
    z-index: 2000;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column-reverse;

    .flex-label {
        display: flex;
        justify-content: space-between;
        align-items: center;

        label {
            color: grey;
        }

        label.hiddable {
            display: flex;
            cursor: pointer;

            input[type="checkbox"] {
                position: absolute;
                left: -9999px;
                opacity: 0;

                + i:after {
                    content: '\e8f4';
                }

                &:checked + i:after {
                    content: '\e8f5';
                }
            }
        }
    }

    input[type="text"], textarea {
        width: 100%;
        border-color: grey;
        color: grey;
        padding: 5px;

        &:focus {
            border-color: black;
            color: black;

            + .flex-label {
                label {
                    color: black;
                }
            }
        }
    }

    input[type="text"] {
        border: 0;
        border-bottom: 1px solid;
        color: gray;
        padding-left: 0;
    }

    textarea {
        border: 1px solid;
        resize: vertical;
        transition: resize 0s;
    }

    &.button-group {
        flex-direction: row;
        justify-content: flex-end;
        margin-top: 20px;

        button {
            margin-left: 10px;
            box-shadow: unset;

            &.close {
                background-color: grey;
                border-color: grey;

                &:hover {
                    background-color: white;
                    color: grey;
                }
            }
        }
    }
}

.popin {
    .popin-container {
        max-width: 600px;

        .popin-header {
            .close {
                color: grey;

                &:hover {
                    color: black;
                }
            }
        }
    }

    &#sendMailAsk {
        .popin-container {
            .popin-body {
                .buttons {
                    .sendToMyself {
                        margin-left: 10px;
                    }
                }
            }
        }
    }

    &#clientPopin {
        .popin-container {
            max-width: 1600px;
            height: 80vh;
            padding: 0;

            .popin-header {
                margin: 0;
            }

            .popin-body {
                height: 100%;
                display: flex;
                flex-direction: column;

                > iframe {
                    width: 100%;
                    height: 100%;
                }

                .button-group {
                    margin-right: 20px;
                    opacity: 0;
                    visibility: hidden;
                }
            }
        }
    }

    &#client-popin {
        * {
            box-sizing: border-box;
        }

        box-sizing: inherit;
    }
}

.rendu_template{
    border: none;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.12), 0 1px 9px rgba(0, 0, 0, 0.24) ;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #fff;
}

.btn{
    cursor: pointer;
    background: #0083C6;
    color: white;
    font-family: Lato;
    font-size: 13px;
    padding: 6px 15px;
    margin:6px 0 ;
    border-radius: 35px;
    line-height: 22px;
    text-decoration: none ;
}


#bandeau{
    float: right;
    display: flex;
    flex-direction: column;
    margin-right: 36px;
    margin-top:6px ;
}

.btn_img img {
    width:48px;
    cursor: pointer ;
}

#retour_bat{
    float: left;
    margin-left: 35px;
}

#retour_bat img{
    width:52px;
}

.rendu_template{
    margin-right: auto;
    margin-left: auto;
}

.preview_tolbar {
    left: 50%;
    padding: 12px;
    color: white;
    background-color: #3D464D;
    height: 26px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    z-index: 1000;
    width: 340px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    bottom: 6%;
    margin-left: -170px;

    button {
        background: transparent;
        border: none;
        cursor: pointer;
    }

    i {
        color: white;
        cursor: pointer;
        font-size: 24px;
    }
    span {
        font-family: 'Montserrat';
    }
}

#fullscreen {
    display: flex;
    width: 100%;
    background: #333;

    &:-moz-full-screen {
        overflow: auto;
    }

    &:-ms-fullscreen {
        overflow: auto;
    }

    &:-webkit-full-screen {
        overflow: auto;
    }

    &:fullscreen {
        overflow: auto;
    }

    [sp-edit] {
        transition: background-color 0.1s ease;

        &.active, &.persist {
            background-color: rgba($bluetext, 0.3);
        }
    }

    .pages {
        width: 100%;
        margin-top: 40px;

        .page {
            margin: 0 auto 30px;
        }
    }

    #edit-bat {
        position: absolute;
        right: 0;
        z-index: 2;
        max-height: 100vh
    }

    .panel {
        box-shadow: unset;
        font-size: 16px;
        background: #f9fafb;
        .sp-menu {
            position: absolute;
            top: 13px;
            right: 15px;
        }

        .spSelect {
            .dropdown {
                color: grey;
                border-color: grey;
                padding-left: 0;
    
                &.active {
                    color: black;
                    border-color: black;
                }
    
                .select {
                    color: inherit;
                }
    
                .dropdownmenu {
                    border-color: black;
    
                    li {
                        color: grey;
    
                        &:not([data-value=""]) {
                            &.selected, &:hover {
                                color: black;
                                background-color: white;
                            }
                        }
                    }
                }
            }
        }

        .close-panel {
            font-size: 24px;
        }

        .panel-content {
            position: relative;
            background: #f9fafb;
            * {
                transition: all 0.2s ease;
                box-sizing: border-box;
            }

            .form-collapse {
                display: none;

                hr {

                }

                .form-container[data-section="infologo"] {
                    
                }

                .form-container {
                    padding: 20px;
                    border: 1px solid #D8D8D8;
                    background: white;
                    margin: 25px 0;
                }
            }

            .form {
                .form-title-container {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 10px;

                    .form-title {
                        color: $bluetext;
                        padding-bottom: 10px;
                        background-image: linear-gradient($bluetext 0%, $bluetext 100%);
                        background-size: 0% 1px;
                        background-repeat: no-repeat;
                        background-position: left bottom;
                        cursor: pointer;
                    }

                    .collapse-form-arrow {
                        width: 20px;
                        height: 20px;
                        display: inline-flex;
                        justify-content: space-between;
                        align-items: center;

                        .arrow-branch {
                            height: 10px;
                            width: 3px;
                            background: $bluetext;
                            border-radius: 3px;

                            &:nth-child(1) {transform: translateX(6px) rotate3d(0, 0, 1, -45deg)}
                            &:nth-child(2) {transform: translateX(-6px) rotate3d(0, 0, 1, 45deg)}
                        }

                        &.active {
                            .arrow-branch:nth-child(1) {transform: translateX(6px) rotate3d(0, 0, 1, 45deg)}
                            .arrow-branch:nth-child(2) {transform: translateX(-6px) rotate3d(0, 0, 1, -45deg)}
                        }
                    }

                    &:hover {
                        .form-title {
                            background-size: 100% 1px;
                        }
                    }
                }

                &-container {
                    .main-wrapper {
                        display: flex;
                        justify-content: center;
                        @include transparent-background(15px);

                        &:not(.static) {
                            .filewrapper {
                                cursor: pointer;
                            }
                        }

                        .filewrapper {
                            position: relative;
                            text-align: center;
                            width: 50%;

                            img {
                                max-width: 100%;
                            }

                            .overlay {
                                position: absolute;
                                top: 0;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 100%;
                                height: 100%;
                                background-color: $principale;
                                opacity: 0;
                                @include transition(opacity, 0.2s, ease);

                                .overlay-text {
                                    color: white;
                                    font-size: 1.5em;
                                }
                            }

                            &:hover {
                                .overlay {
                                    opacity: 1;
                                }
                            }
                        }

                        .actions {
                            width: 50%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;

                            span {
                                padding: 5px 10px;
                                background: $bluetext;
                                color: white;
                                margin-bottom: 15px;
                                width: 100px;
                                text-align: center;
                                border: 1px solid transparent;

                                &:last-of-type {
                                    margin: 0;
                                }

                                &:hover {
                                    cursor: pointer;
                                    border: 1px solid $bluetext;
                                    background-color: white;
                                    color: $bluetext;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.nom_previewbat {
    color: rgb(0, 76, 140);
    font-family: 'Lato';
    font-size: 22px;
    font-weight: 700;
    display: inline-block;
    margin: 0;
    position: absolute;
    top: 25px;
    margin-top: -15px;
    margin-left: 14px;
}

.go_back {
    button {
    height: 100%;
    background: transparent;
    border: none;
    cursor: pointer;
    color: rgb(61, 70, 77);
        i {
            color: rgb(61, 70, 77);
        }
    }

    display: block;
    width: 380px;
    height: 100%;
}

.separator {
    height: 24px;
    margin-top: 13px;
    width: 1px;
    background: rgb(188, 188, 188);
    display: inline-block;
}

.btntopbat {
    padding: 5px 20px !important;
    margin: 6px;
    border-radius: 2px;
    border: 0;
    transition: .2s ease-out;
    white-space: normal !important;
    word-wrap: break-word;
    cursor: pointer;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 1.25;
    cursor: pointer;
    font-weight: 700;
    background: rgb(61, 70, 77);
    color: #fff;
    display: flex;
    align-items: center;

    // .material-icons {
    //     margin-left: 15px;
    // }
}

a {
    text-decoration: none;
}

#print {
    padding: 8px 15px;
    
    i.material-icons {
        margin-left: 0;
    }
}

@media print {
    .top_preview{
        display:none ;
    }
    .preview_tolbar{
        display:none ;
    }
    body {
        background-color:#FFFFFF;
    }
}

@media screen and (max-width: 1400px) {
    .preview-bat {
        .bat-menu {
            position: absolute;
            right: 0;
        }
    }
}

//TODO responsive des pages de preview
// @media screen and (max-width: 1150px) {
//     .preview-bat {
//         #fullscreen {
//             .pages {
//                 .page {
//                     transform: scale3d(0.8, 0.8, 1);
//                     transform-origin: center top;
//                 }
//             }
//         }
//     }
// }

// @media screen and (max-width: 980px) {
//     .preview-bat {
//         #fullscreen {
//             .pages {
//                 .page {
//                     transform: scale3d(0.65, 0.65, 1);
//                     transform-origin: center top;
//                 }
//             }
//         }
//     }
// }