
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald&display=swap');
@import './anim.scss';
$cardheight: 150px;
$gris_fond: #F4F4F4;
$gris_bordure: #D8D8D8;
$gris_fond_dark: #eee;
$font: "Open Sans";
$fontLight: "OpenSansLight";
$fontTitle: "Oswald";
$yellowtransparent: rgba(255, 180, 0, 0.8);
$yellow_text: #FFB400;
$principale: rgb(255, 180, 0);
$warngreen: #00AE23;
$warnred: red;
$warngray: #707070;
$warnblue: #00c0ff;
$yellowdark: #E4B52E;
$yellowlight: #FFC232;
$bluetext: #003C9D;
$bluetextbutdarker: #022280;
$blue_fond: #003C9D;
$purpletext: #4B3FB4;
$repeatable_bg: url('/images/repeatablebgwithmissionsicons.png');
$color-vecto: #00ADB5;
$color-broderie: #F8B610;
$color-mockup: #4B3FB4;
$color-contours: #BC3B9A;
$color-designer: #3BBCA2;
$color-detourer: #BFC400;
$color-surnom: #FF7B23;
$color-convertisseur: #5A5A5A;
$color-product-designer: #F0134D;
$red: #d9534f;
$free_sub: #4B3FB40D;
$starter_sub: #F8B500;
$business_sub: #F0134D;
$pro_sub: #00ADB5;
$entrepirse_sub: #003c9d;
$entreprise_sub: #003c9d;


$colorpremium: rgb(255, 180, 0);

.color_free        {color:       black            !important;}
.color_starter     {color:       $starter_sub       !important;}
.color_business    {color:       $business_sub      !important;}
.color_pro         {color:       $pro_sub           !important;}
.color_entreprise  {color:       $entreprise_sub    !important;}
.bg_free           {background:  $free_sub          !important;}
.bg_starter        {background:  $starter_sub       !important;}
.bg_business       {background:  $business_sub      !important;}
.bg_pro            {background:  $pro_sub           !important;}
.bg_entreprise     {background:  $entreprise_sub    !important;}

@mixin btn-base($bg, $color) {
  display: block;
  background-color: $bg;
  color: $color;
  border: 1px solid transparent;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  margin: 10px;
  font-family: 'Oswald';
  letter-spacing: 0.1em;
  min-width: 200px;

  &.disabled {
    background-color: #c0c0c0;

    &:hover {
      cursor: not-allowed;
    }
  }

  &.autosized {
  	width: auto;
  	min-width: auto;
  }

  &.thin {
    padding: 3px 15px;
    margin: 0 0 0 5px;
  }

  &:not(.disabled):hover {
    background-color: $color;
    color: $bg;
    border: 1px solid $bg;
    cursor: pointer;
  }

  i.material-icons {
    font-size: 19px;
    .left {
        margin-right: 10px;
    }
    .right {
        margin-left: 10px;
    }
  }
}

@mixin transition($prop, $duration, $easing) {
  -webkit-transition: $prop $duration $easing;
     -moz-transition: $prop $duration $easing;
      -ms-transition: $prop $duration $easing;
       -o-transition: $prop $duration $easing;
          transition: $prop $duration $easing;
}

@mixin transparent-background($size, $start-color: #dbdbdb, $end-color: transparent) {
  background-image: linear-gradient(45deg, $start-color 25%, $end-color 25%, $end-color 75%, $start-color 75%), linear-gradient(45deg, $start-color 25%, $end-color 25%, $end-color 75%, $start-color 75%);
  background-size: $size $size;
  background-position: 0 0, #{$size / 2} #{$size / 2};
}

.button-link {
  @include btn-base($principale, white);
  @include transition(all, 0.2s, ease-out);
}

$sp-menu-width: 6px;

.sp-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: #{$sp-menu-width * 3};
    position: relative;
    cursor: pointer;

    &-vertical {
        flex-direction: column;
        align-items: flex-end;
        width: #{$sp-menu-width * 3};
        height: auto;

        .sp-menu-dots {
            .sp-menu-dot {
                display: block;
                background-color: $bluetext;
                transition: all 0.2s ease;

                &:not(:last-child) {
                    margin-right: 0;
                    margin-bottom: #{$sp-menu-width / 2};
                }
            }
        }
    }

    &-dots {
        position: relative;
        z-index: 2;

        .sp-menu-dot {
            display: inline-block;
            width: 4px;
            height: 4px;
            border-radius: #{$sp-menu-width * 2};
            background-color: $bluetext;

            &:not(:last-child) {
                margin-bottom: 0;
                margin-right: #{$sp-menu-width / 2};
            }
        }
    }

    &-dropdown {
        position: absolute;
        z-index: 1;
        top: 0;
        right: -$sp-menu-width;
        background: white;
        border: 1px solid $bluetext;
        opacity: 0;
        padding-top: #{$sp-menu-width * 4};
        overflow: hidden;
        white-space: nowrap;

        .sp-menu-item {
            display: flex;
            align-items: center;
            color: $bluetext;
            font-weight: bold;
            text-decoration: none;
            padding: 5px 30px 5px 20px;

            &:hover {
                background-color: $bluetext;
                color: white;
            }
        }
    }

    &.active {
        .sp-menu-dots {
            .sp-menu-dot {
                width: #{$sp-menu-width * 3};
                // height: #{$sp-menu-width / 2};
            }
        }
    }

    &.active {
        .sp-menu-dots {
            // padding-top: #{($sp-menu-width * 2) + ($sp-menu-width / 2)};

            .sp-menu-dot {
                margin: 0;

                &:nth-child(1) {
                    transform: rotate3d(0, 0, 1, 45deg);
                }
                &:nth-child(2) {
                    transform: rotate3d(0, 0, 1, -45deg) translate3d(#{$sp-menu-width / 2}, -#{$sp-menu-width / 2}, 0);
                }
                &:nth-child(3) {
                    transform: scale3d(0, 0, 0);
                }
            }
        }
    }

    &.sp-menu-standalone:hover {
        .sp-menu-dots {
          .sp-menu-dot {
            width: #{$sp-menu-width * 3};
            // height: #{$sp-menu-width / 2};
          }
        }
    }
}

.sp-menu-referer:hover {
  .sp-menu {
    &-dots {
      .sp-menu-dot {
        width: #{$sp-menu-width * 3};
        // height: #{$sp-menu-width / 2};
      }
    }
  }
}

h1.title {
  color: #003c9d;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 25px;
}

.imgtobg {
  height: 100%;
  width: 100%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.panel {
  width: 0%;
  max-width: 400px;
  background-color: white;
  border-left: 1px solid #e1e1e1;
  box-shadow: -5px 0 10px 0px #e1e1e1;
  position: relative;
  overflow: hidden;
  transition: none;
  z-index: 1;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;

  .close-panel {
    position: absolute;
    top: 10px;
    left: 10px;
    color: grey;
    background: none;
    outline: none;
    border: none;
    padding: 0;
    cursor: pointer;

    &:hover {
      color: $bluetext;
    }
  }

  .panel-content {
    padding: 10px 15px;
    margin-top: 40px;
    height: calc(100vh - 40px);
    box-sizing: border-box;
    overflow-y: auto;
  }

  .panel-footer {
    padding: 20px 0;
    text-align: center;
    box-shadow: 0px -10px 10px 0 #e1e1e1;
  }
}

.stylish-blocs {
  position: relative;
  width: 90px;
  height: 90px;

  .grey-one {
    width: 70px;
    height: 70px;
    background: #f4f4f4;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .yellow-one {
    width: 45px;
    height: 45px;
    background: #ffb400;
    position: absolute;
    z-index: 2;
    top: 35px;
    left: 35px;
  }
}

$checkbox-height:        1.3rem;
$checkbox-width:         1.3rem;
$checkbox-font-size:     1.2rem;
$checkbox-bg-off:        transparent;
$checkbox-bg-on:         $bluetext;
$checkbox-border-width:  1px;
$checkbox-border-color:  grey;
$checkbox-border-radius: 2px;

.sp-checkbox-container {
  display: flex;
  align-items: center;
  margin: #{$checkbox-height / 2} 0;
  cursor: pointer;

  .sp-checkbox-input {
    display: inline-block;
    position: relative;
    width: $checkbox-width;
    height: $checkbox-height;
    margin: 0;
    transition: none;
  
    .sp-checkbox-value {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      background-color: $checkbox-bg-off;
      margin: 0;
      padding: 0;
      border: $checkbox-border-width solid $checkbox-border-color;
      border-radius: $checkbox-border-radius;
      color: white;
      font-size: $checkbox-font-size;
      font-family: 'Material Icons' !important;
      transition: all 0.1s ease;
    }
  
    input[type="checkbox"],
    input[type="radio"] {
      position: absolute;
      left: -9999px;
      opacity: 0;
  
      &:checked, &:indeterminate {
        + .sp-checkbox-value {
          border-color: $checkbox-bg-on;
          background-color: $checkbox-bg-on;
        }
      }

      &:checked {
        + .sp-checkbox-value {
          &::before {content: '\e876'}
        }
      }
    }

    input[type="checkbox"]:indeterminate {
      + .sp-checkbox-value {
          &::before {content: '\e15b'}
      }
    }
  }

  .sp-checkbox-label {
    font-size: $checkbox-font-size;
    margin-left: #{$checkbox-font-size / 2};
  }

  &:hover {
    .sp-checkbox-input {
      .sp-checkbox-value {
        box-shadow: 0 0 1px 0 $checkbox-bg-on;
        border-color: rgba($checkbox-bg-on, 0.5);
      }
    }
  }
}


.user_avatar, .client_avatar {
  color:white;
  box-shadow:none;
  display:flex;
  justify-content:center;
  align-items:center;
  font-weight: 500;
  height: 30px;
  width: 30px;
  border:none;
  display:inline-flex;
  background-size: cover;
  background-position: center center;
}

img.sp-icon {
  max-width: 25px;
}