@import 'mixins';

* {
  font-family: 'Montserrat';
}

.menuModifVers {
  top: 70%;
  right: 0;
  width: 85%;
}
.slideMenuActive {
  .menuModifVers {
    max-height: 200vh;
    transition: all 0.2s ease-in;
    padding: 5px;
    box-shadow: 0px 3px 5px 4px rgba(0,0,0,0.13);
    div {
      display: flex;
      transition: all 0.2s ease-in;
      align-content: center;
    }
  }
}

.menuModifVersHor {
  top: 30px;
  right: 0;
  width: 30%;
}
.slideMenuActive {
  .menuModifVersHor {
    max-height: 200vh;
    box-shadow: 0px 3px 5px 4px rgba(0,0,0,0.13);
    transition: all 0.2s ease-in;
    padding: 5px;
    div {
      display: flex;
      transition: all 0.2s ease-in;
      align-items: center;
    }
  }
}

.order {
  .contentOrder {
    .OrderSPGeneral {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      width: 100%;
      max-width: 900px;
      margin-top: 30px;

      .return{
        text-decoration: none;

        a{
          display: flex;
          align-items: center;
          font-size:15px;
          text-decoration:none;
          color: black;
        }
      }

      .livrable {
        width: 100%;
        margin:auto;

        .livrableChild.orderVersionActive {
          display: block;
        }
        .livrableChild {
          display: none;
        }
        
        .viewFiles{
          display: flex;
          flex-direction: column;
          margin:auto;
          background-color: white;
          border: 1px solid $gris_bordure;
          position:relative;
          padding: 15px 30px;

          .overlay{
            display:none;
            background-color:rgba(80,80,80, 0.8);
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 99;
            
            .spinner {
              cursor: progress;
              width: 100%;
              height: 100%;
            }
            .spinner::before {
                content: "";
                box-sizing: border-box;
                position: absolute;
                top: 50%;
                left: 50%;
                width: 50px;
                height: 50px;
                margin-top: -15px;
                margin-left: -15px;
                border-radius: 50%;
                border: 2px solid #ccc;
                border-top-color: #07d;
                animation: spinner .6s linear infinite;
            }
          }
          .previews{
            text-align: center;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            position: relative;

            a{
              display:block;
              background: #E4E4E4;
              margin-right:10px;
              border-radius: 5px;
              text-decoration: none;
              color: $bluetext;
              transition: all 0.2s ease-in-out;

              &:hover {
                transform: scale(1.1);
                -webkit-box-shadow: 0px 0px 10px 0px rgba(51,51,51,0.5);
                   -moz-box-shadow: 0px 0px 10px 0px rgba(51,51,51,0.5);
                        box-shadow: 0px 0px 10px 0px rgba(51,51,51,0.5);
                transition: all 0.2s ease-in-out;
              }

              &:visited{
                color:$bluetext;
              }
            
              img.miniature{
                max-width: 190px;
                transform: scale(1);
                border: 1px solid transparent;
                -webkit-transition: all 0.2s ease-in-out;
                -moz-transition: all 0.2s ease-in-out;
                -ms-transition: all 0.2s ease-in-out;
                -o-transition: all 0.2s ease-in-out;
                transition: all 0.2s ease-in-out;
              
                &:hover {
                  cursor: pointer;
                }
              }
            }
          }

          .titleFiles{
            display: flex;
            justify-content: space-between;
            text-align: left;
            color: $bluetext;
            font-size: 17px;
            font-weight: 600;
            background-color: #FFFFFF;
            border-bottom: solid 2px $gris_fond_dark;
            padding-bottom: 10px;

            .livrableChlName {
              display: flex;
              align-self: flex-end;
              text-align: right;
              font-size: 15px;
              span {
                font-size: 15px;
              }
              i {
                position: absolute;
                top: 0;
                right: 20px;
                font-size: 40px;
                color: #C9C9C9;
                cursor: pointer;
              }
            }
            p{
              font-family: montserrat;
              font-size: 25px;
            }
          }
          .files {
            position:relative;
            display: flex;
            flex-direction: row;
            padding: 30px 0;
            
            .supermoz2{
              display: flex;
              flex-wrap: wrap;
              margin-top: 1%;
              // justify-content: space-between;
              justify-content: flex-start;
              width: 50%;
              height: 20%;
              // flex-direction: column;
              // align-items: center;
              .childmoz2 {
                display: flex;
                text-align: center;
                position: relative;
                margin-top: 5px;
                .BTNExtension {
                  position: relative;
                  background-color: $bluetext;
                  border: 2px solid $bluetext;
                  color: white;
                  padding: 8px 2px;
                  cursor: pointer;
                  font-family: 'Montserrat';
                  width: 45px;
                  height: 55px;
                  clip-path: polygon(60% 0, 100% 32%, 100% 100%, 0 100%, 0 0);
                  border-radius: 5px;
                  font-size: 15px;
                  font-weight: bold;
                  padding-top: 50%;
                  letter-spacing: 1px;
                  .whiteAngle {
                    position: absolute;
                    top: 2px;
                    right: 5%;
                    font-size: 15px;
                    color:#eee;
                    transform: rotate(90deg);
                  }
                }
              }
            }

            [popin="#askModif"]{
              position: absolute;
              bottom: -20px;
              right: 170px;
              padding: 10px;
              font-family: Montserrat;
              border: 2px solid black;
              color: white;
              font-size:13px;
              &:hover{
                box-shadow: 10px 10px 0px #000001;
                transition: all 0.25s ease;
              }
            }
          }
        }
      }
    }
    h1 {
      font-family: lato;
      font-size: 45px;
      color: #08659C;
    }
    h2 {
      color: #08659C;
      position: relative;
      left: 76px;
      font-size: 18px;
      margin-bottom: 20px;
    }
  }
}

li{
  p {
    font-family: Montserrat;
    font-size: 13px;
  }
}

@media screen and (max-width: 1600px){
  .order {
    .contentOrder {
      .OrderSPGeneral {
        width: 45vw;
        .livrable{
          width:100%;
        }
        .versionSelector {
          width: 20%;
        }
        .batSelector {
          width: 20%;
        }
      }
    }
  }
}

@media screen and (max-width: 1100px){
  .order {
    .contentOrder {
      .OrderSPGeneral {
        width:55vw;
        // .livrable{
        //   .livrableChild.orderVersionActive{
        //     .viewFiles{
        //       .files{
        //         img.miniature{
        //           max-width: 300px;
        //         }
        //       }
        //     }
        //   }
        // }
      }
    }
  }
}

@media screen and (max-width: 970px){
  .order{
    .contentOrder{
      .OrderHeadPage{
        padding: 30px 20px 15px 20px;
        .choicePage{
          font-size: 14px;
          padding-bottom: 10px;
        }
      }
      .OrderSPGeneral{
        width:100%;
        flex-direction: column;
        .return{
          position: unset;
          margin-left:10px;
          margin-bottom: 10px;
        }
        .menuModifVersHor {
          width: 80%;
        }
        .versionSelector {
          width: 90%;
          margin: auto;
          margin-top: 20px;
        }
        .batSelector {
          width: 90%;
          height:300px;
          margin: auto;
          background:white;
          border-radius: 5px;
        }
        .livrable{
          margin: auto;
          width: 90%;
          .viewFiles{
            padding-bottom: 0;
            .previews{
              margin-top: 0;
              padding-top: 5px;
              a{
                margin-right: 0;
              }
            }
            .titleFiles{
              font-size:12px;
              .livrableChlName {
                font-size: 12px;
              }
            }
            .files{
              flex-direction: column;
              .supermoz2 {
                margin-top: unset;
                width: 100%;
                justify-content: center;
                .childmoz2{
                  margin-top: 0;
                  margin-bottom: 30px;
                }
              }
            }
            .previews {
              width: unset;
              height: unset;
              flex-direction: column;
              margin-left: 2%;
              .image-popup-no-margins2{
                margin-bottom: 10px;
              }
            }
          }
        }
      }
    }
  }
}