$color-broderie : #F8B500;
$color-vector : #00ADB5;
$color-maquetor : #F0134D;
$color-surnom : #FF7B23;
$color-redesign : #00ADB5;
$color-contour : #BC3B9A;
$color-detourer : #C5C91C;
$color-perso : #4B3FB4;

$blue: #003c9d;
$blue_rgb: rgba($blue, 1);


#tableFileSystemHome{
    top:20%;
    h1{
        font-family: Montserrat;
        font-size: 63px;
        font-weight: bold;
        color:black;
        margin-bottom: 20px;
        letter-spacing: unset;
    }
    p{
        font-family: Montserrat;
        font-size: 20px;
        color:black;  
        letter-spacing: unset;
    }
    #DragAndUpzoned{
        border: 3px solid $blue_rgb;
        border-radius: 10px;
        display:flex;
        box-shadow: 0px 3px 7px $blue;
        max-width: 750px;
        width:unset;
        #UpZone{
            color:white;
            background-color: $blue_rgb;
            border:unset;
            font-family: Montserrat;
            font-size: 25px;
            letter-spacing: unset;
            &:hover{
                border:unset;
            }
        }
        #DragZone{
            border:unset;
            width:80%;
            background-color:unset;
            color : $blue_rgb;
            font-family:Montserrat;
            font-size:20px;
        }
    }
    #IconZone{
        display:flex;
        margin:auto;
        justify-content: center;
        margin-top: 40px;
        flex-wrap: wrap;
        &>div{
            width: 110px;
            margin: 5px 10px;
            &>div{
                height: 50px;
                width: 50px;
                margin:auto;
                background-size: 31px;
                background-repeat: no-repeat;
                background-position: center center;
                border-radius: 50%;
                background-color:white;
            }
            &>p{
                margin-top:5px;
                font-weight:bold;
                font-size:15px;
            }
        }
        .broderieIcon{
            transform: rotate(20deg);
            border: 2px solid $color-broderie;
            background-image: url('/images/icons/programmeBroderie.svg');
            box-shadow: 0 3px 6px rgba($color-broderie, 0.45)  
        }
        .vectoIcon{
            border: 2px solid $color-vector;
            background-image: url('/images/icons/vectorisation.svg');
            box-shadow: 0 3px 6px rgba($color-vector, 0.45)
        }
        .maquetorIcon{
            border: 2px solid $color-maquetor;
            background-image: url('/images/icons/maquetor.svg');
            box-shadow: 0 3px 6px rgba($color-maquetor, 0.45)
        }
        .surnomIcon{
            border: 2px solid $color-surnom;
            background-image: url('/images/icons/programmeSurnoms.svg');
            box-shadow: 0 3px 6px rgba($color-surnom, 0.45)
        }
        .redesignIcon{
            border: 2px solid $color-redesign;
            background-image: url('/images/icons/redesign.svg');
            box-shadow: 0 3px 6px rgba($color-redesign, 0.45)
        }
        .cutContourIcon{
            border: 2px solid $color-contour;
            background-image: url('/images/icons/cutContours.svg');
            box-shadow: 0 3px 6px rgba($color-contour, 0.45)
        }
        .detourerIcon{
            border: 2px solid $color-detourer;
            background-image: url('/images/icons/detourer.svg');
            box-shadow: 0 3px 6px rgba($color-detourer, 0.45)
        }
        .persoIcon{
            border: 2px solid $color-perso;
            background-image: url('/images/icons/missionPersonnalise.svg');
            box-shadow: 0 3px 6px rgba($color-perso, 0.45)
        }
        .textBroderie{
            color: $color-broderie;
        }
        .textVecto{
            color: $color-vector;
        }
        .textMaquetor{
            color: $color-maquetor;
        }
        .textSurnom{
            color: $color-surnom;
        }
        .textRedesign{
            color: $color-redesign;
        }
        .textContour{
            color: $color-contour;
        }
        .textDetourer{
            color: $color-detourer;
        }
        .textPerso{
            color: $color-perso;
        }
    }
}

.calendly-badge-widget .calendly-badge-content span { display: none !important; }

.spbtnblue {
	background: $blue;
	padding: 10px 20px;
	color: white;
	box-shadow: 0 3px 6px rgba($blue, 0.45);
    font-family: Montserrat;
    border-radius: 5px;
    text-decoration:none;
    transition: all 0.2s ease;
    border: 1px solid $blue;
    cursor: pointer;
    i {
        vertical-align: middle;
    }
    &:hover{
        background-color:white;
        color: $blue;
    }

    &.greyed {
        background-color: transparent;
        border-color: transparent;
        color: grey;
        font-weight: 600;
        font-size: 13px;

        // &:hover {
        //     background-color: darken(lightgrey, 20%);
        //     border-color: darken(lightgrey, 20%);
        //     color: darken(grey, 20%);
        // }
    }
}

#fullmenucontainer {
	display: flex;
	/* width: 50%; */
	position: absolute;
	right: 63px;
    align-items: center;
    top: 15px;
}

#tp_topline{
    background-color:white;
    height:unset;
    #TopLined{
        height: 80px;
        padding: 0 20px;
        box-sizing: border-box;
        position: relative;
        margin:unset;
        display:flex;
        width:100%;
        justify-content: space-around;
        #LogoSuperPictor{
            color:black;
            text-decoration: none;
            line-height: 80px;
            img{
                margin-top:unset;
                vertical-align: middle;
                float:unset;
            }
            span{
                font-family: Montserrat;
                font-size: 20px;
                font-weight: 800;
                vertical-align: middle;
                margin-left: 10px;
            }
        }
        #fullmenucontainer{
            position:unset;

            #LoginInsided{
                .user_avatar {
                    margin-top: auto;
                    margin-left: 8px;
                }
            }
        }
    }
}

#tp_content{
    .bandeauWide{
        background:unset;
        .BandeauHome{
            &.bh1{
                background-image: url('/images/repeatablebgwithmissionsicons.png');
                height: 500px;
                .tabhome{
                    max-width:1500px;
                    .divTabHome{
                        background:unset;
                        max-width: unset;
                        position:relative;
                        padding:unset;
                        h1{
                            color:unset;
                            font-family:Montserrat;
                            font-weight: bold;
                            font-size: 70px;
                            letter-spacing: unset;
                            margin-bottom: 100px;
                        }
                        span{
                            font-family:Montserrat;
                            font-size: 20px;
                            line-height: 50px;
                        }
                        a{
                            position: absolute;
                            bottom: -130px;
                            left: 570px;
                            .BTNhomeWhite{
                                font-size:15px;
                                background-color:white;
                                color:$blue_rgb;
                                border-radius: 4px;
                                box-shadow: 0px 2px 9px $blue_rgb;
                                width: 250px;
                                padding: 10px 15px;
                                transition: all 0.2s ease;
                                border: 1px solid white;
                                margin:unset;
                                &:hover{
                                    background-color:$blue;
                                    color:white;
                                }
                            }
                        }
                    }
                }
            }
            &.bh2{
                background-color:#EEEEEE;
                padding: 30px 0px;
                .tabhome{
                    max-width:1500px;
                    .divTabHome{
                        display:flex;
                        max-width:unset;
                        padding: 100px 0px;
                        .leftMissions{
                            border-right: 1px solid black;
                            text-align: left;
                            padding-right: 50px;
                            *{
                                text-align:left;
                                position: relative;
                                margin-bottom: 30px;
                                h1{
                                    color:black;
                                    font-family:Montserrat;
                                    font-size: 30px;
                                    font-weight:bold;
                                    margin-bottom:10px;
                                }
                                span{
                                    color:black;
                                    font-family:Montserrat;
                                    font-size: 15px;
                                    margin-bottom:30px;
                                    display:inline-block;
                                }
                                img{
                                    position: absolute;
                                    width: 25px;                                   
                                    left: -40px; 
                                }
                            }  
                        }
                        .rightMissions{
                            text-align: left;
                            padding: 0px 50px 0px 100px;
                            *{
                                text-align:left;
                                position: relative;
                                margin-bottom: 30px;
                                h1{
                                    color:black;
                                    font-family:Montserrat;
                                    font-size: 30px;
                                    font-weight:bold;
                                    margin-bottom:10px;
                                }
                                span{
                                    color:black;
                                    font-family:Montserrat;
                                    font-size: 15px;
                                    margin-bottom:30px;
                                    display:inline-block;
                                }
                                img{
                                    position: absolute;
                                    width: 25px;                                   
                                    left: -40px; 
                                }
                            }  
                            a{
                                text-decoration: underline;
                                color:black;
                                font-family:Montserrat;
                                font-size:15px;
                                margin-left:100px;
                            }
                        }
                    }
                }
            }
            &.bh3{
                background-color: unset;
                padding: 60px 0px;
                .tabhome{
                    max-width:1500px;
                    .divTabHome{
                        margin:unset;
                        display:flex;
                        max-width:unset;
                        flex-wrap: wrap;
                        .leftSide{
                            min-height: 500px;
                            display: flex;
                            flex-direction: column;
                            flex:2;
                            h1{
                                font-family:Montserrat;
                                font-size: 70px;
                                font-weight:bold;
                                color:black;
                                line-height: 70px;
                                text-align: left;
                            }
                            span{
                                margin-top:50px;
                                color:black;
                                font-family:Montserrat;
                                font-size: 15px;
                                text-align: left;
                                display: inline-block;
                                max-width: 500px;
                            }
                            a{
                                width: 250px;
                                margin: auto;
                                .spbtnblue{
                                    border: 1px solid $blue;
                                    background-color:$blue;
                                    color:white;
                                    font-family: Montserrat;
                                    font-size: 14px;
                                    font-weight: bold;
                                    border-radius: 6px;
                                    width: 100%;
                                    padding: 15px;
                                    cursor:pointer;
                                    &:hover{
                                        background-color:white;
                                        color:$blue;
                                        border: 1px solid$blue;
                                    }
                                }
                            }
                        }
                        .rightSide{
                            flex:1;
                            position:relative;
                            bottom:0px;
                            overflow:hidden;
                            .pantone{
                                width: 300px;
                                .pantoneImage{
                                    background-image: url('/images/icons/fondTableur.png');
                                    background-size: 450px;
                                    height: 450px;
                                    width: 450px;
                                    background-repeat: no-repeat;
                                    background-position: left bottom;
                                    position:relative;
                                    img{
                                        width: 450px;
                                        position: absolute;
                                        top: -150px;
                                        left: 100px;
                                    }
                                }
                            }
                        }
                        .bottomSide{
                            padding: 10px;
                            position:relative;
                            max-width: 1100px;
                            margin: auto;
                            margin-top: 100px;
                            line-height: 45px;
                            .guillemet1{
                                width: 120px;
                                position: absolute;
                                left: -20px;
                                top: -30px;
                                z-index: 2;
                            }
                            .guillemet2{
                                width: 120px;
                                position: absolute;
                                right: 20px;
                                bottom: -15px;
                                z-index: 2;
                            }
                            span{
                                color:black;
                                font-family:Montserrat;
                                font-style:italic;
                                font-size:20px;
                                position:relative;
                                z-index:4;
                                font-weight: 400;
                            }
                        }
                    }
                }
            }
            &.bh4{
                background-color:#EEEEEE;
                padding:30px 0px;
                .tabhome{
                    max-width:1500px;
                    .divTabHome{
                        margin-left: auto;
                        max-width:unset;
                        display:flex;
                        .leftSide{
                            flex:2;
                            h1{
                                font-family:Montserrat;
                                font-size: 63px;
                                font-weight:bold;
                                color:black;
                                line-height: 70px;
                                text-align: left;
                            }
                        }
                        .rightSide{
                            flex:1;
                            display:flex;
                            flex-direction:column;
                            a{
                                width: 250px;
                                margin:auto;
                                .spbtnblue{
                                    border: 1px solid$blue;
                                    background-color:$blue;
                                    color:white;
                                    font-family: Montserrat;
                                    font-size: 14px;
                                    font-weight: bold;
                                    border-radius: 6px;
                                    width: 100%;
                                    padding: 15px;
                                    cursor: pointer;
                                    &:hover{
                                        background-color:white;
                                        color:$blue;
                                    }
                                }
                            }
                            span{
                                width: 250px;
                                margin: auto;
                                margin-left: 250px;
                                font-family:Montserrat;
                                font-size:15px;
                                a{
                                    text-decoration:underline;
                                    color:black;
                                    width:unset;
                                    font-family:Montserrat;
                                    font-size:15px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#tp_footer{
    h1,h2,h3,h4,h5,h6,span,p,strong,a,caption,li,div,input {
        font-family: Montserrat, sans-serif;
    }

    padding: 30px 0px;

    .new {
        position: relative;
        width: max-content;
        &::before {
            content: 'nouveau !';
            background-color: #F0134D;
            animation: 2s new_anim 0s infinite;
            border-radius: 10px;
            padding: 1px 8px;
            transform: rotate(-2deg);
            right: -72px;
            position: absolute;
            top: -2px;
            height: 13px;
            font-size: 10px;
            font-weight: 700;
            box-shadow: 0 0 1px 1px #F0134D inset, 1px 1px 1px 0px #F0134D, 0px 0px 1px 0px #F0134D;
        }
    }

    .tp_colMid {
        max-width: 1400px;
    }
    .custom {
        &>div {
            display: flex; 
            flex-wrap: wrap;
        }

        .logo_footer {
            justify-content: center;
            flex-direction: column;
            img {
                margin: 30px auto 18px auto;
                height: 42px;
                width: auto;
            }
            p {
                font-size: 12px;
                font-weight: 400;
                line-height: 26px;
            }
        }
    }


    .column_footer{
        flex: auto;
        margin: 20px 30px;
        text-align: left;
        .title_footer{
            text-transform: none;
            font-family: Montserrat;
            font-size: 15px;
            font-weight: 700;
            margin-bottom: 30px;
            display: block;

            &._special {
                font-size: 24px;
                margin-bottom: auto;
                margin-top: -7px; 
            }
        }
        .partenaire {
            margin-top: 40px;

            .title_footer {
                margin-bottom: 15px;
            }

            &>div {
                display: flex;
                max-width: 190px;
                align-items: end;

                a {
                    img {
                        max-width: 95px;
                    }

                    &:nth-of-type(2) {
                        img {
                            padding-left: 20px;
                        }
                    }
                }
            }
        }
        a{
            font-weight: 400;
            color: white;
            font-family: Montserrat;
            font-size: 12px;
            margin: 10px 0px;
            display: block;
            text-decoration: none;
            &:hover{
                opacity: 0.7;
            }
            &.disable {
                display: none;
            }
        }
        .text_special {
            line-height: 26px;
            font-size: 12px;
            font-weight: 400;
        }
        .phoneinfooter{
            padding:unset;
        }
        .text_supernews {
            margin-top: 30px;
            font-size: 15px;
            font-weight: 700;
        }
        form{
            display: flex;
            align-items: center;
            margin-top: 10px;
            input {
                height: max-content;
            }
            input[type=text]{
                border: 1px solid white;
                color: white;
                background-color: #003C9D;
                padding: 8px 14px;
                box-sizing: border-box;
                box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
                margin-right: 10px;
                border-radius: 5px;

                &::placeholder {
                    color: white;
                    opacity: 0.7;
                  }
            }
            input[type=submit]{
                border: 1px solid white;
                color: #003C9D;
                background-color: white;
                padding: 4px 14px;
                box-sizing: border-box;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 5px;
                text-transform: uppercase;
                font-weight: 900;
                font-size: 11px;
                cursor: pointer;
            }
        }
        .mediaIcons{
            display: flex;
            margin-top: 20px;
            text-align: right;
            a{
                margin:0px 25px 0 0;
            }
        }
    }
}

@media screen and (max-width: 1400px) {
    #tp_topline{
        #TopLined{
            #fullmenucontainer{
                div#maximenuck197 {
                    ul.maximenuck{
                        li.maximenuck.level1 {
                            margin-right: 34px;
                        }
                    }   
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    #tp_topline{
        #TopLined{
            .badgeHeader{
                display: none;
            }
            #LoginInsided {
                .accountBTN {
                    margin: 0 10px;
                }
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    #tp_topline {
        #TopLined{
            #fullmenucontainer {
                #LoginInsided {
                    .opennotification  {
                        margin: 0;
                    }
                }
            }
        }
    }
    #tp_content{
        .bandeauWide{
            .BandeauHome{
                &.bh1{
                    .tabhome{
                        margin-left:unset;
                        .divTabHome{
                            h1{
                                font-size:25px;
                            }
                            span{
                                font-size:13px;
                            }
                        }
                    } 
                }
                &.bh2{
                    .tabhome{
                        .divTabHome{
                            .rightMissions{
                                a{
                                    margin-left:unset;
                                }
                            }
                        }
                    }
                }
                &.bh3{
                    .tabhome{
                        .divTabHome{
                            .leftSide{  
                                h1{
                                    font-size:25px;
                                }
                                span{
                                    width:unset;
                                    font-size:12px;
                                }
                            }
                            .rightSide{
                                flex:1;
                            }
                        }
                    }
                }
                &.bh4{
                    .tabhome{
                        .divTabHome{
                            .leftSide{  
                                h1{
                                    font-size:25px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    #tp_topline{
        #TopLined{
            #LogoSuperPictor_mobile{
                opacity:1;
                display:unset !important;
                margin: auto 0;

                img {
                    margin: 0;
                }
            }
            #fullmenucontainer{
                #LoginInsided{
                    .accountBTN{
                        margin:unset;
                    }
                }
            }
            #LoginInsided {
                .accountBTN {
                    .user_avatar {
                        margin-left: 10px;
                        margin-right: 14px;
                    }
                }
            }
        }
    }

    #tp_content {
        padding-top: 55px;
    }
}
@media screen and (max-width: 850px) {
    #tp_content{
        .bandeauWide{
            .BandeauHome{
                &.bh1{
                    .tabhome{
                        .divTabHome{
                            a{
                                left:200px;
                                .BTNhomeWhite{
                                    font-size:13px;
                                }
                            }
                        }
                    } 
                }
                &.bh2{
                    .tabhome{
                        margin-left:unset;
                        .divTabHome{
                            padding:100px 30px;
                            .leftMissions{
                                *{
                                    span{
                                        font-size:12px;
                                    }
                                    h1{
                                        font-size:15px;
                                    }
                                }
                            }
                            .rightMissions{
                                padding:0px 0px 0px 100px;
                                *{
                                    span{
                                        font-size:12px;
                                    }
                                    h1{
                                        font-size:15px;
                                    }
                                }
                                a{
                                    margin-left:unset;
                                }
                            }
                        }
                    }
                }
                &.bh3{
                    .tabhome{
                        .divTabHome{
                            flex-direction:column;
                            .leftSide{  
                                min-height: 450px;
                                h1{
                                    font-size:25px;
                                    text-align:center;
                                }
                                span{
                                    width:unset;
                                    font-size:12px;
                                    text-align: center;
                                    margin: auto;
                                }
                                a{
                                    margin: 50px auto;
                                    .spbtnblue{
                                        font-size:13px;
                                    }
                                }
                            }
                            .rightSide{
                                .pantone{
                                    width: 50%;
                                    margin: auto;
                                    .pantoneImage{
                                        height: 250px;
                                        width: 250px;
                                        background-size:250px;
                                        img{
                                            width:250px;
                                            max-width:unset;
                                            top: -20px;
                                        }
                                    }
                                }
                            }
                            .bottomSide{
                                margin-top: 40px;
                                span{
                                    font-size:12px;
                                }
                                .guilletmet1{
                                    width:100px;
                                }
                                .guilletmet2{
                                    width:100px;
                                }
                            }
                        }
                    }
                }
                &.bh4{
                    .tabhome{
                        .divTabHome{
                            flex-direction:column;
                            .rightSide{
                                margin-top: 40px;
                                a{
                                    .spbtnblue{
                                        font-size:13px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #tp_topline{
        #TopLined{
            padding: 0;
            #fullmenucontainer{
                div#maximenuck197 {
                    ul.maximenuck{
                        li.maximenuck.level1 {
                            margin-right: 14px;
                        }
                    }   
                }
            }
            #LoginInsided {
                .accountBTN {
                    padding: 0;
                }
            }
        }
    }
}
@media screen and (max-width: 720px) {
    #tp_topline{
        #TopLined{
            padding: 0 20px;
            #fullmenucontainer{
                margin-top: 0;
                width: 100%;
                #MenuToggle{
                    margin-left: 20px;
                    padding-top: unset;
                    i{
                        vertical-align: middle;
                        color:black;
                    }
                }
                #LoginInsided{
                    margin-left: auto;
                    .accountBTN{
                        margin: auto 14px auto 10px;
                    }
                    .opennotification  {
                        margin-right: 18px;
                    }
                    .badgeHeader {
                        display: flex;
                    }
                }
                div{
                    &#maximenuck197{
                        position:absolute;
                        ul{
                            &.maximenuck{
                                background-color:white;
                                li:hover {
                                    background-color:rgb(227, 236, 255);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #tp_content{
        .bandeauWide{
            .BandeauHome{
                &.bh1{
                    .tabhome{
                        .divTabHome{
                            a{
                                left:200px;
                                bottom: -45px;
                                .BTNhomeWhite{
                                    font-size:13px;
                                }
                            }
                        }
                    } 
                }
            }
        }
    }
}
@media screen and (max-width: 620px) {
    #tp_content{
        #FileSYstemHome{
            #tableFileSystemHome{
                top: 20%;
                h1{
                    font-size:40px;
                }
                p{
                    font-size:13px;
                }

            }
        }
        .bandeauWide{
            .BandeauHome{
                &.bh1{
                    .tabhome{
                        .divTabHome{
                            a{
                                left:200px;
                            }
                        }
                    } 
                }
            }
        } 
    }
}
@media screen and (max-width: 500px) {
    #tp_topline{
        #TopLined{
            #fullmenucontainer{
                #LoginInsided{
                    .opennotification  {
                        margin-right: unset;
                    }
                    .badgeHeader {
                        display: none;
                    }
                }
            }
        }
    }
    #tp_content{
        #FileSYstemHome{
            #tableFileSystemHome{
                top: 10%;
                #IconZone{
                    margin-top:20px;
                }
                #DragAndUpzoned{
                    #UpZone{
                        width:30%;
                        border-radius:unset;
                    }
                } 
            }
        }
        .bandeauWide{
            .BandeauHome{
                &.bh1{
                    .tabhome{
                        .divTabHome{
                            a{
                                left:110px;
                                bottom:-110px;
                            }
                        }
                    } 
                }
                &.bh2{
                    .tabhome{
                        .divTabHome{
                            flex-direction:column; 
                            padding:0px 50px;
                            .leftMissions{
                                border:unset;
                                padding:unset;
                            }
                            .rightMissions{
                                padding:unset;
                            }
                        }
                    } 
                }
                &.bh3{
                    .tabhome{
                        .divTabHome{
                            .rightSide{
                                .pantone{
                                    display:none;
                                }
                            }
                            .bottomSide{
                                .guillemet1{
                                    left: 0px;
                                }
                                .guillemet2{
                                    right: 0px;
                                    bottom: -25px;
                                }
                            }
                        }
                    }
                }
                &.bh4{
                    .tabhome{
                        .divTabHome{
                            .leftSide{
                                h1{
                                    text-align: center;
                                }
                            }
                            .rightSide{
                                span{
                                    margin:auto;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 400px) {
    #tp_topline{
        #TopLined{
            padding: 0 10px;
            #fullmenucontainer{
                #MenuToggle{
                    margin: 0 14px;
                }
                #LoginInsided {
                    .accountBTN {
                        margin: auto 0;
                    }
                }
            }
        }
    }
    #tp_content{
        #FileSYstemHome{
            #tableFileSystemHome{
                #DragAndUpzoned{
                    #UpZone{
                        width:100%;
                    }
                } 
            }
        }
        .bandeauWide{
            margin-top: 100px;
            .BandeauHome{
                &.bh1{
                    .tabhome{
                        .divTabHome{
                            h1{
                                margin-bottom:50px;
                            }
                            a{
                                left:50px;
                                bottom: -85px;
                            }
                        }
                    } 
                }
                &.bh2{
                    .tabhome{
                        .divTabHome{
                            padding: 50px 50px;
                        }
                    } 
                }
            }
        }
    }
}