* {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    margin: 0;
    outline: 0 none;
    padding: 0;
    font-size: 12px;
    vertical-align: top;
    font-family: "Open Sans",sans-serif;
}

html , body {
	background-color: #333333;
	width: 100%;
	min-height: 100%;
	font-family: "Open Sans",sans-serif;
	}

h1, #dx-Asterix-quote, #TableDesPriceSDecimaled {
color: #2d2d2c;
	}

body.opennavbar {
  overflow: hidden;
}

.fleft {
float:left;
}

.cpointer {
cursor:pointer;
}

.fright {
float:right;
}

.w25 {
width: 25%;
}

.w50 {
width: 50%;
}

.w100 {
width: 100%;
}

.h25 {
height: 25%;
}

.h50 {
height: 50%;
}

.h100 {
height: 100%;
}


@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserratregular.ttf");
}

@font-face {
    font-family: OswaldLight;
    src: url("../fonts/Oswald-Light.ttf");
}

@font-face {
    font-family: OswaldMedium;
    src: url("../fonts/Oswald-Medium.ttf");
}

@font-face {
    font-family: Oswald;
    src: url("../fonts/Oswald-Regular.ttf");
}

@font-face {
    font-family: OswaldBold;
    src: url("../fonts/Oswald-Bold.ttf");
}

@font-face {
    font-family: OswaldSemiBold;
    src: url("../fonts/Oswald-SemiBold.ttf");
}


@font-face {
    font-family: OpenSansLight;
    src: url("../fonts/OpenSans-Light.ttf");
}

@font-face {
    font-family: OswaldLight;
    src: url("../fonts/Oswald-Light.ttf");
}

@font-face {
    font-family: Bangers;
    src: url("../fonts/Bangers.ttf");
}
@font-face {
    font-family: badaboom;
    src: url("../fonts/BADABB.TTF");
}
@font-face {
    font-family: Platinum;
    src: url("../fonts/QualityDeluxePlatinium.ttf");
}
@font-face {
    font-family: LatoLight;
    src: url("../fonts/Lato-Light.ttf");
}

@font-face {
    font-family: Montserratsept;
    src: url("../fonts/Montserrat700.ttf");
}



#tp_global_content {
/*background-image: url("/templates/hqtx/images/BG2.jpg");*/
/*background-color: #99ddd2;*/
background-color: #94cbb9;
/*background-color: #BE1E2D;*/
background-image: url("/images/repeatablebgwithmissionsicons.png");
/*background-image: url("/images/bgnoel.png");*/
background-repeat: no-repeat;
background-size: 100% auto;

background-position: bottom;
}

.w80 {
	width: 70%;
	margin: auto;
}

#StepList {
margin:auto;
width: 60%;
text-align:center;
display:none !important;
	}

.StepInfo i {
  margin-right: 11px;
  margin-top: 3px;
}
.StepInfo {
  color: #585858;
  display: inline-block;
  font-family: Myriad Pro;
  font-size: 16px;
  font-weight: normal;
  margin: 13px;
}
.StepInfo  span {
  color: #585858;
  font-family: Myriad Pro;
  font-size: 16px;
  font-weight: normal;
}
.StepInfo  a:hover, .StepInfo  a:hover span {
  color: #cecece;
}
.StepInfo  a {
  text-decoration:none;
  color: #585858;
  font-family: Myriad Pro;
  font-size: 16px;
  font-weight: normal;
}

i.sepStep {
  color: #cecece;
  display: inline-block;
  font-size: 20px;
  margin-top: 13px;
}

.w80 img {
float: left;
max-height: 35px;
margin-top: 7px;
color: #003C9D;
	}

#tp_topline {
  /*background-color: white;*/
  height: 80px;
  width: 100%;
  position: fixed;
  text-align: center;
  top: 0;

  background-color: white;
  z-index: 80;
  box-shadow: 0 1px 1px rgba(0,0,0,.15);
}
.mod-languages {
display: none;
}

div#maximenuck197 ul.maximenuck li.maximenuck.level1 {
margin-right: 50px;
}
div#tp_topline div#maximenuck197 ul.maximenuck li.maximenuck.level1:first-child {
	display: none !important;
}

div#maximenuck197 .maxiFancybackground .maxiFancycenter {
	border-top: 2px solid #ffb400;
}

#tp_content {
/*background-color: rgba(0, 0, 0, 0.6);*/
background-color: rgba(0, 0, 0, 0.4);
/*position:absolute;*/
width: 100%;
z-index: 5;
top: 0;
padding-top: 80px;
/*min-height: 800px;*/
}

.tp_colmid, .tp_colMid {
 /*width: 1000px;*/
 margin:auto;
	}

	#FileSYstemHome {
color: white;
text-align:center;
height: 80%;

	}

#tableFileSystemHome {
position:relative;
top: 35%;
}

h1 {
color: #fff;
font-size: 50px;
font-weight: 500;
}

h2 {
  color: #f2f2f2;
  font-size: 16px;
  font-style: italic;
  font-weight: 500;
  letter-spacing: 1px;
  /*margin-left: 60px;*/
  margin-top: -6px;
}

#LogoTitleSuperpictor {
	max-width: 450px;
}

#LogoSuperPictor img {
	opacity: inherit;
	margin-top: 20px;
}
#LogoSuperPictor_mobile img {
opacity:inherit;
margin-top: 20px;
  }

  #DragAndUpzoned {
  	position: relative;
  	width: 750px;
  	height: 70px;
  	margin: 40px auto auto auto;
  	position: relative;
  	line-height: 69px;
  }
#DragAndUpzoned2 {
  height: 33px;
  line-height: 33px;
  margin: 20px auto auto;
  opacity: 0;
  position: relative;
  width: 500px;
}

#tableFileSystemHome h2 {
	font-size: 23px;
	font-style: normal;
	font-family: Open Sans;
}
div#maximenuck197 span.titreck {
	font-size: 15px;
	font-family: "Montserrat";
  color: #003c9d;
  font-weight: 700;
  
}

div#maximenuck197 .maxiFancybackground {
	top: 42px;
}

#UpZone {
	/* background-color: #00a453; */
	background-color: white;
	border: 3px solid white;
	width: 25%;
	width: 180px;
	height: 100%;
	/* border-radius: 50px 0px 0px 50px; */
	float: left;
	font-family: OswaldSemiBold;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
	color: #ffb400;
	font-size: 24px;
	letter-spacing: 2px;
}

  #UpZone:hover {
    background-color: #003263;
    border: 3px solid #003263;
    cursor: pointer;
  }
  #UpZone2 {
  	/* background-color: #00a453; */
  	background-color: white;
  	border: 3px solid white;
  	width: 25%;
  	color: #ffb400;
  	height: 100%;
  	/* border-radius: 50px 0px 0px 50px; */
  	float: left;
  	font-family: Montserrat;
  	-webkit-transition: all .25s ease;
  	-moz-transition: all .25s ease;
  	-ms-transition: all .25s ease;
  	-o-transition: all .25s ease;
  	transition: all .25s ease;
  	font-size: 15px;
  	letter-spacing: 0px;
  }

	#UpZone2:hover {
		background-color: #003263;
		border: 3px solid #003263;
		cursor: pointer;
	}

    #DragZone {
       	font-family: Open Sans;
       	background-color: rgba(100, 100, 100, 0.7);
       	border: 3px solid white;
       	width: 70%;
       	height: 100%;
       	float: left;
       	/* border-radius: 0px 50px 40px 0px; */
       	font-size: 17px;
       }

       #DragZone2 {
       	font-family: Montserrat;
       	background-color: rgba(100, 100, 100, 0.7);
       	border: 3px solid white;
       	width: 70%;
       	height: 100%;
       	float: left;
       	/* border-radius: 0px 50px 40px 0px; */
       	color: white;
       }


.webuploader-element-invisible {
  cursor: pointer;
  height: 110%;
  margin-top: 0;
  opacity: 0;
  position: absolute;
  width: 25%;
  top: 0px;
  left: 0px;
}

.mod-languages {
  margin-top: 10px;
  position: absolute;
  right: 48%;
  top: 8px;
}

div.mod-languages li.lang-active img {
  border: 1px solid white;
}

#InputFileBTN {
width: 50%;
}
#InputFileBTN2 {
color: white;
}

#PushCentraleTypes {
  /*background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);*/
  min-height: 100%;
  margin: 50px auto 0;
  padding-bottom: 33px;
  width: 100%;
  max-width:1410px;
  display:none;
}


#PushCentraleHeader {
	/*background-color: #3e4346;*/
	width: 900px;
	height: 89px;
  margin:auto;
	padding: 20px 0px 10px;
	text-align: center;
}
#PushCentraleHeader h1 {
	font-size: 29px;
	color: white;
	font-family: Montserrat;
  display:inline-block;
  margin-top:26px;
}



.medalicon i {
	color: white;
	margin-top: 6px;
	font-size: 15px;
}
.medalicon {
  background-color: #a3333a;
  height:40px;
  width:30px;
  position:absolute;
  top:0px;
  left:20px;
}

.medaliconcut {
  border-bottom: 10px solid transparent;
  border-left: 15px solid #a3333a;
  border-right: 15px solid #a3333a;
  height: 0;
  left: 20px;
  margin: auto;
  position: absolute;
  top: 40px;
  width: 0;
}

.OnePushType {
	min-height: 70%;
	margin-top: 50px;
	width: 20%;
	margin-right: 3%;
	float: right;
	box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.8);
	background-color: white;
	position: relative;
	-webkit-transition: all .5s ease;
   -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
     -o-transition: all .5s ease;
        transition: all .5s ease;
        opacity:0;
  padding-bottom: 65px;
  margin-bottom: 50px;
}



.OnePushType.gold {
	min-height: 80%;
	margin-top: 25px;
	width: 21%;
	margin-right: 2%;
	/*background-color: gray;*/
	float: right;
	-webkit-transition: all .5s ease;
	   -moz-transition: all .5s ease;
	    -ms-transition: all .5s ease;
	     -o-transition: all .5s ease;
	        transition: all .5s ease;
}
.OnePushType.medal {
	height: 75%;
	margin-top: 25px;
	width: 20%;
	margin-right: 2%;
	/*background-color: gray;*/
	float: right;
	-webkit-transition: all .5s ease;
	   -moz-transition: all .5s ease;
	    -ms-transition: all .5s ease;
	     -o-transition: all .5s ease;
	        transition: all .5s ease;
}

.OnePushType .OnePushHeader  {
	background-color: #32618a;
width: 100%;
height: 15%;
text-align:center;
}
.OnePushType.gold .OnePushHeader  {
	background-color: #26a969;
}

.OnePushHeader h3 {
  color: white;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: normal;
  padding-top: 20px;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.BTNchooseType {
	width: 100%;
	position:absolute;
	bottom:0px;
	left:0px;
	text-align: center;
	background-color: #ccc;
	padding: 15px 0px;
	cursor: pointer;
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
	color: #333;
	font-family: Montserrat;
	font-size: 16px;
}

.BTNchooseType:hover {
background-color: #aaa;
}

.OnePushType ul {
	width:100%;
}
.OnePushType li {
  background-color: white;
  /*border-bottom: 1px solid #ddd;*/
  color: #3e4346;
  font-family: Montserrat;
  list-style: outside none none;
  padding: 10px 10px 10px;
}

.OnePushType li.description {
font-style: italic;
  border-bottom: 1px solid #ddd;
}


.OnePushPrice {
	text-align: center;
	color: #333;
	font-size: 45px;
	padding-top:6px;
	font-family: Montserrat;
}

.PriceVal {
   color: #333;
    font-family: Montserrat;
    font-size: 45px;
}

.oldPrice {
   color: #333;
    font-family: Montserrat;
    font-size: 20px;
    text-decoration: line-through;
}


.FromPrice {
font-size: 14px;
}


.OnePushPrice .CurSym {
	font-size: 30px;
	color: #333;
	line-height: 65px;
}


.productdetails-view.productdetails {
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-top: 60px;
  padding: 40px;
}


span.quantity-controls, .quantity-box {
visibility: hidden !important;
	}

.ImageUped {
  max-height: 350px;
  max-width: 350px;
}


.product-fields-title {
  font-family:Montserrat;
  text-transform: uppercase;
  color: #333;
  font-size: 14px;
}

.vmcustom-textinput {
  border: 1px solid #333;
  width: 99%;
}

.productdetails-view h1 {
  color: #333;
}


.product-fields select {
	padding:1px;
	border: 1px solid #333;
}

.product-field-type-S .product-field-display {
   background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
   height: 29px;
   overflow: hidden;
   width: 240px;
   background-color: #ccc;
   border-radius: 20px;
   display:flex;
   justify-content: space-between;
   width:100%;
}

.product-fields .product-field, .product-related-categories .product-field {
  padding: 0 0 8px;
}

.product-field-type-S .product-field-display select {
   background: transparent;
   border: none;
   font-size: 14px;
   cursor: pointer;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 268px;
}

.Rappelz {
  background-color: white;
  border: 1px solid #333;
  border-radius: 190px;
  color: white;
  float: left;
  max-width: 160px;
  padding: 6px;
}

.Rappelz img {
  border-radius: 500px;
}
  .ImageUpedMined {
    max-height: 90px;
    max-width: 150px;
  }

	.Rappelz li {
	list-style: none;
	color: #bbb;
	}

.ToolTitle {
  color: #d7d7d7;
  display: block;
  font-family: Montserrat;
  font-size: 13px;
  margin-bottom: 15px;
  text-transform: uppercase;
}
	.LabelListFileInfo {
		font-weight: bold;
	}



	.vm-product-details-container {
  background-color: white;
  float: right;
  height: 300px;
  padding: 2%;
  width: 45%;
}

.vm-product-container .vm-product-media-container {
  background-color: white;
  float: left;
  padding: 2%;
  width: 45%;
}

.productdetails-view h1 {
  color: #dddddd;
  margin-bottom: 15px;
  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.9);
}





.productdetails .PricesalesPrice {
  color: #333;
  font-size: 35px;
}

.productdetails span.vm-price-desc {
  font-size: 15px;
  line-height: 58px;
  margin: 0 0.8em 0.2em 0;
  min-width: 1em;
  text-align: left;
}

.productdetails span.addtocart-button {
float:right;
}

/*
* TEMPORAIRE
*/

#login-form {
  background-color: white;
  padding: 20px;
  margin-top: 0px;
}


#tableMainImagePrductView {
width:100%;height:100%;
  }

  #tableMainImagePrductView td {
  height: 350px;
  vertical-align: middle;
  width: 100%;
}

table.cart-summary tr th {
  background: rgba(50, 50, 50, 0.6) !important;
  border-bottom: 1px solid #e9e8e8 !important;
  color: white !important;
  font-family: Montserrat !important;
  font-size: 14px !important;
  font-weight: normal !important;
  padding: 5px !important;
}

.cart-summary td {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0;
}
.cart-summary tr td:first-child {
  padding-left: 5px;
}

.cart-summary {
  border: 1px solid #1d1d1d;
}

.cart-summary tr td a {
  color: #333;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

textarea#customer_note_field {
  background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
  border-top: 6px solid #333;
  height: 45px;
  margin: 10px 0;
  padding: 10px;
  width: 98%;
}

.cart.customer-note {
  color: white;
  font-family: Montserrat;
  margin: 21px 0 0;
  text-transform: uppercase;
}

span.tos {
  color: white;
  display: block;
  font-family: Montserrat;
  margin-right: 15px;
   text-transform: uppercase;
   margin-bottom: 5px;
}

.billto-shipto span, a.terms-of-service {
  color: white;
  display: inline-block;
  font-size: 14px;
  text-decoration: none;
}

#Edit_AdRSPage h1 {
color: #333;
  }


  #LoginPGconnect {
  display:none;
  }

#LoginInsided {
  display:flex;
  flex-direction: row;
  align-items: center;
  color: black;
  font-family: Montserrat;
  font-size: 13px;
  position:relative;
}
div#maximenuck197 {

  font-family: Montserrat;
  font-size: 14px;
  line-height: 31px;
  margin: auto;
  right: 220px;
  text-align: center;
  text-transform: uppercase;
  top: 12px;
  width: auto;
}

div#maximenuck197 .maxiFancybackground {
	display: none;
}

div#maximenuck197 ul.maximenuck {
  margin:0px;
}


div#maximenuck198 {

  font-family: Montserrat;
  font-size: 14px;
  line-height: 31px;
  margin: auto;
  right: 90px;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  width: 50px;
}

div#maximenuck198 ul.maximenuck {

  margin:0px;
  }

 /*
 ** LOGIN FORM
 */

#ICONoff {
  font-size: 22px;
  display: inline-block;
  margin-top: 7px;
  line-height: 35px;
  display: inline-block;
  }

.controls button {
  background-color: #ebebeb;
  padding: 5px;
  float: right;
  border-radius: 4px;
  color: #333;
  font-family: Montserrat;
  margin-left: 30px;
  margin-top:15px;
}



.vmLoadingDivMsg {
  color: #333;
  font-family: Montserrat;
  font-size: 17px;
  text-align: center;
}

.contact-form {
  background-color: white;
  margin: 5% auto auto;
  padding: 20px;
  width: 60%;
}

.control-label label {
  font-family: Montserrat;
  font-size: 14px;
  text-transform: uppercase;
}

#Edit_AdRSPage .control-label label {
  text-transform:none;
}

#Edit_AdRSPage a {
color: #333;
text-decoration:none;
}



.tabhome {
max-width:1000px;margin:auto;
}

.tabhome td {
text-align: center;
vertical-align: middle;
width: 50%;
font-size: 16px;
line-height: 16px;
font-weight: 300;
font-family:Myriad Pro;
padding: 40px;
color: #4b4b4b;
  }

  .divTabHome, .divTabHome .bolded  {
max-width: 540px;
margin:auto;
font-size:16px;
line-height:25px;
  }

  .BTNhomeWhite {
background-color:white;
border: 2px solid #00a453;
color: #00a453;
border-radius: 40px;
cursor: pointer;
font-size: 25px;
padding: 10px 20px;
margin: 30px auto 0;
display:block;
font-weight: 600px;
font-family: Montserrat;

-webkit-transition: all .2s ease;
   -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
     -o-transition: all .2s ease;
        transition: all .2s ease;
  }

.bh1 .BTNhomeWhite {
  background-color: #112f54;
  border: 2px solid #fff;
  border-radius: 0px;
  color: white;
  cursor: pointer;
  display: block;
  font-family: Montserrat;
  font-size: 25px;
  margin: 30px auto 0;
  padding: 10px 20px;
  transition: all 0.2s ease 0s;
}

  .BTNhomeWhite_revert {
    margin:auto;
background-color: #00a453;
border: 2px solid #00a453;
color: white;
border-radius: 40px;
cursor: pointer;
font-size: 25px;
padding: 10px 20px;
margin: auto;
display:block;
font-weight: 600px;
font-family: Montserrat;
margin-top: 35px;

-webkit-transition: all .2s ease;
   -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
     -o-transition: all .2s ease;
        transition: all .2s ease;
  }


.BTNhomeWhite_revert:hover {
  background-color: white;
  color: #00a453;

}
.BTNhomeWhite:hover {
  background-color: #00a453;
  color: white;

}


.divTabHome {
  max-width: 540px;margin:auto;
}

.BGlogin {
  font-family: LatoLight;
  font-size: 46px;
  /* height: 75px; */
  padding-top: 65px;
  text-align: center;
  color: #333;
}
#Edit_AdRSPage {
  background-color: white;
  margin: 140px auto auto;
  padding: 0px;
  width: 750px;
  padding-bottom: 0px;
  position:relative;
  /* border: 1px solid #c7c7c7; */
}

#LoginPGinscri > img, #LoginPGconnect > img {
  left: 115px;
  position: absolute;
  top: -50px;
  margin-left:-60px;
  left:50%;
}

#Edit_AdRSPage  label[for=email_field],
#Edit_AdRSPage  label[for=password_field],
#Edit_AdRSPage  label[for=password2_field],
#Edit_AdRSPage  label[for=logusername],
#Edit_AdRSPage  label[for=username],
#Edit_AdRSPage  label[for=password],
#Edit_AdRSPage  .control-label label,
#Edit_AdRSPage  label[for=modlgn-passwd] {
margin-left:20px;
font-family: Montserrat;
font-size: 15px;
display:block;
margin-top: 20px;
color: #333;
}

#Edit_AdRSPage input[type=text], #Edit_AdRSPage input[type=password], #Edit_AdRSPage input[type=email] {
border: 2px solid #c7c7c7;
padding: 10px;
border-radius:5px;
background-color: white;
margin:4px;
width: 78%;
margin-left: 20px;
  }

#LoginPGconnect, #LoginPGinscri {
/*position:absolute;*/
background-color:#ececec;
width: 100%;
padding-bottom: 10px;
}

#ombrageRegister {
  background-image: url("/images/flat-login-register-ui.png");
  height: 704px;
  position: absolute;
  width: 696px;
  z-index: 0;
  display:none;
}

  fieldset.sp_fs_delimiter_userinfo {
display:none;
  }

#Edit_AdRSPage .control-buttons  {
width: 100%;
}

  #Edit_AdRSPage .control-buttons button, #LoginPGconnect input[type=submit], #Edit_AdRSPage .btn-primary  {
    margin:25px auto 25px auto;
    width:60%;
    border-radius: 50px;
    display:block;

    background: #0077b3 none repeat scroll 0 -160px;
  border: 1px solid #00669a;
  color: #fff;
  cursor: pointer;
  letter-spacing: 1px;
  padding: 9px 12px 8px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;

  }


#Edit_AdRSPage .btn-primary  {
margin-right: 60px;
  }

  .invalid {
background-color: transparent;
  }

  #LinkedAlreadyIs {
    text-decoration: none;
    cursor: pointer;
    color:#f5683d;
    font-family: 'Lato';
    font-size: 17px;
  }


  #LoginPGconnect input {
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #777;
  margin-bottom: 2px;
  padding: 5px 5px 4px;
  width: 200px;
}
  #LoginPGconnect .inputbox {
    width: 100%;
    margin-bottom: 10px;
  }

#LoginPGconnect p {
  font-family: Montserrat;
  margin-bottom: 6px;
  text-transform: uppercase;
  width: 100%;
}



#LoginPGconnect input[type=checkbox] {
width: 15px;
margin-top: 20px;
  }

  #LoginPGconnect a {
    color: #333;
    text-decoration: none;
    font-family: Lato;
    font-size: 12px;
  }



  #LoginPGconnect .width30 {
  width: 40%;
}


.linkforgetetc {
margin: 20px;
font-style:italic;
color: #c7c7c7;
}

.linkforgetetc a {
margin: 0px 5px;
  }

#tp_message {
  background-color: rgba(255, 255, 255, 0.7);
  margin: 80px auto auto;
  padding: 2px;
  text-align: center;
  width: 600px;
}

#tp_message a.close {
  color: #333;
  float: right;
  font-size: 40px;
  position: absolute;
  right: 3px;
  top: -10px;
  cursor: pointer;
}

.alert-heading {
  margin-top: 20px;
}

#tp_message div p {
margin-bottom: 20px;
}

.RecapProductName {
  color: #333;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: bold;
  display: block;
  margin-bottom: 3%;
}

#checkoutFormSubmit {
  padding: 17px;
  width: 200px;
  background-color: transparent;
  border: none;
  padding: 0;
}

#checkoutFormSubmit > span {
  font-family: Myriad Pro;
  font-size: 19px;
}


  #tp_content .BandeauHome.bh1 .divTabHome {
    color: white;
    background: rgba(56, 106, 168, 0.68);
    padding: 25px;
  }
  #tp_content .BandeauHome.bh1 {
    background-color:white;
    background: linear-gradient(-140deg, transparent 50%, rgba(17, 47, 84, 1) 50%)
    /*height:420px;*/
  }

  #tp_content .BandeauHome.bh2 {
background-color:#003263;
/*height:420px;*/
  }
  #tp_content .BandeauHome.bh2 .divTabHome{
color:#f2f2f2;
  }
  #tp_content .BandeauHome.bh2 .BTNhomeWhite {
  background-color: #0083c6;
  border: 2px solid #fff;
  border-radius: 40px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: Montserrat;
  font-size: 25px;
  margin: 30px auto 0;
  padding: 10px 20px;
  transition: all 0.2s ease 0s;
}
  #tp_content .BandeauHome.bh2 .BTNhomeWhite:hover {
    background-color: #003263;
  }

  #tp_content .BandeauHome.bh3 {
background-color:#3f4d50;
/*height:420px;*/
  }

  #tp_content .BandeauHome.bh3  .divTabHome{
  color:#f2f2f2;
  }
.bolded {
font-weight: bold;
}
.bandeauWide {
width: 100%;
background: #194882;
}

.OnePushType select {
/*   background-color: white;
border: 2px solid #0083c6; */
  border-radius: 50px;
  color: #0083c6;
  display: block;
  font-family: Myriad Pro;
  font-size: 14px;
  font-weight: bold;
  margin-left: 0;

  padding: 4px 20px 4px 4px;
}

.CTNselectOPt {
  background: rgba(255, 255, 255, 0.9) url("/images/15xvbd5.png") no-repeat scroll 96% 0;
  border-radius: 20px;
  overflow: hidden;
  margin-top: 4px;
  width: 100%;
  border: 2px solid #0083c6;
  cursor:pointer;
}
.CTNselectOPt select {
width: 110%;
  cursor:pointer;
}

.CTNselectOPt select option {
  color: #0083c6;
  font-family: Myriad Pro;
  font-size: 14px;
  font-weight: normal;
  padding: 2px;
  padding-left: 5px;
}

li.comcom {
  background-color: #f7f7f7;
  }

  .OnePushType textarea {
    border: 1px solid #d4d4d4;
    background-color: white;
    width: 100%;
    height: 60px;
    resize: none;
  }


.divTabHome a {
text-decoration: none;
  }

  #Edit_AdRSPage.remind p,  #Edit_AdRSPage.reset p {
  font-size: 11px;
  padding: 20px 20px 0;
  text-align: justify;
}

#Edit_AdRSPage.remind button, #Edit_AdRSPage.reset button {
float:none;
  }
#Edit_AdRSPage.remind, #Edit_AdRSPage.reset  {
width: 390px;
}

.InputNBsize {
  border: 2px solid #0083c6;
  border-radius: 50px;
  color: #0083c6;
  font-family: Myriad Pro;
  font-size: 16px;
  font-weight: bold;
  margin: 4px 0;
  padding: 3px 15px;
  text-align: center;
  width: 30px;
}

.LineHforNBINputInlined {
  color: #3e4346;
  font-size: 15px;
  font-weight: bold;
  line-height: 37px;
}


.CTNselectOPt[typedecustom="15"] {
width: 80px;
display:inline-block;

}

select[typedecustom="15"] {
width: 100px;
text-align:center;
  }

  .OnePushType ul i {
  line-height: 43px;
  cursor:pointer;
}

.missionsrea h1 {
  font-family: Montserrat;
  font-size: 24px;
  margin-bottom: 15px;
}
  .missionsrea .tabhome td {
padding: 0px;
text-align: left;
  }

  .missionsrea .divTabHome {
max-width: auto;
  }

  .missionsrea a {
text-decoration: none;
  }

  .bh1.missionsrea h1 {
  color: #6a6a6a;
}

.missionsrea button {
  margin-left: 140px !important;
}

.missionsrea img {
box-shadow: 12px 11px 5px rgba(0, 0, 0, 0.6);
  }



.BluePage {
height:520px;
  }

.BluePage #AddFileBLuePage input {
cursor: pointer;
height: 110%;
left: 0;
margin-top: 0;
opacity: 0;
position: absolute;
top: 0;
width: 105%;
}
.BluePage #AddFileBLuePage, .BluePage #AddFileBLuePage span {
  color: #747474;
  font-family: Lato;
  width: 220px;
  cursor: pointer;
  font-size: 15px;
  line-height: 43px;
  position: relative;
}
  .BluePage #AddFileBLuePage i {
    color: #a4a4a4;
    font-size: 45px;
    margin-left:20px;
    margin-right: 15px;
  }
  .BluePage #AddFileBLuePage:hover i, .BluePage #AddFileBLuePage:hover, .BluePage #AddFileBLuePage:hover span {
    color: #555;
  }

  .BluePage label {
  display: block;
font-family: Montserrat;
margin-top: 16px;
  }

  .BluePage input[type=text] {
    display: block;
    background-color: white;
    border: 2px solid #c7c7c7;
    border-radius: 5px;
    margin: 4px 4px 4px 20px;
    padding: 10px;
    width: 78%;
  }

.BluePage select option {
  font-size: 14px;
  font-family: Lato;
  padding: 5px 10px;

}
.BluePage select {
  cursor: pointer;
  background-color: white;
  border: 2px solid #c7c7c7;
  border-radius: 5px;
  display: block;
  font-family: Lato;
  font-size: 14px;
  margin: 8px 4px 12px 20px;
  padding: 5px 10px;
  width: 47%;
}

.BluePage #tablBlueNomSoc {
width: 78%;
}
.BluePage #tablBlueNomSoc td:first-child {
  padding-right: 30px;
}

.BluePage textarea {
    display: block;
    background-color: white;
    border: 2px solid #c7c7c7;
    border-radius: 5px;
    margin: 4px 4px 4px 20px;
    padding: 10px;
    width: 78%;
    height: 60px;
    resize: none;
  }

  .BluePage h1 {
  color: #333;
  display: block;
  font-family: Montserrat;
  font-size: 29px;
  margin-top: 26px;
}

.BluePage .cartFLTleft {
  float: left;
  overflow: hidden;
}

.BluePage .cartFLTleft img {
  width: 100%;
}

.BluePage button {
  background-color: #0083c6;
  border: 2px solid #fff;
  border-radius: 40px;
  bottom: -38px !important;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: Montserrat;
  font-size: 25px;
  margin: 90px auto 0;
  padding: 5px 15px;
  position: absolute;
  right: -390px !important;
  transition: all 0.2s ease 0s;
  width: 150px;
}


.BluePage p {
  text-align: justify;
  margin-top: 25px;
  width: 400px;
}

.htlabel {
  font-family: Montserrat;
  font-size: 15px;
  line-height: 32px;
}

.sp_fs_delimiter_billto select {
	width: 210px;
	border: 2px solid #c7c7c7;
	background: white;
	border-radius: 5px;
	padding: 10px;
	margin-left: 20px;
}

.tabs input[type=text], .tabs input[type=password] {
border: 2px solid #c7c7c7;
padding: 10px;
border-radius:5px;
background-color: white;
margin:4px;
width: 25%;
margin-left: 20px;

}
.tabs label {
margin-left:10px;
font-family: Myriad Pro;
font-size: 15px;
display:block;
margin-top: 7px;
color: #333;

}

.tabs select {
  color: #0083c6;
  display: block;
  font-family: Myriad Pro;
  font-size: 14px;
  border: 2px solid #c7c7c7;
  font-weight: bold;
  cursor:pointer;
margin-left: 20px;
padding: 10px;
width: 25%;
}



.tabs .buttonBar-right button {
background-color: #0083c6;
border-radius: 40px;
color: #fff;
cursor: pointer;
font-family: Montserrat;
font-size: 18px;
margin: 30px auto 0;
padding: 8px 20px;
transition: all 0.2s ease 0s;
}


#tp_content .BandeauHome.bh1.programmebroderiepage {
height: auto;
background: #f6f6f6 !important;
padding-bottom: 45px;
	}


#tp_content .BandeauHome.bh1.programmebroderiepage h2 {
  color: #333;
  font-family: Lato;
  font-size: 23px;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 12px;
}
#tp_content .BandeauHome.bh1.programmebroderiepage p {
  color: #5d5e5e;
  font-family: LatoLight;
  font-size: 19px;
  line-height: 25px;
  text-align: justify;
  width: 100%;
}

#tp_content .BandeauHome.bh1.programmebroderiepage .tabhome td {
padding: 0px 40px 40px 40px;
vertical-align: top !important;
}

#tp_content .BandeauHome.bh1.programmebroderiepage h1 {
text-align: center;
color: #333;
padding-top: 50px;
padding-bottom: 50px;
font-family: LatoLight;
}

#tp_content .BandeauHome.bh2.programmebroderiepage h1 {
text-align: center;
color: white;
padding-top: 50px;
padding-bottom: 30px;
font-family: LatoLight;
}
#tp_content .BandeauHome.bh2.programmebroderiepage h2 {
  color: white;
  font-family: Lato;
  font-size: 21px;
  font-style: normal;
  text-align: center;
}
#tp_content .BandeauHome.bh2.programmebroderiepage p {
  color: white;
  font-family: LatoLight;
  font-size: 20px;
  text-align: center;
}
#tp_content .BandeauHome.bh2.programmebroderiepage a, #tp_content .BandeauHome.bh1.programmebroderiepage a {
text-decoration: none;
	}

	#tp_content .BandeauHome.bh2.programmebroderiepage {
  background-color: #003263;
  height: 310px;
}

.page-header {
  height: 48px;
}

/* .vm-customfield-cart span.spanSval:before {
  content: " : ";
} */

  /* PUSH FOOTER
  **
  */

  .pushfooter i {
font-size:18px;
margin-left:5px;
color: #ffb400;
}

.pushfooter a {
	color: white;
	font-size: 13px;
	text-align: left;
	text-decoration: none;
	line-height: 20px;
    font-family: "OpenSansLight";
}

.pushfooter i:hover {
color: #0083c6;
}

.pushfooter a:hover {
color: #0083c6;
text-decoration: underline;
}


.pushfooter {
  color: #929191;
  float: left;
  font-family: Lato;
  font-size: 13px;
  /*height: 64px;*/
  line-height: 20px;
  margin-top: 20px;
  padding: 0 20px;
  text-align: left;
}
.pushfooter input {
 background-color: #ececec;
    height: 25px;
    color: #929191;
    width: 130px;
    padding-left: 3px;
    font-size: 9px;
}

.pushfooter:nth-child(2), .pushfooter:nth-child(3), .pushfooter:nth-child(4), .pushfooter:nth-child(5), .pushfooter:nth-child(6) {
border-left:0px solid #d0cfcf;
  }

  .PushTitleFooter {
  	display: inline-block;
  	font-family: Oswald;
  	font-size: 16px;
  	margin-bottom: 7px;
  	text-transform: uppercase;
  	color: white;
  	letter-spacing: 1px;
  }

  #tp_footer {
  	background-color: #003c9d;
  	color: white;
  	min-height: 200px;
  	text-align: center;
  	font-family: Montserrat;
  	padding-bottom: 20px;
  	clear: both;

  }

  .phoneinfooter i {
	margin-right: 6px;
	margin-top: 3px;
    margin-left: 0;
}

a.phoneinfooter {
	/* background: white; */
	border-radius: 15px;
	padding: 5px;
	margin: 5px;
	display: block;
	color: #ffb400;
	font-family: Open Sans;
	width: 130px;
	font-size: 15px;
	margin-top: 6px;
	margin-left: 0;
}
/*  #tp_footer a {
  color: #333;
  font-family: Montserrat;
  display:inline-block;
  margin: 0 25px 10px;
  text-decoration: underline;
  line-height: 13px;
} */



















#ui-tabs ul#tabs li.current {
  background: white none repeat scroll 0 0;
  color: #444;
  display: inline-block;
}

#ui-tabs ul#tabs li {
  background: #ccc none repeat scroll 0 0;
  cursor: pointer;
  display: inline-block;
  font-family: Lato;
  font-size: 17px;
  padding: 8px 20px;
}

#editcell .adminlist td {
  padding: 5px;
  color: #333;
  font-size: 14px;
}
#editcell .adminlist td a {
  color: gray;
  color: #333;
  font-size: 14px;
  font-weight:bold;
}
#editcell .adminlist th {
  color: #333;
font-family: Lato;
font-size: 17px;
font-weight: normal;
padding: 2px 15px 2px 0;
text-align: left;

  background-color: #dfdfdf;
  color: #333;
  font-family: LatoLight;
  font-size: 16px;
  padding: 5px;
  }
#editcell .adminlist  {
  width: 100%;
}

.OrderSPGEneral th {

}

.NoRegisteredBoxUser {
background-color: white;
margin: auto auto 60px;
padding: 35px;
width: 900px;
margin-top: 60px;
  }

  .NoRegisteredBoxUser input[type="text"], .NoRegisteredBoxUser input[type="password"] {
    background-color: white;
    border: 2px solid #c7c7c7;
    border-radius: 5px;
    margin: 4px 4px 4px 20px;
    padding: 10px;
    width: 25%;
}
.NoRegisteredBoxUser label {
    color: #333;
    display: block;
    font-family: Myriad Pro;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 7px;
}
.NoRegisteredBoxUser h1 {
color: #333;
}
.NoRegisteredBoxUser h2 {
  color: #333;
  display: block;
  font-family: LatoLight !important;
  font-size: 28px;
  font-weight: bold;
  font-style:normal !important;
  margin: 0 0 8px;
}
.NoRegisteredBoxUser .userdata input[type="submit"] {
  background-color: #0083c6;
border-radius: 40px;
color: #fff;
cursor: pointer;
font-family: Montserrat;
font-size: 18px;
margin: 30px auto 0;
    float:right;
padding: 8px 20px;
transition: all 0.2s ease 0s;
}
.NoRegisteredBoxUser select {
    border: 2px solid #c7c7c7;
    color: #0083c6;
    cursor: pointer;
    display: block;
    font-family: Myriad Pro;
    font-size: 14px;
    font-weight: bold;
    margin-left: 20px;
    padding: 10px;
    width: 25%;
}
.NoRegisteredBoxUser .buttonBar-right button {
    background-color: #0083c6;
    border-radius: 40px;
    color: #fff;
    cursor: pointer;
    font-family: Montserrat;
    font-size: 18px;
    margin: 30px auto 0;
    padding: 8px 20px;
    transition: all 0.2s ease 0s;
}

#LogoSuperPictor_mobile {
display:none;
  }

  #MenuToggle i {
  color: white;
  }
  #MenuToggle {
    display:none;
    padding-top: 8px;
    float:left;
    font-size: 25px;
    cursor: pointer;
  }

  /*@media only screen and  (max-device-width : 720px) {*/
  /*@media screen and (max-device-width : 720px) {*/
  @media screen and (max-width : 1000px) {
        .tp_colmid, .tp_colMid {
            width: 95%;
        }

        .pushfooter {
           display: inline-block;
           width: 20%;
           margin: 2% auto auto 6%;
        }

        #LogoSuperPictor { display:none; }
        #LogoSuperPictor_mobile { display:block; }
        /* div#maximenuck197 ul.maximenuck li.maximenuck.level1 { margin-right: 2px; } */
}
@media (max-width: 920px) {
   .tp_colmid, .tp_colMid {
      width: 95%;
   }

   .pushfooter {
      display: block;
      width: 22%;
      margin: 2% auto auto 15%;
   }

   #LogoSuperPictor { display:none; }
   #LogoSuperPictor_mobile { display:block; }

   div#maximenuck197 ul.maximenuck li.maximenuck.level1 { margin-right: 2px; }

     #InsignFooter { display: none; }

     #DragAndUpzoned2 { display : none; }
}
  @media screen and (max-width : 720px) {
        .tp_colmid, .tp_colMid {
          width: 95%;
        }

         .pushfooter {
            display: block;
            width: 40%;
            margin: 2% auto auto 1%;
         }

        .tabhome  td img {
          max-width: 50%;
        }
        .tabhome  td {
          float:left !important;
          width: 95% !important;
          padding: 30px 2.5% !important;
        }
        .StepInfo span{ display:none;}
        #DragAndUpzoned2 {display:none;}
        #LogoSuperPictor { display:none; }
        #LogoSuperPictor_mobile { display:none; }
        .divTabHome button {
          width: 310px;
        }
        #InsignFooter {
          display:none;
        }

        #ezblog-label {
          width: 100%;
          text-align:center;
        }
        #ezblog-body .post-item-s {
          position: relative;
          left: 50%;
          margin-left: -70px;
          margin-bottom: -50px;
        }
        #ezblog-body .post-item-m {
          margin-left: 0;
          padding-top: 50px;
        }
        .blog-read {
          width: 100%;
        }

      .cart-view {
        display:flex;
        align-content: center;
        width: 90%;
        height: auto;
      }

      .BluePage .cartFLTleft {
        display:none;
      }
      .BluePage {
        height: auto;
        padding-bottom: 70px;
      }
      .BluePage .cartFLTright {
        padding: 0 0px 0 20px;
        width: 90%;
      }
    .BTNRETOUR {
        margin:0 !important;
        margin-right: 40px !important;
        position: unset !important;
        float:left;
    }
    .BluePage button.BTNchooseType {
        margin:0;
      position: unset !important;
      float:left;
    }

    div#maximenuck197 {
      display:none;
      top: 80px;
      left: 0px;
      width: 100%;
    }

    div#maximenuck197 ul.maximenuck li.maximenuck.level1 {
      padding: 0;
      margin: 0;
    }
    div#maximenuck197 ul.maximenuck  {
        background-color: rgba(99, 99, 99, 0.9);
        width: 100%;
    }
    #MenuToggle {
      display: flex;
      align-items: center;
    }

   .maxiFancybackground { display: none; }

   div#maximenuck197 span.titreck {
      margin-right: 5px;
      margin-left: 5px;
   }
   #super_Loginform {
    display:none;
    z-index: 800;
    position: absolute;
    /* right: -165px !important; */
    right: -170px !important;
    top: 50px !important;
    z-index: 800;
  }

  #super_Loginform *:not(.material-icons) {
    font-family: 'Montserrat' !important;
  }

}


 @media screen and (max-width : 480px) {
        #LogoTitleSuperpictor { width: 90%; }
        #DragZone {display:none;}
        #LogoSuperPictor_mobile { display:none; }
        #UpZone {
          margin:auto;
          border-radius: 50px;
          float:none;
        }
        #DragAndUpzoned {
          width: 100%;
        }

          #InputFileBTN {
            width: 90%;
          }

         .pushfooter {
             display: block;
             width: 60%;
             margin: 5% auto auto 25%;
          }

        div#maximenuck197 {
          display:none;
          top: 80px;
          left: 0px;
          width: 100%;
        }

        div#maximenuck197 ul.maximenuck li.maximenuck.level1 {
          padding: 0;
          margin: 0;
        }
        div#maximenuck197 ul.maximenuck  {
            background-color: rgba(99, 99, 99, 0.9);
            width: 100%;
        }

        .maxiFancybackground {
          display: none;
        }

        #super_Loginform {
          display:none;
          z-index: 800;
          position: absolute;
          /* right: -165px !important; */
          right: -128px !important;
          top: 50px !important;
          z-index: 800;
        }

        #super_Loginform *:not(.material-icons) {
          font-family: 'Montserrat' !important;
        }
        
        .BandeauHome  h1 {
            font-size: 35px;
        }

        a.BTNRETOUR {
            margin:0 !important;
            margin-right: 40px !important;
            position: relative !important;
            width: 70%;
            display:block;
            margin: auto !important;
            float: none;
            top:0;
            left:0;
            right:0;
            bottom: 0;
            padding: 6px 0;
            text-align:center;
            margin-bottom: 5px;
        }
        .BluePage button.BTNchooseType {
            margin:0;
            top:0;
            left:0;
            right:0;
            bottom: 0;
            float: none;
          position: relative !important;
            width: 70%;
            display:block;
            margin: auto !important;
            margin-top: 20px !important;
        }

}

#paymentDone #TabBlueBlueAlpha {
  min-height: unset;
}

#TabBlueBlueAlpha {
  color: white;
  font-family: Lato;
  font-size: 20px !important;
  margin: auto;
  max-width: 600px;
  min-height: 600px;
}

/* @media screen (orientation: portrait) {
    #tp_global_content {
      background-color: #99ddd2;
      background-image: url("/images/bghome.png");
      background-repeat: no-repeat;
      background-size: auto 100%;
      height: 100%;
      background-position: bottom;
    }
} */

#supercreditsinfos {
background-color: #737373;
border-radius: 0 0 5px 5px;
color: white;
font-family: Lato;
font-size: 13px;
padding: 10px;
position: absolute;
right: 90px;
top: 80px;
  }


#phoneInfos {
  background-color: #0083c6;
  border-radius: 15px;
  color: white;
  font-family: Lato;
  font-size: 13px;
  padding: 7px 12px;
  position: absolute;
  right: 450px;
  top: 10px;
}

  .supercredits {
  height: 16px;
  }

  .accountBTN {
    color: white;
    display: inline-block;
    font-family: Montserrat;
    /* margin-top: 2px; */
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    font-size: 15px;
    font-family: Montserrat;
    font-weight: normal;
    text-transform: Capitalize;
    /* letter-spacing: 2px; */
    color: #003c9d;
    /* padding: 5px 15px; */
    /* margin-top: 17px; */
    font-weight: 700;
    margin: 0 30px 0 16px;
    padding: 4px 5px 2px 5px;
  }

  /*.accountBTN:hover {
    text-decoration: underline;
  }*/


.sp_search_container.sp_search_right {
  float: right;
  position: relative;
  width: 250px;
  margin-right: 0px;
  border-radius: 25px;
  background: white;
  border: 2px solid #C7C7C7;
  padding:5px;
  padding-left: 10px;
}
  .sp_search_container .sp_search_input {
    width: 100%;
    padding: 0px;
    border: none;
    background: transparent;
  }

  .sp_search_container .sp_search_icon {
  position: absolute;
  right: 6px;
  color: #333;
  opacity: 0.6;
  top: 2px;
}


/*Add by Clotilde */
#rechargesupercredits a{
  color: #ffffff;
  font-family: Lato;
  font-size: 13px;
  padding: 10px;
  position: absolute;
  right: 87px;
  top: 83px;
  text-decoration: none;
  letter-spacing: 0.7px;
}

#rechargesupercredits a:hover{
  font-weight: 700 ;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.4);
}

#badgeaccount {
  width: 40px;
}

  /* login form box dx
  **
  */

  #box_login {
  background: white;
  min-height:370px;
  }
  #login-title, #login-form a, #create-account span {
    font-family: Montserrat, sans-serif !important;
    font-weight: lighter;
  }
  #joinSp-text{
    font-family: Montserrat, sans-serif !important;

  }

  #login-form {
    background-color: rgba(255, 255, 255, 0.2);
    color: #003C9D;
    font-family: "Open Sans";
    height: 220px;
    line-height: 17px;
    padding: 20px 37px 20px 20px;
    text-transform: none;
    z-index: 800;
  }

  #login-form .btn-primary {
  	background: #003c9d;
  	border-radius: 0;
  	color: white;
  	font-size: 12px;
    font-weight: 800;
  	font-family: 'Montserrat';
    text-transform: uppercase;
  	padding: 10px 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: ease-in 0.2s;
    float: unset;
    margin: 0;
    margin-top: 25px;
    border: solid 1px #003c9d;
  }
  #login-form .btn-primary:hover {
    color: #003c9d;
    background-color: white;
    transition: ease-in 0.2s;
  }

  #login-form  input {
  background-color: #faf9fd;
  width: 100%;
  padding: 8px;
  border: 1px solid #003c9D;
  border-radius: 5px;
  }

  #login-form li {
    list-style: outside none none;
    /* font-size: 5px !important;
    float: left;
    margin-bottom: -5px;
    margin-right: 14px;
    font-style: italic;
    margin-left: 2px; */
  }
  
  #login-form label {
    display: block;
    font-family: 'Montserrat';
    font-size: 11px;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 15px;
    text-align: left;
  }
  #login-form a {
      color: #003c9d;
      font-family: Myriad Pro;
      font-weight: normal;
      line-height: 23px;
      text-decoration: none;
  }

  #login-title {
    font-weight: 800;
    text-align: left;
    font-size: 15px;
  }

  #form-login-remember {
    display: flex;
    justify-content: space-around;
    margin-top: 35px;
    float: left
  }

  #form-login-remember label{
    margin: 0;
    margin-right: 10px;
  }

  #modlgn-remember {
    width: 10px !important;
  }

  #super_Loginform {
    display:none;
    z-index: 800;
    position: absolute;
    right: 50px;
    top: 60px;
    z-index: 800;
  }

  #joinSp-text {
    text-align: left;
    font-weight: 800;
    margin-top: 35px;
    font-size: 15px;
  }

  #create-account {
    margin-top: 15px;
    color: #003c9d;
    font-size: 11px;
    display: inline-block;
    text-align: justify;
  }

  #create-account a {
    color: #003c9d;
    font-weight: 601;
    line-height: normal;
  }

  #notif_display {
    right: -162px !important;
    top: 60px !important;
 }

 span.add-on {
  display: flex;
  align-items: center;
  justify-content: space-between;
 }

 span.add-on a {
  margin-top: 16px;
  font-size: 10px;
  margin-bottom: -2px;
 }

  .closeCross {
  	color: #003c9d;
  	font-size: 21px !important;
  	position: absolute;
  	right: 5px;
  	top: 5px;
  	z-index: 1500;
  }
  
  .badgeHeader {
    display:flex;
    color:white;
    font-size:5px;
    justify-content: center;
    align-items: center;
    height: 22px;
    width: 70px;
    border-radius: 6px;
    font-weight: 700;
    text-decoration: none;
  }

  .badgeHeader p {
    font-size: 10px;
  }

   .opennotification {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    position: relative;
    margin-right: 9px;
  }

   .opennotification:hover {
   color: #003c9d;
   }

   #NotifTitle {
   font-size: 18px;
   /* letter-spacing: 2px; */
   font-weight: 800;
}

  .NotifBtn {
    display: none;
    position:absolute;
    bottom: -3px;
    right: 5px;
    color: #4b3fb4a2;
    font-size: 10px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in;
  }
   .NotifBtn:hover {
      color: #4b3fb4a2;
      transform: translateX(2px);
      transition: ease-in 0.2s;
   }

   .NotifActive { color: #ff0b4d; }

   #NotifBadge {
   position: absolute;
   top: -3px;
   right: -3px;
   padding: 0px 5px;
   border-radius: 50%;
   background-color: #FFB400;
   color: white;
}

#notif_display {
  display: none;
  z-index: 800;
  position: absolute;
  right: 128px;
  top: 57px;
  z-index: 800;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border:1px solid rgba(0,0,0,.15);
}

   .notif_box {
    background-color: #FFFFFF;
    color: #003C9D;
    padding: 10px 10px 10px 10px;
    font-family: oswald;
  }

   .notif_box h2 {
    padding: 10px 10px 10px 10px;
    font-family: oswald;
    font-size: 18px;
    letter-spacing: 2px;
  }

  .notif_infos {
    background-color: white;
    color: #003C9D;
    max-height: 30vh;
    width: 370px;
    line-height: 17px;
    text-transform: none;
    overflow: auto;
    padding: 10px;
    scrollbar-width: thin;
    scrollbar-color: #4b3fb4 #4b3fb43a;
    font-family: Montserrat, sans-serif !important;
    font-weight: lighter;
  }
  .notif_infos::-webkit-scrollbar {
    width: 7px; 
  }
  .notif_infos::-webkit-scrollbar-track {
    background: #4b3fb43a; 
  }
  .notif_infos::-webkit-scrollbar-thumb {
    background: #4b3fb4; 
  }

  .NotifContent {
    position: relative;
    text-align: left;
    display: flex;
    padding: 15px 10px;
    min-height: 40px;
    margin-top: 3px;
    margin-bottom: 10px;
    transition: ease-out;
    transition-duration: 0.2s;
    border-bottom: 1px solid #E0E0E0;
  }

   .NotifContent:hover .NotifBtn { display: block; }

  .notif_infos p { font-size: 12px; color: #003C9D;}

  .notif_infos a:hover { background-color: white; }

  .notif_infos h2 {
    padding-top: 5px;
    color: #003C9D;
    margin-bottom: 5px;
    font-style: normal;
    /* font-family: oswald; */
    font-family: Montserrat, sans-serif !important;
    font-weight: lighter;
  }

   .NotRead { background-color: #e4e2f4; }
   .IsRead {
      background-color: #f6f5fb;
      transition: linear;
      transition-duration: 0.2s;
   }

  .NotRead h2, .IsRead h2 { 
    color: #003C9D;
    font-weight: 800;
    font-size: 13px;
    letter-spacing: 0px;
  }
  
  .IsRead:hover .NotifBtn { display: block; }

  .NotifImg {
    float: unset !important;
    width: 30%;
    /* max-width: 30%; */
    margin-right: 20px;
    max-height: none !important;
  }

  .contentNotifDiv{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .textNewNotif{
    word-wrap: anywhere;
  }

   .notif_infos .DateSend {
   font-size: 10px;
   position: absolute;
   color: #003c9d;
   right: 3px;
   top: 15px;
   font-style: normal;
}
