@import '../template';

$height_padder: 297mm;
$width_padder: 210mm;
$padding_page: 16mm;

$height_header: 42mm;
$height_info: 28.5mm;
$height_validation: 45mm;
$height_accord: 68.1mm;
$height_content: $height_padder - $height_header;
$height_product: $height_content - $height_validation - $height_info;

@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('0_fonts/Myriad Pro Regular.ttf') format("truetype");
}
@font-face {
  font-family: 'MyriadPro-Light';
  src: url('0_fonts/MyriadPro-Light.ttf') format("truetype");
}

@font-face {
  font-family: 'UTM Avo';
  src: url('0_fonts/UTM Avo.ttf') format("truetype");
}
@font-face {
  font-family: 'AcuminPro-Regular';
  src: url('0_fonts/AcuminPro-Regular.ttf') format("truetype");
}
@font-face {
  font-family: 'AcuminProSemiCond-ExtraLight';
  src: url('0_fonts/AcuminProSemiCond-ExtraLight.ttf') format("truetype");
}

@font-face {
  font-family: 'Digital02';
  src: url('0_fonts/digital2.ttf') format("truetype");
}

.page {
  font-size: 0;
  box-sizing: border-box;
  height: $height_padder;
  width: $width_padder;
  * {
    box-sizing: border-box;
  }
  .padder {
    height: $height_padder;
    width: $width_padder;
    background-size: $width_padder $height_padder !important;
    background-color: #FFFFFF !important;
    position: relative;
    &#page-product {
      background: url("./images/bg_product.png") no-repeat;
    }
    &#pageEmplacements {
      background: url("./images/bg_logo.png") no-repeat;
    }

    .bat-header {
      padding: 6.5mm 7mm 11mm;
      height: $height_header;

      div {
        display: inline-block;
      }

      .block-header {
        height: 9mm;
        img {
          height: 8.5mm;
          max-width: inherit;
        }

        * {
          line-height: 8.5mm;
          font-size: 16pt;
          color: #FFFFFF;
          font-family: MyriadPro-Regular;
        }
      }

      .title-header {
        float: right;
        font-size: 19pt;
        color: #FFFFFF;
        font-family: MyriadPro-Regular;
      }

    }

    .bat-content {
      height: $height_content;
      padding: 0 $padding_page;
      overflow: hidden;
      display: table;
      .bat-infos {
        height: $height_info;
        border: solid 1mm #355EEC;
        border-radius: 3mm;
        padding: 2.5mm;
        display: table;
        width: 100%;
        .bat-infos-box {
          display: table-cell;
          vertical-align: middle;
          border-right: solid 1mm #355EEC;
          padding-right: 5mm;
          width: 59mm;
          .client {
            font-size: 15pt;
            font-family: MyriadPro-Regular;
            line-height: 18pt;
          }
          .info {
            * {
              font-size: 10pt;
              font-family: MyriadPro-Light;
            }
            margin: 1mm 0;
            &:last-child {
              margin-bottom: 0;
            }
            .value {
              float: right;
            }
          }
        }
        .product-title {
          display: table-cell;
          vertical-align: middle;
          font-size: 17.8pt;
          font-family: "UTM Avo";
          padding-left: 5mm;
        }
        margin-bottom: 8mm;
      }

      .container-product {
        clear: both;
        margin-bottom: 7.8mm;
        .product-pictures {
          .picture {
            display: inline-block;
            width: 50%;
            &:nth-child(odd) {
              .picture-item {
                background: url("./images/border_1.png") no-repeat;
                background-size: 61mm 88mm !important;
              }
            }
            &:nth-child(even) {
              .picture-item {
                background: url("./images/border_2.png") no-repeat;
                background-size: 61mm 88mm !important;
              }
            }
            .picture-item {
              height: 88mm;
              width: 61mm;
              margin: auto;
              padding-top: 7.8mm;

              .picture-container {
                position: relative;
                height: 62mm;
                width: 61mm;
                img {
                  position: absolute;
                  top: 0;
                  right: 0;
                  bottom: 0;
                  left: 0;
                  margin: auto;
                  max-width: 48mm;
                  max-height: 61mm;
                }
              }
              .picture-label {
                text-align: center;
                font-size: 19pt;
                font-family: "UTM Avo";
                line-height: 22.5pt;
                color: #2D4F9E;
                text-transform: uppercase;
                margin-top: 5mm;
              }
            }
          }
          &[layout="1-p"] {
            .picture {
              width: 100%;
            }
          }
        }

      }

      .marquages {
        .contenaire_emplacements {
          .marquage {
            display: inline-block;
            width: 50%;
            &:nth-child(odd) {
              .container-marquage {
                background: url("./images/border_1.png") no-repeat;
                background-size: 100% 100% !important;
              }
            }
            &:nth-child(even) {
              .container-marquage {
                background: url("./images/border_2.png") no-repeat;
                background-size: 100% 100% !important;
              }
            }
            .container-marquage {
              height: 128.5mm;
              width: 79mm;
              margin: auto;
              display: table;
              padding: 5mm;
              .logo-image {
                display: table-row;
                height: 100%;
                .container-logo-img {
                  height: 100%;
                  max-height: 60mm;
                }
                .marquage-image {
                  height: 100%;
                  position: relative;
                  img {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    margin: auto;
                    max-width: 66mm;
                    max-height: 50mm;
                  }
                }
              }
              .row-info {
                height: 100%;
                display: table-row;
                .box-logo-info {
                  padding: 0 4mm 5mm;
                  p {
                    margin: 0;
                  }
                  .box_fonts {
                    * {
                      display: inline-block;
                    }
                    .font_text {
                      margin-right: 2mm;
                    }
                  }
                  .marquage-namebox, .fonts_use, .collection_name {
                    font-size: 14pt;
                    font-family: "UTM Avo";
                    color: #6192C8;
                    line-height: 19pt;
                    margin-bottom: 1mm;
                  }
                  .marquage-size, .box_fonts, .squares_color, .marquage-comment {
                    font-size: 11.5pt;
                    font-family: MyriadPro-Regular;
                    line-height: 15pt;
                  }
                  .fonts_use {
                    margin-top: 2.5mm;
                    &:before {
                      content: "";
                      display: block;
                      background: url("./images/line.png") no-repeat;
                      height: 0.5mm;
                      width: 25.5mm;
                      margin-bottom: 3.5mm;
                    }
                  }
                  .box_collection {
                    margin-top: 2.5mm;
                    &:before {
                      content: "";
                      display: block;
                      background: url("./images/line.png") no-repeat;
                      height: 0.5mm;
                      width: 25.5mm;
                      margin-bottom: 3.5mm;
                    }
                    span.color_square {
                      display: inline-block;
                      width: 4mm;
                      height: 4mm;
                      margin-right: 1mm;
                      border-radius: 50%;
                      vertical-align: middle;
                      border: solid 0.3mm;
                    }
                    .color_text {
                      vertical-align: middle;
                      font-size: 9pt;
                    }
                    .squares_color {
                      display: inline-block;
                      padding-right: 1mm;
                      min-width: 33.33%;
                    }
                  }

                }
              }
            }

          }
          &[layout="2"] {
            .container-marquage {
              margin: inherit;
            }
            .marquage:first-child .container-marquage{
              float: left;
            } .marquage:last-child .container-marquage{
                float: right;
              }
          }
          &[layout="1"] {
            .marquage {
              margin: auto;
              display: inherit;
            }
          }
        }
      }

      .validation {
        position: relative;
        display: table-row;
        height: 100%;
        .comment {
          * {
            font-size: 12.5pt;
            line-height: 14.5pt;
            font-family: MyriadPro-Regular;
            text-align: justify;
          }
        }
      }
    }
    .footer {
      margin-bottom: 3mm;
      font-size: 9pt;
      color: #272425;
      font-family: MyriadPro-Regular;
      line-height: 11pt;
      margin-left: -9mm;
    }
    .accord {
      height: $height_accord;
      margin-left: -9mm;
      padding-top: 6mm;
      .accord-title {
        font-size: 18.5pt;
        line-height: 22.2pt;
        font-family: AcuminPro-Regular;
      }
      .accord-extra {
        font-size: 13.6pt;
        line-height: 16.5pt;
        font-family: AcuminProSemiCond-ExtraLight;
      }
    }

    .branding {
      position: absolute;
      bottom: 5mm;
      left: 7mm;
      * {
        position: relative;
        display: inline-block;
      }
      img.madeSpPicto {
        top: 1mm;
        left: 2mm;
      }
    }
    .pagination {
      position: absolute;
      font-family: Digital02;
      font-size: 17pt;
      color: #FFFFFF;
      line-height: 14mm;
      text-align: center;
      height: 14mm;
      width: 14mm;
      border-radius: 50%;
      background: #355EED;
      bottom: 5.9mm;
      right: 8mm;
    }

  }
}
