// =============================================================================
// String Replace
// =============================================================================
@function str-replace($string, $search, $replace: "") {
	$index: str-index($string, $search);

	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}

	@return $string;
}

// =============================================================================
// Font Face
// =============================================================================
@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
	$src: null;

	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}

@mixin set-fonts($fonts) {
    @each $name, $font in $fonts {
        $weight: if(map-has-key($font, weight), map-get($font, weight), null);
        $style : if(map-has-key($font, style), map-get($font, style), null);
        $format: if(map-has-key($font, format), map-get($font, format), ttf);

        @include font-face(
            $name,
            '../0_fonts/' + $name + '/' + map-get($font, file),
            $weight, $style, $format
        )
    }
}

img {
    max-width: 250px;
    max-height: 250px;
    height: auto;
    width: auto;
}

.uppercase {
    text-transform: uppercase;
}

.vertical-align {
    height: 100%;
    line-height: inherit;

    > * {
        display: inline-block;
        vertical-align: middle;
    }
}

[hidden-element] {
    display: none !important;
}

.branding {
	.madeSp {
		position: absolute;
		text-align: center;
		font-size: 4mm;
		color: #003d9c;
		// bottom: 12mm;
		// left: 10mm;
	}

	.madeSpPicto {
		position: absolute;
		// bottom: 13mm;
		// left: 51mm;
		width: 4mm;
	}
}
