@import '../template';

$height_padder: 297mm;
$width_padder: 210mm;
$height_header: 25.5mm;

$width_batinfo: 55mm;
$width_product: $width_padder - $width_batinfo;



@font-face {
  font-family: 'SourceCodePro-Regular';
  src: url('0_fonts/SourceCodePro-Regular.ttf') format("truetype");
}
@font-face {
  font-family: 'BMDANIEL-Bold';
  src: url('0_fonts/BMDANIEL-Bold.ttf') format("truetype");
}
@font-face {
  font-family: 'Myriad Pro Regular';
  src: url('0_fonts/Myriad Pro Regular.ttf') format("truetype");
}

@font-face {
  font-family: 'ArimaMadurai-Black';
  src: url('0_fonts/UTM Avo.ttf') format("truetype");
}
@font-face {
  font-family: 'UTM Avo';
  src: url('0_fonts/ArimaMadurai-Black.ttf') format("truetype");
}
@font-face {
  font-family: 'Effra Regular';
  src: url('0_fonts/Effra Regular.ttf') format("truetype");
}

@font-face {
  font-family: 'Optima Regular';
  src: url('0_fonts/Effra Regular.ttf') format("truetype");
}
@font-face {
  font-family: 'AcuminPro-Regular';
  src: url('0_fonts/AcuminPro-Regular.ttf') format("truetype");
}
@font-face {
  font-family: 'AcuminProSemiCond-ExtraLight';
  src: url('0_fonts/AcuminProSemiCond-ExtraLight.ttf') format("truetype");
}

.page {
  font-size: 0;
  box-sizing: border-box;
  height: $height_padder;
  width: $width_padder;
  * {
    box-sizing: border-box;
  }
  .d-table {
    display: table;
    width: 100%;
    height: 100%;
  }
  .d-table-row {
    display: table-row;
  }
  .d-table-cell {
    display: table-cell;
    vertical-align: middle;
  }
  .h-100 {
    height: 100%;
  }
  .w-100 {
    width: 100%;
  }
  .padder {
    height: $height_padder;
    width: $width_padder;
    background: url("./images/background.png") no-repeat;
    background-size: $width_padder $height_padder;
    position: relative;
    &.page-product {
      padding-bottom: 20mm;
    }
    .bat-header {
      height: $height_header;
      padding: 7mm;
      .company {
        float: left;
        * {
          font-size: 19.7pt;
          color: #231F20;
          line-height: 11.5mm;
          font-family: "Myriad Pro Regular";
        }
        img {
          height: 11.5mm;
        }
      }
      .title-header {
        float: right;
        font-size: 19.7pt;
        color: #231F20;
        line-height: 11.5mm;
        font-family: "Myriad Pro Regular";
        height: 100%;
      }
    }

    .client-title {
      background: #FFFFFF;
      position: relative;
      padding: 0 20mm;
      height: 45mm;
      margin-bottom: 8mm;
      .client-container {
        position: absolute;
        width: 45mm;
        height: 45mm;
        background: url("./images/client.png") no-repeat;
        background-size: 100% 100%;
        padding: 5px;
        display: table;
      }
      .client {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        font-family: "SourceCodePro-Regular";
        font-size: 19.1pt;
        line-height: 23pt;
        color: #ffffff;
      }
      .product-title {
        background: url("./images/bg_title.png") no-repeat;
        padding: 3mm;
        // font-family: "BMDANIEL-Bold";
        font-family: "Myriad Pro Regular";
        font-size: 20pt;
        line-height: 24pt;
        background-size: 100% 100%;
        color: #ffffff;
        margin-left: 33mm;
        padding-left: 17mm;
      }
    }


    .bat-content {
      .bat-infos {
        width: $width_batinfo;
        padding-left: 7mm;
        padding-right: 5mm;
        float: left;
        border-right: solid 0.3mm #000000;
        .info-container {
          .info {
            margin-bottom: 1mm;
            .label {
              margin-right: 3mm;
            }
            * {
              font-family: "UTM Avo";
              font-size: 9.4pt;
              line-height: 11.3pt;
            }

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
      .container-product {
        width: $width_product;
        float: left;
        .product-pictures {
          padding-right: 7mm;
          .picture {
            width: 50%;
            display: inline-block;
            margin: auto;
            height: 100%;
            .picture-item {
              margin: auto;
              position: relative;
              .picture-container {
                position: relative;
                margin: auto;
                height: 68mm;
                border-right: solid 0.3mm #000000;
                img {
                  position: absolute;
                  top: 0;
                  right: 0;
                  bottom: 0;
                  left: 0;
                  margin: auto;
                  max-width: 53mm;
                  max-height: 68mm;
                }
              }
              .picture-label {
                text-align: center;
                font-size: 21pt;
                line-height: 25.1pt;
                font-family: "ArimaMadurai-Black";
                color: #231F20;
                text-transform: uppercase;
              }
            }
          }
          &[layout="1-p"] {
            .picture {
              width: 100%;
            }
          }
        }
      }
    }
    .validation {
      color: #231F20;
      .comment-content {
        padding: 15mm 10mm 0;
        font-size: 12.6pt;
        line-height: 15.5pt;
        font-family: "Effra Regular";
        .margin {
          margin-bottom: 3mm;
        }
      }

    }
    .text-note {
      padding: 0 10mm;
      font-size: 9.7pt;
      line-height: 11.5pt;
      margin-top: 5mm;
      margin-bottom: 3mm;
      font-family: 'Optima Regular';
    }
    .accord {
      .accord-header {
        background: url("./images/bg_accord.png") no-repeat;
        width: 43mm;
        height: 43mm;
        background-size: 43mm 43mm;
        margin-left: 10mm;
        position: relative;
        .accord-title {
          font-size: 9.5pt;
          line-height: 11.5pt;
          font-family: "AcuminPro-Regular";
          display: inline-block;
          position: absolute;
          top: 18mm;
          left: 0;
          right: 0;
          padding-left: 6mm;
        }
        .accord-extra {
          font-size: 7pt;
          line-height: 8.5pt;
          position: absolute;
          font-family: "AcuminProSemiCond-ExtraLight";
          top: 23mm;
          left: 0;
          right: 0;
          padding-left: 6mm;
        }
      }
    }
    .branding {
      position: absolute;
      bottom: 1mm;
      left: 7mm;
      * {
        position: relative;
        display: inline-block;
      }
      img.madeSpPicto {
        top: 1mm;
        left: 2mm;
      }
    }
    .pagination {
      position: absolute;
      font-family: "AcuminPro-Regular";
      font-size: 27.2pt;
      text-align: center;
      line-height: 11.8mm;
      height:  11.8mm;
      width:  11.8mm;
      border: solid 0.4mm #000000;
      background: #FFFFFF;
      bottom: 8mm;
      right: 11.3mm;
    }
  }
  .pageEmplacements {
    .client-title {
      position: relative;
      background: transparent;
      &:before {
        position: absolute;
        content: "";
        width: 100mm;
        height: 8mm;
        background: #FFFFFF;
        right: 15mm;
        top: 2mm;
      }
    }
    .bat-infos {
      padding-left: 60mm;
      margin-top: -16mm;
      z-index: 1;
      .info-container {
        .info {
          margin-bottom: 2mm;
          display: inline-block;
          min-width: 50%;
          float: left;
          .label {
            margin-right: 4mm;
          }
          * {
            font-family: "UTM Avo";
            font-size: 12.5pt;
            line-height: 15pt;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    .bat-content {
      .marquages {
        height: 100%;
        width: 100%;
        padding-top: 15mm;
        .contenaire_emplacements {
          display: table;
          width: 100%;
          .marquage {
            display: table-cell;
            .container-marquage{
              width: 92mm;
              margin: auto;
              position: relative;
              padding: 0 7mm 7mm;
              .logo-image {
                position: relative;
                .marquage-image {
                  width: 78mm;
                  height: 55mm;
                  padding: 4mm;
                  position: relative;
                  margin: auto;
                  img {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    margin: auto;
                    max-width: 54mm;
                    max-height: 40mm;
                  }
                }

              }
              .row-info {
                margin-top: 10MM;
                .box-logo-info {
                  p {
                    margin: 0;
                  }
                  .box_fonts {
                    * {
                      display: inline-block;
                    }
                    .font_text {
                      margin-right: 2mm;
                    }
                  }
                  .marquage-namebox, .fonts_use, .collection_name {
                    font-size: 14pt;
                    font-family: "ArimaMadurai-Black";
                    color: #6292C7;
                    line-height: 17pt;
                    margin-bottom: 1mm;
                  }
                  .marquage-size, .box_fonts, .squares_color, .marquage-comment {
                    * {
                      font-size: 11pt;
                      font-family: "Myriad Pro Regular";
                      line-height: 14pt;
                      color: #020202;
                    }
                    font-size: 11pt;
                    font-family: "Myriad Pro Regular";
                    line-height: 14pt;
                    color: #020202;
                  }
                  .fonts_use {
                    margin-top: 2.5mm;
                    &:before {
                      content: "";
                      display: block;
                      background: url("./images/line.png") no-repeat;
                      height: 0.7mm;
                      width: 33.5mm;
                      margin-bottom: 2.5mm;
                    }
                  }
                  .box_collection {
                    margin-top: 1.5mm;
                    &:before {
                      content: "";
                      display: block;
                      background: url("./images/line.png") no-repeat;
                      height: 0.7mm;
                      width: 33.5mm;
                      margin-bottom: 2.5mm;
                    }
                    span.color_square {
                      display: inline-block;
                      width: 4mm;
                      height: 4mm;
                      border-radius: 50%;
                      margin-right: 1mm;
                      vertical-align: middle;
                      border: solid 0.3mm #000000;
                    }
                    .color_text {
                      vertical-align: middle;
                      font-size: 9pt;
                      line-height: 11pt;
                      font-family: "Myriad Pro Regular";
                    }
                    .squares_color {
                      display: inline-block;
                      padding-right: 2mm;
                      min-width: 33.33%;
                    }
                  }

                }
              }
            }
          }
          &[layout="1"] {
            .marquage {
              width: 100%;
            }
          }
        }

        .contenaire_emplacements {
          &[layout="2"]{
            .marquage {
              width: 50%;
              &:first-child {
                border-right: solid 0.4mm #000000;
              }
              .line:before {
                width: 115mm / 2;
              }
              &:first-child {
                .line:before {
                  float: right;
                  margin-right: -7mm;
                }
              }
              &:last-child {
                .line:before {
                  float: left;
                  margin-left: -7mm
                }
              }
            }
          }
        }
      }
      }
  }
}
