@import '../template';

$height_padder: 210mm;
$width_padder: 297mm;
$padding_page: 8.5mm;

$height_header: 20.4mm;
$width_sidebar: 72.5mm;
$width_content_product: $width_padder - $padding_page * 2 - $width_sidebar  - 1px;

$height_info: 28.5mm;
$height_footer: 38mm;
$height_validation: 45mm;
$height_accord: 68.1mm;
$height_content: $height_padder - $height_header - $height_footer;
$height_product: $height_content - $height_validation - $height_info;

@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('0_fonts/Myriad Pro Regular.ttf') format("truetype");
}
@font-face {
  font-family: 'MyriadPro-Light';
  src: url('0_fonts/MyriadPro-Light.ttf') format("truetype");
}

@font-face {
  font-family: 'UTM Avo';
  src: url('0_fonts/UTM Avo.ttf') format("truetype");
}
@font-face {
  font-family: 'AcuminPro-Regular';
  src: url('0_fonts/AcuminPro-Regular.ttf') format("truetype");
}
@font-face {
  font-family: 'AcuminProSemiCond-ExtraLight';
  src: url('0_fonts/AcuminProSemiCond-ExtraLight.ttf') format("truetype");
}

@font-face {
  font-family: 'Digital02';
  src: url('0_fonts/digital2.ttf') format("truetype");
}

.page {
  font-size: 0;
  box-sizing: border-box;
  height: $height_padder;
  width: $width_padder;
  * {
    box-sizing: border-box;
  }
  .padder {
    height: $height_padder;
    width: $width_padder;
    background-size: $width_padder $height_padder !important;
    background-color: #FFFFFF !important;
    position: relative;
    background: url("./images/background.png") no-repeat;
    .bat-header {
      padding: 6.2mm 4mm 4.6mm $padding_page;
      height: $height_header;

      div {
        display: inline-block;
      }

      .block-header {
        height: 9.14mm;
        img {
          height: 8.5mm;
          max-width: inherit;
        }

        * {
          line-height: 8.5mm;
          font-size: 16pt;
          color: #FFFFFF;
          font-family: MyriadPro-Regular;
        }
      }

      .title-header {
        float: right;
        font-size: 19pt;
        color: #FFFFFF;
        font-family: MyriadPro-Regular;
      }

    }

    .bat-content {
      height: $height_content;
      padding: 0 $padding_page;
      margin-top: 5.7mm;
      .sidebar {
        width: $width_sidebar;
        float: left;
        height: 100%;
        display: inline-block;
        display: table;
        > div {
          display: table-row;
        }
        .bat-infos {
          .bat-infos-box {
            background: #010101;
            padding: 2.5mm;
            border-radius: 2mm;
            margin-bottom: 7mm;
          }

          * {
            color: #FFFFFF;
          }
          .client {
            font-size: 15pt;
            font-family: MyriadPro-Regular;
            line-height: 18pt;
          }
          .info-container {
            overflow: hidden;
            .info {
              display: inline-block;
              min-width: 50%;
              float: left;
              * {
                font-size: 10pt;
                font-family: MyriadPro-Light;
              }
              margin: 0.5mm 0;
              &:last-child {
                margin-bottom: 0;
              }
              .value {
                float: right;
                margin-left: 2mm;
                margin-right: 2mm;
              }
            }
          }
        }
        .validation {
          .comment {
            * {
              font-size: 12pt;
              line-height: 14.5pt;
              font-family: MyriadPro-Regular;
              text-align: justify;
            }
          }
        }
        .text-note {
          font-size: 9pt;
          color: #272425;
          font-family: MyriadPro-Regular;
          line-height: 11pt;
          text-align: justify;
          margin-bottom: 3mm;
          margin-top: 5mm;
        }
        .accord-container {
          height: 100%;
          .accord {
            height: 100%;
            padding: 2mm;
            border: solid 0.5mm #000000;
            border-radius: 2mm;
            .accord-title {
              font-size: 12.5pt;
              line-height: 15pt;
              font-family: AcuminPro-Regular;
            }
            .accord-extra {
              font-size: 9.1pt;
              line-height: 11pt;
              font-family: AcuminProSemiCond-ExtraLight;
            }
          }
        }
      }

      .header-logo {
        .sidebar {
          display: inline-block;
          height: auto;
        }
        .product-title {
          width: $width_content_product;
          float: left;
          display: inline-block;
          padding-left: 7.5mm;
        }
        .bat-infos {
          display: block;
        }
      }
      .product-title {
        font-size: 19pt;
        line-height: 22pt;
        font-family: "UTM Avo";
        margin-top: 5mm;
        margin-bottom: 9.5mm;
        text-align: center;
      }
      .container-product {
        width: $width_content_product;
        float: left;
        display: inline-block;
        padding-left: 7.5mm;

        .product-pictures {
          .picture {
            display: inline-block;
            width: 50%;
            .picture-item {
              background: url("./images/border_product.png") no-repeat;
              background-size: 100% 100% !important;
              height: 120mm;
              width: 94mm;
              margin: auto;
              position: relative;
              .picture-container {
                position: relative;
                height: 120mm;
                width: 78mm;
                margin-left: 16mm;
                img {
                  position: absolute;
                  top: 0;
                  right: 0;
                  bottom: 0;
                  left: 0;
                  margin: auto;
                  max-width: 48mm;
                  max-height: 61mm;
                }
              }
              .picture-label-container {
                text-align: center;
                font-size: 16pt;
                font-family: "UTM Avo";
                color: #FFFFFF;
                text-transform: uppercase;
                position: absolute;
                top: 10mm;
                max-width: 27.2mm;
                width: 27.2mm;
                height: 27.2mm;
                display: table;
                .picture-label {
                  display: table-cell;
                  vertical-align: middle;
                }
              }
            }
          }
          &[layout="1-p"] {
            .picture {
              width: 100%;
            }
          }
        }

      }

      .marquages {
        clear: both;
        padding: 0 15mm;
        .contenaire_emplacements {
          .marquage {
            display: inline-block;
            width: 50%;
            .container-marquage {
              height: 126.5mm;
              width: 129mm;
              margin: auto;
              background: url("./images/border_logo.png") no-repeat;
              background-size: 120mm 117.5mm !important;
              .logo-image {
                width: 68.8mm;
                height: 75mm;
                position: relative;
                .marquage-image {
                  height: 40mm;
                  width: 50mm;
                  position: absolute;
                  top: 0;
                  right: 0;
                  bottom: 0;
                  left: 0;
                  margin: auto;
                }
                .marquage-image {
                  img {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    margin: auto;
                    max-width: 47mm;
                    max-height: 34mm;
                  }
                }
              }
              .row-info {
                width: 56.8mm;
                height: 75mm;
                margin-left: 61mm;
                margin-top: -14mm;
                .box-logo-info {
                  p {
                    margin: 0;
                  }
                  .box_fonts {
                    * {
                      display: inline-block;
                    }
                    .font_text {
                      margin-right: 2mm;
                    }
                  }
                  .marquage-namebox, .fonts_use, .collection_name {
                    font-size: 11.5pt;
                    font-family: "UTM Avo";
                    color: #6292C7;
                    line-height: 14pt;
                    margin-bottom: 1mm;
                  }
                  .marquage-size, .box_fonts, .squares_color, .marquage-comment {
                    font-size: 9pt;
                    font-family: MyriadPro-Regular;
                    line-height: 11pt;
                  }
                  .fonts_use {
                    margin-top: 2.5mm;
                    &:before {
                      content: "";
                      display: block;
                      background: url("./images/line.png") no-repeat;
                      height: 0.5mm;
                      width: 20.5mm;
                      margin-bottom: 1.5mm;
                    }
                  }
                  .box_collection {
                    margin-top: 1.5mm;
                    &:before {
                      content: "";
                      display: block;
                      background: url("./images/line.png") no-repeat;
                      height: 0.5mm;
                      width: 25.5mm;
                      margin-bottom: 1.5mm;
                    }
                    span.color_square {
                      display: inline-block;
                      width: 3.5mm;
                      height: 3.5mm;
                      margin-right: 1mm;
                      border-radius: 50%;
                      vertical-align: middle;
                      border: solid 0.3mm #000000;
                    }
                    .color_text {
                      vertical-align: middle;
                      font-size: 7.1pt;
                    }
                    .squares_color {
                      display: inline-block;
                      padding-right: 1mm;
                      min-width: 33.33%;
                    }
                  }

                }
              }
            }

          }
          &[layout="2"] {
            .container-marquage {
              margin: inherit;
            }
            .marquage:first-child .container-marquage{
              float: left;
            } .marquage:last-child .container-marquage{
                float: right;
              }
          }
          &[layout="1"] {
            .marquage {
              margin: auto;
              display: inherit;
            }
          }
        }
      }



    }

    .branding {
      position: absolute;
      bottom: 5mm;
      left: 7mm;
      * {
        position: relative;
        display: inline-block;
      }
      img.madeSpPicto {
        top: 1mm;
        left: 2mm;
      }
    }
    .pagination {
      position: absolute;
      font-family: "UTM Avo";
      font-size: 22pt;
      color: #FFFFFF;
      text-align: center;
      line-height: 14.5mm;
      height: 14.5mm;
      width: 14.5mm;
      background: url("./images/bg_paging.png") no-repeat;
      background-size: 14.5mm 14.5mm;
      bottom: 5mm;
      right: 8mm;
    }

  }
}
