@import '../template';
@import '../landscape';
$primary: #003d9c !default;
$secondary: #d8d8d8 !default;
$secondary_light: #f4f4f4;
$text_primary: #000;
$text_secondary: #fff;
$background: #f9fafb;
$primary_font: "Montserrat" !default;
$background_light: #fff ;

@include set-fonts((
    'Montserrat': (
        'file': 'Montserrat-Regular'
    ),
    'Montserrat': (
        'file': 'Montserrat-SemiBold',
        'weight': 600
    )
));

.branding {
	.madeSp {
		bottom: 12mm;
		left: 10mm;
	}

	.madeSpPicto {
		bottom: 13mm;
		left: 51mm;
	}
}

.page {
    margin-bottom: 100px !important;

    * {
        font-family: $primary_font, sans-serif;
    }

    .bat-header {
        background-color: $primary;
        // background-color: $colors_bat;
        color: $text_secondary;
        white-space: nowrap;
        padding: 5mm 10mm;
        font-size: 6mm;
        height: 10mm;
        line-height: 10mm;

        > div {
            display: inline-block;
            width: 50%;

            &:nth-child(1) {text-align: left;}
            &:nth-child(2) {text-align: right;}

            .logo_header {
                max-height: 100%;
            }
        }

    }

    .bat-content {
        height: 210mm - 20mm; // height page - (height header + padding Y)
        background-color: $background;
        white-space: nowrap;

        > div {
            display: inline-block;
            vertical-align: top;
            box-sizing: border-box;

            &.sidebar {
                width: 70mm;
                background-color: $secondary_light;
                padding: 5mm;
                position: relative;
                height: 100%;
    
                .bat-infos {
                    font-size: 3mm;
    
                    .client {
                        color: $primary;
                        font-size: 4mm;
                    }
    
                    .info {
                        white-space: nowrap;
                        margin-top: 2mm;
    
                        span {
                            display: inline-block;
                            width: 50%;
                        }
                    }
                }
    
                .validation {
                    position: absolute;
                    bottom: 20mm;
                    left: 5mm;
                    right: 5mm;
    
                    .comment {
                        position: absolute;
                        bottom: 40mm;
                        font-size: 3mm;
                        padding: 1px;
                        white-space: normal;
                    }
    
                    .accord {
                        height: 35mm;
                        padding: 1.5mm 3mm;
                        background: #fff;
                        border: 1px solid #d8d8d8;

                        .accord-header {
                            .accord-title {
                                font-size: 4mm;
                            }
    
                            .accord-extra {
                                display: block;
                                font-size: 2.5mm;
                            }
                        }
                    }
                }
    
                .pagination {
                    text-align: center;
                    color: $primary;
                    position: absolute;
                    bottom: 5mm;
                    left: 0;
                    width: 100%;
                    font-size: 4mm;
                }
            }
    
            &.product, &.marquages {
                width: 297mm - 70mm; // width page - width sidebar
                height: 100%;
                position: relative;
                padding: 10mm;

                .product-pictures, .contenaire_emplacements {
                    position: relative;

                    .picture, .marquage {
                        display: inline-block;
                        text-align: center;
                        padding: 5mm 2.5mm 15mm;
                        position: absolute;
                        background: #fff;
                        border: 1px solid #d8d8d8;

                        img {
                            max-width: 100%;
                            max-height: 100%;
                            display: inline-block;
                            vertical-align: middle;
                        }

                        &-label {
                            position: absolute;
                            bottom: 3mm;
                            left: 0;
                            width: 100%;
                            text-align: center;
                            color: $primary;
                            font-size: 5mm;
                            line-height: normal;
                        }
                    }
                }
            }

            &.product {
                .product-title {
                    font-size: 7mm;
                    color: $primary;
                    margin-bottom: 10mm;
                    white-space: normal;
                }

                .product-pictures {
                    &[layout="2-p"] {
                        .picture {
                            width: 85mm;
                            height: 100mm;
                            line-height: 100mm;

                            &:nth-child(1) {left: 0}
                            &:nth-child(2) {right: 0}
                        }
                    }

                    &[layout="3-p"], &[layout="6-p"] {
                        .picture {
                            width: 55mm;

                            &:nth-child(3n+1) {left: 0}
                            &:nth-child(3n+2) {left: 74mm}
                            &:nth-child(3n+3) {right: 0}
                        }
                    }

                    &[layout="3-p"] {
                        padding-top: 20mm;

                        .picture {
                            height: 70mm;
                            line-height: 70mm;
                        }
                    }

                    &[layout="6-p"] {
                        .picture {
                            height: 50mm;
                            line-height: 50mm;

                            &:nth-child(n+4) {top: 75mm}
                        }
                    }

                    &[layout="2-ls"], &[layout="4-ls"] {
                        .picture {
                            height: 40mm;
                            line-height: 40mm;
                        }
                    }

                    &[layout="2-ls"] {
                        .picture {
                            width: 202mm;

                            &:nth-child(1) {top: 0}
                            &:nth-child(2) {top: 70mm}
                        }
                    }

                    &[layout="4-ls"] {
                        .picture {
                            width: 95mm;

                            &:nth-child(2n+1) {left: 0}
                            &:nth-child(2n+2) {right: 0}
                            &:nth-child(n+3)  {top: 70mm}
                        }
                    }

                    &[layout="6-ls"] {
                        padding-top: 20mm;

                        .picture {
                            width: 60mm;
                            height: 25mm;
                            line-height: 25mm;

                            &:nth-child(3n+1) {left: 0}
                            &:nth-child(3n+2) {left: 70.5mm}
                            &:nth-child(3n+3) {right: 0}
                            &:nth-child(n+4)  {top: 70mm}
                        }
                    }
                    &[layout="1-p"] { 
                        .picture {
                            width: 200mm;
                            height: 120mm;
                        }

                    }
                }

                .product-notice {
                    position: absolute;
                    left: 0; right: 0;
                    bottom: 5mm;
                    font-size: 3mm;
                    text-align: center;
                }
            }

            &.marquages {
                padding: 6mm 20mm;

                .contenaire_emplacements {
                    .marquage {
                        padding-bottom: 5mm;

                        .marquage-image {
                            height: 100%;
                            background-image: url('https://www.superpictor.com/images/icons/transparent.png');
                            background-repeat: repeat;
                            background-position: 0 0;
                            background-color: #dbdbdb;
                            padding: 4mm;

                            .marquage_img {
                                vertical-align: top;
                            }
                        }

                        .marquage-details {
                            white-space: normal;

                            .marquage-name {
                                color: $primary;
                                font-size: 4.5mm;
                                padding: 2mm 0;
                            }
    
                            .marquage-size, .marquage-comment {
                                font-size: 3mm;
                            }

                            .marquage-comment {
                                padding-bottom: 3mm;
                            }

                            .marquage-size {
                                padding-bottom: 1mm;
                            }
                        }

                        .infos_container{
                            white-space: normal;
                            .text_font_container{
                                text-align: start;
                                .box_fonts{
                                    display: inline-block;
                                    padding: 1mm 4mm 2mm 0;
                                }
                                .fonts_use{
                                    text-align: start;
                                    font-weight: bold;
                                    margin: 0;
                                    margin-bottom: 3px;
                                }
                                .fonts_list, .font_text{
                                    display: inline-block;
                                }
                            }
                        }

                        .colors_container {
                            .box_squares_color {
                                .box_collection {
                                    padding: 1mm 0;
                                    text-align: start;
                                    .collection_name {
                                        font-weight: bold;
                                        margin: 0;
                                    }
                                }
                                &[type_display="0"] {
                                    .squares_color {
                                        display: block;
                                        text-align: left;
                                    }
                                }
                                &[type_display="1"] {
                                    .squares_color {
                                        display: inline-block;
                                    }
                                }
                            }
                            .squares_color {
                                padding: 1mm 4mm 2mm 0;
                                .color_square {
                                    margin-right: 0.2mm;
                                    display: inline-block;
                                    vertical-align: middle;
                                    border: 1px solid black;
                                    width: 3mm;
                                    height: 3mm;
                                }
                                .color_text {
                                    display: inline-block;
                                    vertical-align: middle;
                                    font-size: 12px;
                                }
                            }
                        }
                    }

                    &[layout="1"] {
                        // padding-top: 20mm;

                        .marquage {
                            width: 130mm;
                            // height: 120mm;
                            left: 20mm;

                            .marquage-image {
                                height: 60mm;
                                line-height: 110mm;
                            }
                        }
                    }

                    &[layout="2"] {
                        // padding-top: 30mm;

                        .marquage {
                            width: 95mm;
                            // height: 94mm;

                            .marquage-image {
                                height: 34mm;
                                line-height: 75mm;
                            }

                            &:nth-child(1) {left: -10mm}
                            &:nth-child(2) {right: -10mm}
                        }
                    }

                    &[layout="4"] {
                        .marquage {
                            width: 80mm;
                            height: 70mm;

                            .marquage-image {
                                height: 60mm;
                                line-height: 60mm;
                            }

                            &:nth-child(2n+1) {left: 0}
                            &:nth-child(2n+2) {right: 0}
                            &:nth-child(n+3)  {top: 90mm}
                        }
                    }

                    &[layout="6"] {
                        padding-top: 20mm;

                        .marquage {
                            width: 60mm;
                            height: 50mm;

                            .marquage-image {
                                height: 40mm;
                                line-height: 40mm;
                            }

                            &:nth-child(3n+1) {left: -10mm}
                            &:nth-child(3n+2) {left: 60mm}
                            &:nth-child(3n+3) {right: -10mm}
                            &:nth-child(n+4)  {top: 90mm}
                        }
                    }
                }
            }
        }
    }

    .fiche_produit_header {
        height: 10mm;
        background-color: #003d9c;
        padding: 5mm 6mm;
        color: white;
        position: relative;

        .client_company {
            position: absolute;
            font-size: 8mm;
        }
        .client_logo {
            height: 100%;
            margin-right: 3mm;
        }
        .client_name {
            position: absolute;
            right: 6mm;
            font-size: 8mm;
        }
    }

    .fiche_produit_content {
        font-size: 0;
        background-color: #f9fafb;
        padding: 6mm;
        height: 190mm;
        box-sizing: border-box;

        .product {
            height: 100%;
            box-sizing: border-box;
            
            // display: grid;
            // grid-template-columns: 114mm 170mm;
            .product_pictures {
                vertical-align: top;
                width: 139mm;
                display: inline-block;

                .picture {
                    max-width: 65mm;
                    width: 100%;
                    text-align: center;
                    display: inline-block;
                    // vertical-align: top;
                    background-color: white;
                    border: 1px solid #d8d8d8;
                    padding: 8mm 1mm 0 1mm;

                    &:nth-child(1) {
                        margin-bottom: 2mm;
                    }

                    &:nth-child(1), &:nth-child(3) {
                        margin-right: 1mm;
                    }

                    &:nth-child(2), &:nth-child(4) {
                        margin-left: 1mm;
                        margin-right: 1mm;
                    }

                    .picture_label {
                        padding: 3mm 0;
                        text-align: center;
                        font-size: 4mm;
                        color: #003d9c;
                    }
                }

                &[layout="1"] {
                    .picture {
                        width: 135mm;
                        max-width: 100%;
                        height: 169.4mm;
                        .imgpdt {
                            max-height: 156mm;
                            max-width: 134mm;
                        }
                        .picture_label {
                            font-size: 5mm;
                        }
                    }
                }

                &[layout="4"], &[layout="2"] {
                    .picture {
                        height: 79.4mm;
                        .imgpdt {
                            max-height: 68.7mm;
                        }
                    }
                }
            }
            .product_infos {
                background: white;
                border: 1px solid #d8d8d8;
                padding: 8mm;
                width: 145mm;
                display: inline-block;
                height: 100%;
                box-sizing: border-box;

                .m-3 {
                    margin-top: 5mm;
                }

                .info_text, li {
                    font-size: 3.6mm;
                }

                .info_title {
                    font-size: 4.2mm;
                    text-decoration: underline;
                    margin-bottom: 1.4mm;
                    font-weight: 600;
                }
                .product_title {
                    padding-right: 2mm;
                }

                .product_title, .product_current_color {
                    font-size: 6mm;
                    color: #003d9c;
                }
                .product_desc {
                    font-size: 3.5mm;
                    margin-top: 2mm;
                    line-height: 5mm;
                }
                .product_color {
                    .info_text {
                        text-align: justify;
                        line-height: 22px;
                    }
                }
                .product_category {
                    li {
                        margin: 0 0 1mm 4mm;
                    }
                }
            }
            .client_infos {
                margin-right: 2mm;
                background: white;
                border: 1px solid #d8d8d8;
                padding: 8mm;
            }
        }
    }
}